

h1.register-page-heading{
    font-weight: 900;
    font-size: 30px;
    color: #15087e;

}

h3.register-sub-heading{
    color: #009292;
}

.main-section-register-form{
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section-register-form .register-card{
    max-width: 500px;
    background-color: white;
    border-radius: 15px;
    padding: 20px 30px;
    width: 100%;
}

.register-card-header{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register-card-header .back-arrow-icon{
    cursor: pointer;
}


.register-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.already-have-account{
    text-align: center;
    margin-top: 20px;
}
