<div class="bg-[#CE75FF] flex items-center tranform-img-main gap-[10px] {{classes}}">
      <div class="tranform-img">
            <img src="/girl talking online.png">
      </div>
      <div class="flex flex-col items-center gap-[20px]">
            <h2 class="text-center text-[#ffffff] text-[30px]">Available Online</h2>
            <div class="flex items-center gap-[15px]">
                  <div class="flex flex-col gap-[4px] items-center text-[#ffffff] text-[20px] days-main-hover">
                        <span>Mon</span>
                        <span>4</span>
                  </div>
                  <div class="flex flex-col gap-[4px] items-center text-[#ffffff] text-[20px] days-main-hover days-main-hover-1">
                        <span>Mon</span>
                        <span>4</span>
                  </div>
                  <div class="flex flex-col gap-[4px] items-center text-[#ffffff] text-[20px] days-main-hover">
                        <span>Mon</span>
                        <span>4</span>
                  </div>
                  <div class="flex flex-col gap-[4px] items-center text-[#ffffff] text-[20px] days-main-hover">
                        <span>Mon</span>
                        <span>4</span>
                  </div>
                  <div class="flex flex-col gap-[4px] items-center text-[#ffffff] text-[20px] days-main-hover">
                        <span>Mon</span>
                        <span>4</span>
                  </div>
            </div>
      </div>
</div>