<div class="flex items-center gap-[40px] {{classes}} w-full overflow-hidden">
      <div class="cards4-1 bg-[#02565B]">
            <div class="cards4-1-img">
                  <img src="/1.1.png">
            </div>
            <div class="cards4-1-c">
                  Experience <br> 7 Years
            </div>
      </div>
      <div class="cards4-1 bg-[#24D0D0]">
            <div class="cards4-1-img">
                  <img src="/1.2.png">
            </div>
            <div class="cards4-1-c">
                  Senior
            </div>
      </div>                  
      <div class="cards4-1 bg-[#F9DB39]">
            <div class="cards4-1-img">
                  <img src="/1.3.png">
            </div>
            <div class="cards4-1-c">
                  Salary <br> $ 5000
            </div>
      </div>
      <div class="cards4-1 bg-[#ED7070]">
            <div class="cards4-1-img">
                  <img src="/1.4.png">
            </div>
            <div class="cards4-1-c">
                  2500 Rs
            </div>
      </div>
</div>