


<div class="flex items-center relative mb-[10px]">
    <input class="pl-[70px] w-full input-tc-form-field transition-all h-[55px] outline-none rounded-[16px] border-[2px] border-[#DEE8E9]" type="email" placeholder=" " name="email" id="email" autocomplete="off" required>
    <div class="flex input-tc-field-svg-icon items-center justify-center left-[2px] w-[51px] h-[51px] top-[2px] bg-[#F6F8FA] absolute rounded-tl-[14px] rounded-bl-[14px]">
        {% include 'Components/SVG/mail.html' %}
    </div>
    <div class="absolute input-field-icon-seperator transition-all h-[51px] w-[2px] bg-[#DEE8E9] left-[53px] top-[2px]"></div>
    <label class="cursor-text px-[5px] text-[#A9B8CB] transition-all bg-white input-tc-field-label absolute top-[50%] transform p-0 m-0 -translate-y-1/2 left-[63px]" for="email">Email</label>
</div>