
<div class="form-field">
    <label for="" class="form-input-label">{{label}}</label>
    <input type="password" name="{{name}}" error-border-element id="" {% if strong_password %}strong_password{% endif %} class="form-input" placeholder="{{placeholder}}" {{attributes}}>
    {% if strong_password %}
        <div class="flex mt-2 items-center justify-between gap-3 password-bars">
            <div class="h-[4px] rounded-lg bg-gray-100 flex-1 password-bar"></div>
            <div class="h-[4px] rounded-lg bg-gray-100 flex-1 password-bar"></div>
            <div class="h-[4px] rounded-lg bg-gray-100 flex-1 password-bar"></div>
            <div class="h-[4px] rounded-lg bg-gray-100 flex-1 password-bar"></div>
        </div>
    {% endif %}
</div>