<div class="form-field">
    <label for="{% if id %}{{id}}{% else %}{{name}}{% endif %}" class="form-input-label">{{label}}</label>
    <input type="text" autocomplete="off" error-border-element name="{{name}}" id="{% if id %}{{id}}{% else %}{{name}}{% endif %}" class="form-input {% if size == 'md' %} !py-[8px] !px-[10px] {% else %} !py-[8px] !px-[10px] md:!px-[20px] md:!py-[16px] {% endif %} focus:border focus:border-[#23d0d0] transition-all" placeholder="{{placeholder}}" {{attributes}} >
</div>