<div id='appointment_{{appointment.id}}' class="border border-[#CACBE6] rounded-lg flex items-center justify-between px-4 lg:px-5 lg:px-7 py-3 lg:py-3 md:py-4 lg:flex-row flex-col">
    <div class="flex-1 w-full flex lg:flex-row lg:items-center flex-col gap-5 lg:gap-0">
        <div class="max-w-max lg:border-r border-[#CACBE6] md:pr-8 cursor-default">
            <p class="text-[#0A1C4B] text-[17px] font-semibold text-center leading-[29px] {% if appointment.is_today %}text-[#e5511f]{% endif %}">{{appointment.day_name}}</p>
            <h3 class="text-[#0A1C4B] text-[43px] font-semibold text-center leading-[29px] {% if appointment.is_today %}text-[#e5511f]{% endif %}">{{appointment.date_prefix_zero}}</h3>
        </div>
        <div class="flex items-center flex-col-reverse sm:flex-row gap-6 flex-1 w-full lg:px-6">
            <div class="max-w-[240px] w-full mr-auto sm:m-0">
                <div class="flex items-center gap-1">
                    <span class="flex items-center justify-center size-6">
                        <i class="fa-solid fa-clock text-[#8f9296] text-sm"></i>
                    </span>
                    <p class="text-[#111111] text-xs outfit-font whitespace-nowrap flex-1">{{appointment.start_time}} - {{appointment.end_time}}</p>
                </div>
                <div class="flex items-center gap-1">
                    <span class="flex items-center justify-center size-6">
                        <i class="fa-solid fa-location-dot text-[#8f9296] text-sm"></i>
                    </span>
                    <p class="text-[#111111] text-xs outfit-font whitespace-nowrap line-clamp-1 flex-1">{% if appointment.appointment_location == 'Online' %}Online{% else %}{{appointment.doct_hospital.location.street_address}}{% endif %}</p>
                </div>
            </div>
            <div class="flex flex-col justify-between space-y-1">
                <h3 class="text-md font-medium text-[#151E2C] outfit-font line-clamp-1">{{appointment.name}}</h3>
                <div class="flex items-center -translate-x-2 transform">
                    <div class="bg-cover bg-center bg-no-repeat size-7 content-box rounded-full border-[2px] border-white translate-x-2" style="background-image: url({{appointment.doctor.profile_image}});"></div>
                    <div class="bg-cover bg-center bg-no-repeat size-7 rounded-full border border-white" style="background-image: url({{appointment.user.profile_image}});"></div>
                </div>
            </div>
        </div>
    </div>
    {% if appointment.status == 'Cancelled' or appointment.status == 'Expired' %}
        <div class="px-[24px] rounded-[8px] py-3 flex md:items-center relative gap-[8px] transition-all group mt-6 lg:mt-[0px] ml-auto {% if appointment.status == 'Expired' or appointment.status == 'Cancelled' %}bg-red-100 cursor-not-allowed{% else %}hover:bg-[#091c4b] bg-[#8f9296]/15 cursor-pointer{% endif %}">
            <p class="font-semibold text-sm transition-all {% if appointment.status == 'Expired' or appointment.status == 'Cancelled' %}text-red-600{% else %}text-[#0A1C4B] group-hover:text-white{% endif %}">{{appointment.status}}</p>
        </div>
    {% elif appointment.status == 'Finished' %}
        <div class="px-6 rounded-lg cursor-pointer py-3 flex md:items-center relative gap-2 transition-all hover:bg-green-700 bg-green-600 group mt-[14px] md:mt-[0px]">
            <p class="text-white font-semibold text-sm transition-all ">{{appointment.status}}</p>
            <i class="fa-solid fa-angle-down text-white transition-all text-sm group-hover:rotate-[180deg]"></i>
            <div class="absolute right-0 top-[45px] pt-[6px] hidden group-hover:block z-50 ">
                <div class="rounded-[8px] w-[220px] bg-white border border-[#8f9296]/40 relative z-50">
                    <div class="p-[6px] ">
                        <div class="flex items-center gap-1.5 w-full group/item hover:bg-[#8f9296]/15 transition-all rounded-[7px] cursor-pointer px-[13px] py-[8px]">
                            <span class="flex items-center justify-center size-5">
                                <i class="fa-solid fa-clock text-[#8f9296] group-hover/item:text-black transition-all "></i>
                            </span>
                            <p class="text-[#4f5051] font-medium group-hover/item:text-black transition-all whitespace-nowrap">Share feedback</p>
                        </div>
                        <div class="flex items-center gap-[6px] w-full group/item hover:bg-[#8f9296]/15 transition-all rounded-[7px] cursor-pointer px-[13px] py-[8px] mt-[9px]">
                            <span class="flex items-center justify-center size-5">
                                <i class="fa-solid fa-location-dot text-[#8f9296] group-hover/item:text-black transition-all"></i>
                            </span>
                            <p class="text-[#4f5051] font-medium group-hover/item:text-black transition-all whitespace-nowrap">Edit location</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="px-6 rounded-lg cursor-pointer py-3 flex md:items-center relative gap-[8px] transition-all hover:bg-black bg-[#8f9296]/15 group mt-6 lg:mt-[0px] ml-auto">
            <p class="text-sm font-medium text-[#151E2C] outfit-font group-hover:text-white transition-all">Action</p>
            <i class="fa-solid fa-angle-down text-[#151E2C] group-hover:text-white transition-all text-sm group-hover:rotate-[180deg]"></i>
            <div class="absolute right-0 top-[45px] pt-[6px] hidden group-hover:block z-50">
                <div class="rounded-lg w-[240px] bg-white border border-[#CACBE6]/40 relative z-50">
                    <!-- <div class="p-1.5">
                        <div class="flex items-center gap-[6px] w-full group/item hover:bg-[#8f9296]/15 transition-all rounded-lg cursor-pointer px-3 py-2">
                            <span class="flex items-center justify-center h-[20px] w-[20px]">
                                <i class="fa-solid fa-clock text-[#8f9296] group-hover/item:text-black transition-all"></i>
                            </span>
                            <p class="text-[#4f5051] font-medium group-hover/item:text-black transition-all whitespace-nowrap">Reschedule Appointment</p>
                        </div>
                        <div class="flex items-center gap-[6px] w-full group/item hover:bg-[#8f9296]/15 transition-all rounded-lg cursor-pointer px-3 py-2 mt-2">
                            <span class="flex items-center justify-center h-[20px] w-[20px]">
                                <i class="fa-solid fa-location-dot text-[#8f9296] group-hover/item:text-black transition-all"></i>
                            </span>
                            <p class="text-[#4f5051] font-medium group-hover/item:text-black transition-all whitespace-nowrap">Edit location</p>
                        </div>
                    </div> -->
                    <div class="p-1.5">
                        <a href='{% url "CancelMyAppointment" appointment.id %}' class="flex items-center gap-[6px] w-full group/item bg-red-100 transition-all rounded-[7px] cursor-pointer px-[13px] py-[8px]">
                            <span class="flex items-center justify-center h-[18px] w-[18px] p-[4px] rounded-[100px] bg-red-600 transition-all">
                                <i class="fa-solid fa-xmark text-white text-[12px] transition-all"></i>
                            </span>
                            <p class="text-[#4f5051] font-medium transition-all text-red-600 whitespace-nowrap">Cancel Appointment</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% if appointments|length > 0 %}
    {% for appointment in appointments %}
        
    {% endfor %}
{% else %}
    <p class="text-center text-[#8f9296] font-medium text-lg py-6">
        No appointments booked yet.
    </p>
{% endif %}