{% extends 'Components/Base.html' %}
{% load static %}
{% block title %}Your Appointments{% endblock title %}

{% block BaseCSS %}
    <link rel="stylesheet" href="{% static 'assets/swiper/main_swiper.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/Trauma/static/assets/css/UtlityClasses/utility.css">

    <style>
        .transition{
            transition: all 0.3s ease-in-out;
        }
        input[name="status"]:checked + label{
            background-color: white !important;
        }
    </style>
{% endblock BaseCSS %}


{% block baseBody %}

    <section class="max-w-[1200px] mx-auto py-[50px] px-4 md:px-5">
        <h2 class="text-[#0A1C4B] text-[40px] font-semibold ">Bookings</h2>
        <p class="text-[#0A1C4B] text-[17px] font-medium mt-[6px] ">See your scheduled event from our calender events links.</p>
        <form action="" class="mt-[40px] flex items-center gap-[10px] rounded-[8px] bg-[#8f9296]/15 p-[6px] max-w-max overflow-auto ">
            <input class="hidden" id="ALL" type="radio" value="ALL" name="status" {% if request.GET.status == 'ALL' or not request.GET.status %}checked{% endif %} >
            <label for="ALL" class="rounded-[8px] flex items-center justify-center max-w-max hover:bg-white transition-all px-[24px] text-[17px] font-medium py-[8px] text-[#0A1C4B] cursor-pointer ">
                All
            </label>

            <input class="hidden" id="Upcoming" type="radio" value="Upcoming" name="status" {% if request.GET.status == 'Upcoming' %}checked{% endif %} >
            <label for="Upcoming" class="rounded-[8px] flex items-center justify-center max-w-max hover:bg-white transition-all px-[24px] text-[17px] font-medium py-[8px] text-[#0A1C4B] cursor-pointer ">
                Upcoming
            </label>

            <input class="hidden" id="Past" type="radio" value="Past" name="status" {% if request.GET.status == 'Past' %}checked{% endif %} >
            <label for="Past" class="rounded-[8px] flex items-center justify-center max-w-max hover:bg-white transition-all px-[24px] text-[17px] font-medium py-[8px] text-[#0A1C4B] cursor-pointer ">
                Past
            </label>

            <input class="hidden" id="Cancelled" type="radio" value="Cancelled" name="status" {% if request.GET.status == 'Cancelled' %}checked{% endif %} >
            <label for="Cancelled" class="rounded-[8px] flex items-center justify-center max-w-max hover:bg-white transition-all px-[24px] text-[17px] font-medium py-[8px] text-[#0A1C4B] cursor-pointer ">
                Cancelled / Expired
            </label>
        </form>
        <script>
            const radios = document.querySelectorAll('input[name="status"]');
            radios.forEach(radio => {
                radio.addEventListener('change', () => {
                    let form = radio.closest('form')
                    if (form){
                        form.submit()
                    }
                })
            })
        </script>
        <div class=" mt-7 " >
            {% for month_name, apps in appointments.items %}
                <div>
                    <h3 class="font-semibold text-[24px] text-[#464749] px-[30px] bg-white py-3 sticky top-[80px] z-[10]">{{month_name}}</h3>
                    {% for appointment in apps %}
                        {% include 'Appointment/AppointmentCard.html' with appointment=appointment %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock baseBody %}