
{% extends 'Pharmacy/PharmacyBase.html' %}
{% load static %}

{% block title %}Pharmacy{% endblock title %}

{% block mainBaseCSS %}

{% endblock mainBaseCSS %}

{% block pharmacy_body %}
    <main class="px-4 sm:px-6 md:px-8 py-7 space-y-10">
        <section class="max-w-[1500px] mx-auto flex gap-10 flex-col lg:flex-row">
            <div class="flex-1 space-y-7">
                <div class="space-y-2">
                    <h3 class="bg-clip-text text-transparent bg-gradient-to-r from-[#0755E9] to-[#05DC75] text-3xl md:text-4xl font-extrabold max-w-max">
                        Shopping Cart
                    </h3>
                    <div class="flex items-center justify-between">
                        <p class="text-lg text-[#151E2C] font-semibold">Items in your cart ({{data|length}})</p>
                        {% if data|length > 0 %}
                            <button onclick="ClearCart()">Clear Cart</button>
                        {% endif %}
                    </div>
                </div>

                <!-- if have -->
                {% if data|length > 0 %}

                    <div>
                        {% for product in data %}
                            <div class="py-3 flex gap-3 border-b border-[#CACBE6] w-full">
                                <a href="{% url 'SingleMedicineViewPage' product.slug %}?selected_location={{product.location_id}}" class="max-w-[150px] w-full h-28 flex items-center justify-center">
                                    <img src="{{product.image}}" alt="">
                                </a>
                                <div class="flex-1 space-y-2">
                                    <div class="flex items-center justify-between gap-2">
                                        <a href="{% url 'SingleMedicineViewPage' product.slug %}?selected_location={{product.location_id}}" class="font-medium outfit-font text-[#151E2C] line-clamp-2">{{product.name}}</a>
                                        <div class="flex items-center gap-1">
                                            {% if product.discount %}
                                                <span class="text-xs text-[#3C3C3C]/60"><del>{{product.price}}</del></span>
                                            {% endif %}
                                            <p class="text-[#05D57C] outfit-font font-semibold italic flex items-center"><span class="font-medium text-[#151E2C] text-xs">Rs.</span>{{product.final_price}}<span class='text-black text-md outfit-font font-[300] ml-2'>x {{product.quantity}}</span></p>                          
                                        </div>
                                    </div>
                                    <div class="text-[#FFFFFF] text-[10px] bg-[#F01275] max-w-max rounded-full px-2.5 py-[3px] line-clamp-1 outfit-font">{{product.store_name}}</div>
                                    <span onclick="removeItemFromCart('{{product.id}}')" class="ml-auto flex items-center justify-center size-6 cursor-pointer">
                                        <svg class="size-4 fill-black/50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z"/></svg>
                                    </span>
                                    {% comment %} <div class="flex items-center justify-end">
                                        <div class="flex items-center rounded-md bg-[#6C7793] w-[100px] h-[30px] p-[1px]">
                                            <button class="cursor-pointer text-white font-semibold flex-1 h-full flex items-center justify-center">-</button>
                                            <p class="text-[#0A1C4B] font-semibold rounded-md flex-1 h-full flex bg-white items-center justify-center outfit-font">{{product.quantity}}</p>
                                            <button class="cursor-pointer text-white font-semibold flex-1 h-full flex items-center justify-center">+</button>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <!-- else -->

                    <div class="flex items-center justify-center space-y-2 flex-col">
                        <div class="size-52 flex items-center justify-center">
                            <img src="{% static 'assets/Images/traumacareAIcare/add-item-cart.png' %}" alt="">
                        </div>
                        <p class="text-sm text-[#111111] outfit-font text-center">No medicine added to cart yet</p>
                        <a href="/pharmacy/" class="flex-1 text-sm rounded-md flex items-center justify-center border border-[#0A1C4B] text-[#0A1C4B] max-w-max mx-auto px-5 py-2.5 outfit-font">
                            Add Medicine Now
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="lg:max-w-[410px] xl:max-w-[460px] w-full">
                <div class="px-5 py-4 rounded-lg bg-[#f4f6f9] sticky top-[140px]">
                    <div class="flex items-center justify-between py-3 border-b border-[#CACBE6]">
                          <h4 class="text-[#151E2C] outfit-font font-medium text-sm">Subtotal:</h4>
                          <p class="text-[#151E2C] outfit-font font-medium text-sm">Rs.{{subtotal}}</p>
                    </div>
                    <div class="flex items-center justify-between py-3 border-b border-[#CACBE6]">
                          <h4 class="text-[#0555E9] outfit-font font-medium text-sm">Discount Applied:</h4>
                          <p class="text-[#0555E9] outfit-font font-medium text-sm">Rs. {% if discount_applied %}-{% endif %}{{discount_applied}}</p>
                    </div>
                    <div class="flex items-center justify-between py-3 border-b border-[#CACBE6]">
                          <h4 class="text-[#151E2C] outfit-font font-medium text-sm">Platform Fee:</h4>
                          <p class="text-[#151E2C] outfit-font font-medium text-sm">Rs.{{platform_fee}}</p>
                    </div>
                    <div class="flex items-center justify-between py-3 border-b border-[#CACBE6]">
                          <h4 class="text-[#151E2C] outfit-font font-medium text-sm">Delivery Charges:</h4>
                          <p class="text-[#151E2C] outfit-font font-medium text-sm">Rs.{{delivery_charges}}</p>
                    </div>
                    <div class="flex items-center justify-between py-3">
                          <h4 class="text-[#151E2C] outfit-font font-semibold text-sm">Grand Total:</h4>
                          <p class="text-[#000] outfit-font font-medium text-sm italic">Rs.{{grand_total}}</p>
                    </div>
                    <div class="flex items-center gap-2 pt-6 pb-2">
                        <a href='{% if data|length > 0 %}{% url "PharmacyCartCheckoutPage" %}{% else %}#{% endif %}' class="{% if data|length > 0 %}disabled bg-[#0A1C4B] text-white cursor-pointer{% else %}bg-gray-300 cursor-not-allowed{% endif %} flex-1 text-sm rounded-md flex items-center justify-center py-3 outfit-font">
                            Checkout
                        </a>
                    </div>
              </div>
            </div>
        </section>
        <section class="max-w-[1500px] mx-auto">
            {% include 'Components/Pharmacy/HomeMedicineSection.html' with medicineSectionHeading='Checkout our Similar Products' medicines=similar_products %}
        </section>
    </main>
{% endblock pharmacy_body %}