@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(245, 245, 245, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-header {
    background-color: rgba(255, 255, 255, 1);
    height: 80px;
    width: 100%;
    /* border: 1px solid red; */
}


.float-left {
    float: left;
    height: 100%;
    display: flex;
    /* border: 1px solid rgb(12, 12, 12); */
    padding-left: 90px;
}


.logo svg {
    height: 80px;
    width: 200px;
    cursor: pointer;
}


.list-items {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}


.list-items li {
    list-style: none;
    margin-right: 40px;
    color: rgba(10, 28, 75, 0.877);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


.list-items li svg {
    width: 20px;
    height: 8px;
    padding-bottom: 3px;
    justify-content: center;
    align-items: center;
}

.list-items li:last-child {
    padding-right: 0;
}











/*  */
/*  */
/*  */
/* float :right */
/*  */
/*  */
/*  */







.float-right {
    /* height: 100%; */
    text-align: right;
    justify-content: end;
    display: flex;
    padding-top: 5px;
    /* border: 1px solid rgb(12, 12, 12); */
    padding-right: 80px;
    /* padding-right: 2px; */
}


.logo-paragraph p {
    font-size: 24px;
    color: rgba(10, 28, 75, 1);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    position: relative;
    top: 20px;
    cursor: pointer;
}

.svg1 svg {
    height: 75px;
    width: 40px;
    cursor: pointer;
    margin-right: 15px;
}

.svg2 svg {
    height: 75px;
    width: 39px;
    margin-right: 15px;
    cursor: pointer;
}

.svg3 svg {
    height: 75px;
    width: 39px;
    cursor: pointer;
}

.main-section {
    background-color: #0A1C4B;
    height: 330px;
    /* max-width: 1800px; */
}

.max-width {
    /* max-width: 1000px; */
    /* width: 50%; */
    margin: 0 auto;
    /* border: 1px solid red; */
}

.max-width h3,
p {
    text-align: center;
}

.max-width h3 {
    padding-top: 90px;
    font-size: 55px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.max-width p {
    color: rgba(255, 255, 255, 0.678);
    font-size: 20px;
    margin-top: 10px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/* under vala main */
/*  */
/*  */
/*  */
/*  */











.main-tag {
    /* border: 1px solid red; */
    padding: 15px 100px 0px 100px;
    display: flex;
    gap: 10px;
}


/*  */
/*  */
/*  */
/*  */
/* left vala */
/*  */
/*  */
/*  */
/*  */




.main-tag-main1 {
    /* border: 1px solid green; */
    width: 290px;
    margin-right: 10px;
}




.section-left {
    /* border: 2px solid red; */
    height: 1578px;
    width: 290px;
    padding-right: 0px;
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}



.section-left-Doctors {
    display: flex;
    background-color: rgba(10, 28, 75, 0.2);
    justify-content: space-between;
    padding: 11px 20px;
    /* width: 280px; */
    width: 100%;
}


.section-left-Doctors p {
    color: rgba(36, 208, 208, 0.774);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


.section-left-Doctors svg {
    cursor: pointer;
}


.Psychiatrists-main-div {
    /* border: 1px solid red; */
    border-radius: 6px;
    margin: 11px 15px;
    /* height: 1000px; */
}







.Psychiatrists-main-div ul {
    margin: 0px 13px;
    margin-top: 0px;
    /* border: 1px solid red; */
    padding-top: 0px;
    border-radius: 6px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);

}

.Psychiatrists-main-div ul li {
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    line-height: 38px;
    color: rgba(10, 28, 75, 1);
    cursor: pointer;
    padding-left: 10px;
    padding-top: 7px;
}


.Psychiatrists-main-div ul li:last-child {
    background-color: rgba(10, 28, 75, 0.2);
    padding: 0px;
    padding: none;
    color: rgba(36, 208, 208, 1);
    font-size: 18px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}




.last-ul-border {
    border: 1px solid rgba(36, 208, 208, 1);
}


.last-li-items {
    /* border: 1px solid red; */
    padding: 0px 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    margin: 0px 13px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}


.last-li-items li {
    list-style: none;
    line-height: 35px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 3px 0;
    color: #0A1C4B;
}






.Hospitals {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 17px;
    /* padding-top: 7px; */
}

.Hospitals svg {
    cursor: pointer;
}


.Hospitals li {
    line-height: 35px;
    list-style: none;
    cursor: pointer;
    color: #0A1C4B;
    font-size: 20px;
    font-weight: 600;
}



/*  */
/*  */
/*  */
/*  */
/*  */
/* right vala main */
/*  */
/*  */
/*  */
/*  */




.right-main-tag {
    /* border: 1px solid red; */
    width: 100%;
}

.right-main-tag-maind {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding:30px 30px 35px 50px;
}


.hameed-main{
    display: flex;
    /* border: 1px solid red; */
}

.hameed-img-div{
    background: url(../Images/Ellipse\ 425.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
}

.hameed-img-divd1{
    position: absolute;
    bottom: -5px;
    background-color:#0A1C4B;
    left: 25%;
    display: flex;
    border-radius: 30px;
    padding: 3px 8px 4px 10px;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
}

.hameed-img-divd1 p{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    /* border: 1px solid red; */
    padding: 0px;
    margin: 0px;
}

.hameed-img-divd1 svg{
    width: 15px;
    height: 10px;
    /* border: 1px solid red; */
}


.main2-main-div1-second {
    /* border: 1px solid red; */
    padding-left: 80px;
    padding-top: 20px;
}

.Hameed-div {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    gap: 10px;
}

.Hameed-div h3 {
    font-size: 32px;
    font-weight: 600;
    color: #0A1C4B;

}

.Hameed-div p {
    font-size: 16px;
    color: #0A1C4B;
    font-weight: 600;
    background-color: rgba(36, 208, 208, 0.15);
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}



.flex-divv{
    display: flex;
    /* border: 1px solid red; */
    gap: 60px;
    padding-top: 30px;
}


.flex-divv1 h4{
    color: #0A1C4B;
    font-size: 18px;
    font-weight: 600;
}


.flex-divv1 p{
    font-size: 16px;
    font-weight: 600;
    color: rgba(10, 44, 75, 0.6);
    padding-top: 6px;
    text-align: left;
}




.hameed-last{
    /* border: 1px solid red; */
    padding: 20px 0 0 200px;
}

.last-d1{
    background-color: #0A1C4B;
    padding: 15px 22px;
    border-radius: 5px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.last-d2{
    background-color: rgba(36, 208, 208, 1);
    padding: 15px 22px;
    border-radius: 5px;
    margin-top: 12px;
    cursor: pointer;
}

.last-d1 p{
    color: rgba(255, 255, 255, 1);
}

.last-d2 p{
    color: rgba(255, 255, 255, 1);
}

.hameed-item-div{
    /* border: 1px solid red; */
    padding-top: 20px;
    padding-left: 185px;
}

.hameed-item-div-ul{
    gap: 5px;
    display: flex;
}

.hameed-item-div-ul li{
    list-style: none;
    padding: 6px 7px 6px 10px;
    background-color: rgba(36, 208, 208, 0.2);
    border-radius: 4px;
    color:#0A1C4B;
    cursor: pointer;
    font-weight: 600;
    word-spacing: 1px;
}


.margin{
    margin-top: 12px;
}


/*  */


/*  */
/*  */
/*  */
/*  */
/* footer 1,2,3,4 options */
/*  */
/*  */
/*  */
/*  */



.small-footer{
    /* border: 1px solid red; */
    display: flex;
    padding-top: 80px;
    text-align: right;
    justify-content: end;
    padding-right: 130px;
    gap: 20px;
}


.small-footer svg{
    height: 30px;
    cursor: pointer;
    width: 30px;
}


.svg-li svg{
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
}

.small-footer li{
    list-style: none;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(36, 208, 208, 1);
    color: rgba(36, 208, 208, 1);
    padding: 7px 13px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.small-footer .blue-color{
    background-color: #0A1C4B;
    border: 1px solid #0A1C4B;
    color: #ffffff;
    outline: none;
}
.small-footer li:hover{
    background-color: rgba(10, 28, 75, 1);
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(10, 28, 75, 1);
}





/*  */
/*  */
/*  */
/* footer */
/*  */
/*  */
/*  */













.main-foot{
    margin-top: 80px;
    /* border: 1px solid red; */
    background-color: rgba(10, 28, 75, 1);
    padding: 60px 0px 60px 180px;
}


.mainfoot-maindiv{
    display: flex;
}

.foot-div1{
    /* border: 1px solid black; */
    padding: 5px;
}

.foot-div1 .first{
    width: 150px;
}


.foot-p{
    text-align: left;
    color: rgba(255, 255, 255, 0.685);
    padding-top: 18px;
    font-size: 16px;
    line-height: 22px;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}


.foot-h2{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
}


.foot-ul{
    padding-top: 10px;
}
.foot-ul-div{
    display: flex;
    align-items: center;
    padding-top: 10px;
}


.foot-ul-div svg{
    height: 25px;
    width: 10px;
    cursor: pointer;
}

.foot-ul-div li{
    padding-left: 20px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;

}



.foot-ul-div2{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div2 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div2 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}



.foot-ul-div3{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div3 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div3 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}


.foot-ul-div4{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div4 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div4 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}




.Our-Payment-Partners{
    text-align: left;
    padding-top: 37px;
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
}

.flex-box{
    display: flex;
    padding-top: 30px;
}

.flex-box-1{
    padding-left: 8px;
}

.flex-box-1 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}

.flex-box-2{
    padding-left: 14px;
}

.flex-box-2 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}


.flex-box-3{
    padding-left: 14px;
}

.flex-box-3 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}






/*  */






.foot-div2{
    /* border: 1px solid red; */
    padding: 5px;
    padding-left: 140px;
    /* padding-right: 50px; */

}

.foot-div2 h4{
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 500;
}

.Major-Cities-ul{
    /* border: 1px solid red; */
    padding-top: 30px;
}

.Major-Cities-ul li{
    list-style: none;
    line-height: 37px;
    color: rgba(255, 255, 255, 0.692);
    font-size: 16px;
    cursor: pointer;
}





/*  */




/* .foot-div3{

}






.foot-div4{

}




.foot-div5{

}
 */




 /*  */
 /*  */
 /*  */



.footer-mantag{
    display: flex;
    /* border: 1px solid red; */
    padding-top: 50px;
    gap: 150px;
}

.footer-mantag-maindiv{
    display: flex;
    /* border: 1px solid red; */
    gap: 20px;
    align-items: center;
}

.footer-mantag-svg svg{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.footer-mantag-2p p{
    text-align: left;
    line-height: 25px;
    justify-content: center;
}


.footer-mantag-2p1{
    font-size: 18px;
    color: rgb(255, 254, 254);
}

.footer-mantag-2p2{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.644);
}