@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;900&display=swap');


body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(245, 245, 245, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.max-width1 {
    max-width: 1910px;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 10;
}

.main-header {
    background-color: rgba(255, 255, 255, 1);
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 5;
}


.float-left {
    float: left;
    height: 100%;
    display: flex;
    /* border: 1px solid rgb(12, 12, 12); */
    padding-left: 90px;
}





.float-right {
    /* height: 100%; */
    text-align: right;
    justify-content: end;
    display: flex;
    padding-top: 5px;
    /* border: 1px solid rgb(12, 12, 12); */
    padding-right: 80px;
    position: relative;
}






@media (max-width:1600px) {
    .float-left{
        padding-left: 50px;
    }
    .float-right{
        padding-right: 40px;
    }
}
@media (max-width:1500px){
    .list-items{
        padding-left: 45px;
    }
    .list-items li{
        margin-right: 20px;
    }
}
@media (max-width:1530px){
    .dropdown1{
        left: -50px;
    }
}
@media (max-width:1500px){
    .dropdown1{
        left: -100px;
    }
}

@media (max-width:1420px){
    .dropdown1{
        left: -150px;
    }
}

@media (max-width:1380px){
    .list-items{
        display: none;
    }
    .float-left{
        padding-left: 90px;
    }
    .float-right{
        padding-right: 80px;
    }
}
@media (max-width:800px){
    .float-left{
        padding-left: 70px;
    }
    .float-right{
        padding-right: 60px;
    }
}
@media (max-width:700px){
    .float-left{
        padding-left: 50px;
    }
    .float-right{
        padding-right: 40px;
    }
}
@media (max-width:630px){
    .float-left{
        padding-left: 30px;
    }
    .float-right{
        padding-right: 20px;
        padding-top: 0;
        height: 70px;
    }
    .main-header{
        height: 70px;
    }
    .logo svg{
        height: 70px;
    }
}
@media (max-width:540px){
    .svgn{
        display: none;
    }
    .float-right{
        padding-right: 15px;
    }
    .float-left{
        padding-left: 20px;
    }
    .svg1 svg{
        margin-right: 10px;
    }
    .svg2 svg{
        margin-right: 10px;
    }
    .main-header{
        height: 65px;
    }
    .logo svg{
        height: 65px;
    }
    .logo-paragraph p{
        font-size: 20px;
    }
    .svg1 svg{
        height: 70px;
        width: 35px;
    }
    .svg2 svg{
        height: 70px;
        width: 35px;
    }
    .svg3 svg{
        height: 70px;
        width: 35px;
    }
    .icon-drowpdown1 svg {
        width: 20px;
        height: 20px;
    }
    .icon-drowpdown2 svg {
        width: 17px;
        height: 20px;
    }
    .icon-drowpdown{
        top: 60px;
    }
}
@media (max-width:500px){

    .fa-bars{
        display: block;
        margin-left: 10px;
    }
    .svg2 svg{
        display: none;
    }
    .svg1 svg{
        margin-right: 5px;
    }
    .svg2 svg{
        margin-right: 5px;
    }

    .logo svg{
        width: 180px;
    } 

    .logo-paragraph p{
        margin-right: 12px;
    }
    .float-left{
        padding-left: 20px;
    }
    .float-right{
        padding-right: 15px;
    }
}
@media (max-width:440px){
    .float-left{
        padding-left: 10px;
    }
    .float-right{
        padding-right: 7px;
    }
}
@media (max-width:400px){
    .float-left{
        padding-left: 6px;
    }
    .float-right{
        padding-right: 4px;
    }
}

@media (max-width:367px){
    .logo svg{
        width: 160px;
    } 
    .logo-paragraph p{
        margin-left: 8px;
    }
}
@media (max-width:350px){
    .logo svg{
        width: 150px;
    } 
}
































.main-section {
    background-color: #0A1C4B;
    height: 330px;
    /* max-width: 1800px; */
}

.max-width {
    /* max-width: 1000px; */
    /* width: 50%; */
    margin: 0 auto;
    /* border: 1px solid red; */
}

.max-width h3 , p{
    text-align: center;
}

.max-width h3 {
    padding-top: 90px;
    font-size: 55px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.max-width p {
    color: rgba(255, 255, 255, 0.678);
    font-size: 20px;
    margin-top: 10px;
}


@media (max-width:1000px){
    .main-section{
        height: 300px;
    }
    .max-width h3 {
        padding-top: 90px;
        font-size: 50px;
    }
    
    .max-width p {
        font-size: 20px;
        margin-top: 10px;
    }
}
@media (max-width:850px){
    .max-width h3 {
        padding-top: 90px;
        font-size: 45px;
    }
    
    .max-width p {
        font-size: 18px;
        margin-top: 10px;
    }
}
@media (max-width:750px){
    .main-section{
        height: 290px;
    }
    .max-width h3 {
        padding-top: 80px;
        font-size: 35px;
    }
    
    .max-width p {
        font-size: 16px;
        margin-top: 10px;
    }
}
@media (max-width:750px){
    .max-width h3 {
        padding-top: 90px;
        font-size: 30px;
    }
    
    .max-width p {
        font-size: 14px;
        margin-top: 10px;
    }
}
@media (max-width:750px){
    .max-width h3 {
        padding-top: 90px;
        font-size: 24px;
    }
    
    .max-width p {
        font-size: 12px;
        margin-top: 10px;
    }
}
@media (max-width:500px){
    .main-section{
        height: 290px;
    }
}


@media (max-width:375px){
    .max-width h3 {
        font-size: 22px;
    }
    
    .max-width p {
        font-size: 11px;
    }
}


@media (max-width:353px){
    .max-width h3 {
        font-size: 20px;
    }
    
    .max-width p {
        font-size: 10px;
    }
}
@media (max-width:320px){
    .main-section{
        height: 270px;
    }
    
    .max-width h3 {
        font-size: 17px;
    }
    
    .max-width p {
        font-size: 8px;
    }
}


/*  */
/*  */
/*  */
/*  */
/*  */
/* under vala main */
/*  */
/*  */
/*  */
/*  */




.max-width2 {
    max-width: 1900px;
    margin: auto;
}




.main-tag {
    max-width: 1600px;
    margin: auto;
    /* border: 1px solid red; */
    /* padding: 25px 100px 0px 100px; */
    display: flex;
    gap: 10px;
}


/*  */
/*  */
/*  */
/*  */
/* left vala */
/*  */
/*  */
/*  */
/*  */




.main-tag-main1 {
    /* border: 1px solid green; */
    width: 290px;
    /* margin-right: 10px; */
}




.section-left {
    /* border: 2px solid red; */
    height: 100%;
    width: 290px;
    padding-right: 0px;
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}



.section-left-Doctors {
    display: flex;
    background-color: rgba(10, 28, 75, 0.2);
    justify-content: space-between;
    padding: 11px 20px;
    /* width: 280px; */
    width: 100%;
}


.section-left-Doctors p {
    color: rgba(36, 208, 208, 0.774);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


.section-left-Doctors svg {
    cursor: pointer;
}


.Psychiatrists-main-div {
    /* border: 1px solid red; */
    border-radius: 6px;
    margin: 11px 15px;
    /* height: 1000px; */
}







.Psychiatrists-main-div ul {
    margin: 0px 13px;
    margin-top: 0px;
    /* border: 1px solid red; */
    padding-top: 0px;
    border-radius: 6px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);

}

.Psychiatrists-main-div ul li {
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    line-height: 38px;
    color: rgba(10, 28, 75, 1);
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Psychiatrists-main-div ul li:hover {
    background-color: #0a1c4b1e;
    transition: 0.4s;
}


.Psychiatrists-main-div ul li:last-child {
    background-color: rgba(10, 28, 75, 0.2);
    padding: 0px;
    padding: none;
    color: rgba(36, 208, 208, 1);
    font-size: 18px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}




.last-ul-border {
    border: 1px solid rgba(36, 208, 208, 1);
}


.last-li-items {
    /* border: 1px solid red; */
    /* padding: 0px 0px;
    padding-top: 8px;
    padding-bottom: 5px; */
    margin: 0px 13px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}


.last-li-items li {
    list-style: none;
    line-height: 35px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 7px 10px 7px 15px;
    color: #0A1C4B;
}


.last-li-items li:hover {
    background-color: #0a1c4b1e;
    transition: 0.4s;
}






.Hospitals {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
    padding-bottom: 7px;
    cursor: pointer;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 17px;
    border-radius: 10px;
}


.Hospitals:hover {
    background-color: #0a1c4b1e;
    transition: 0.4s;
}

.Hospitals svg {
    cursor: pointer;
}


.Hospitals li {
    line-height: 35px;
    list-style: none;
    cursor: pointer;
    color: #0A1C4B;
    font-size: 20px;
    font-weight: 600;
}


@media (max-width:1100px) {
    .main-tag-main1 {
        display: none;
    }
}





@media (max-width:1040px) {
    .search-div {
        padding-left: 40px;
    }



    .right-main-tag {
        padding-left: 20px;
        padding-right: 0px;
    }
}

@media (max-width:860px) {
    .search-div {
        width: 550px;
    }
}

@media (max-width:610px) {
    .search-div {
        width: 500px;
        padding-left: 30px;
    }

    .search-div2 {
        padding: 3px 10px 3px 11px;
    }
}


@media (max-width:550px) {
    .search-div {
        width: 450px;
    }

    .right-main-tag {
        padding-left: 12px;
        padding-right: 5px;
    }
}

@media (max-width:450px) {
    .search-div {
        width: 350px;
        padding-left: 15px;
    }
}

@media (max-width:380px) {
    .search-div {
        width: 300px;
        padding-left: 10px;
    }

    .right-main-tag {
        padding-left: 4px;
        padding-right: 4px;
    }
}







/*  */
/*  */
/*  */
/* right main */
/*  */
/*  */



.right-main {
    flex: 1;
    /* border: 1px solid red; */
}

.right-main-maindiv1 {
    padding: 15px 35px 30px 35px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.detail-div {
    display: flex;
    align-items: center;
    width: 80px;
    justify-content: space-between;
}

.detail-div p {
    font-size: 20px;
    font-weight: 600;
    color: #0A1C4B;
    letter-spacing: 0.5px;

}

.detail-div svg {
    height: 10px;
    width: 10px;
    cursor: pointer;
}

.right-main-vitamin {
    /* margin: auto; */
    justify-content: center;
    display: flex;
    /* flex-wrap: wrap; */
    /* border: 1px solid red; */
    gap: 120px;
}


.vitain-img {
    /* text-align: end; */
    /* border: 1px solid black; */
    padding-top: 30px;
    /* padding-left: 130px; */
    text-align: center;
}

.vitain-img img {
    height: 230px;
    width: 280px;
}

.vitain-img h3 {
    color: #0A1C4B;
    font-size: 24px;
    font-weight: 600;
    padding-top: 23px;
}


.vitain-img p {
    color: #0A1C4B;
    font-size: 15px;
}

.vitmin-3div {
    /* border: 1px solid rgb(0, 0, 0); */
    /* padding-left: 130px; */
    padding-left: 10px;
    padding-top: 30px;

}


.vitmin-3div div {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
}

.vitmin-3div div:hover {
    border: 1px solid rgba(10, 28, 75, 1);
}

.vitmin-3div div img {
    width: 76px;
    height: 60px;
}

.vitmin-3div div.vitmin-3div-second {
    border: 1px solid rgba(10, 28, 75, 1);
}



.vitmin-3div-third {
    text-align: left;
    /* border: 1px solid rgb(0, 0, 0); */
    /* padding-left: 120px; */
}

.vitmin-3div-third h3 {
    color: #0A1C4B;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.vitmin-3div-third p {
    text-align: left;
    color: #0A1C4B;
    font-size: 14px;
    padding-top: 10px;
}










.stars {
    display: flex;
    gap: 2px;
    padding-top: 10px;
}

.stars svg {
    cursor: pointer;
}


.vitmin-3div-third p.p1 {
    color: rgba(36, 208, 208, 1);
    font-size: 20px;
}

h2 {
    padding-top: 8px;
    color: #0A1C4B;
    font-weight: 600;
    font-size: 18px;
}


.flex {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 5px;
}

.flex p {
    background-color: rgba(36, 208, 208, 0.2);
    border-radius: 5px;
    padding: 4px 7px;
    cursor: pointer;
    font-weight: 600;
    color: #0A1C4B;
}


.flex1 {
    display: flex;
    gap: 4px;
    padding-top: 4px;
}

.flex1 div {
    padding: 6px 12px;
    background-color: rgba(10, 28, 75, 0.2);
    color: #0A1C4B;
    border-radius: 5px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.flex1 div:first-child {
    padding: 6px 14px;
}

.btn-div {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #0A1C4B;
    margin-top: 20px;
    border-radius: 5px;
    padding: 8px 0px;
    gap: 8px;
    cursor: pointer;
}

.btn-div p {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    padding: 0px;
}

.btn-div svg {
    height: 17px;
    width: 17px;
}


p.Instock {
    margin-top: 15px;
    padding: 0;
    background-color: rgba(36, 208, 208, 0.2);
    border-radius: 5px;
    padding: 3px 6px;
    width: 60px;
    font-weight: 600;
}


p.delevery-p {
    padding-top: 3px;
    color: #0A1C4B;
}

















.right-main-maindiv2 {
    margin-top: 12px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 0px 10px 50px 35px;
}
.right-main-maindiv2 h2{
    font-size: 20px;
}


.right-main-maindiv2 p{
    text-align: left;
    color: #061741;
    padding-top: 15px;
    font-weight: 500;
    font-size: 16px;
    word-spacing: 1px;
    padding-bottom: 5px;
}






/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */













@media (max-width:1400px) {
    .right-main-vitamin{
        gap: 100px;
    }
}


@media (max-width:1310px) {
    .vitain-img{
    }
    .right-main-vitamin{
        gap: 70px;
    }
}

@media (max-width:1220px){
    .right-main-vitamin{
        flex-wrap: wrap;
    }
}


@media (max-width:600px){
    .vitain-img img{
        height: 200px;
        width: 250px;
    }
    .vitmin-3div div img{
        width: 66px;
        height: 50px;
    }
    .vitain-img h3{
        font-size: 17px;
    }
    .vitain-img p{
        font-size: 14px;
    }
    .vitmin-3div-third h3{
        font-size: 14px;
    }
}

@media (max-width:560px){
    .right-main-vitamin{
        gap: 40px;
    }
    .right-main-maindiv1 {
        padding: 12px 20px 20px 20px;
    }
}

@media (max-width:500px){
    .right-main-vitamin{
        gap: 20px;
    }
    .right-main-maindiv1 {
        padding: 12px 15px 15px 15px;
    }
    .vitmin-3div-third{
        padding-top: 10px;
    }
}

@media (max-width:410px){
    .vitain-img img{
        height: 180px;
        width: 230px;
    }
    .vitmin-3div div img{
        width: 60px;
        height: 54px;
    }
}

@media (max-width:380px){
    .vitain-img img{
        height: 160px;
        width: 210px;
    }
    .vitmin-3div div img{
        width: 45px;
        height: 40px;
    }
    .vitain-img h3{
        font-size: 15px;
    }
    .vitain-img p{
        font-size: 12px;
    }
    .right-main-vitamin{
        gap: 10px;
    }
    
}

@media (max-width:325px) {
    .right-main-maindiv1 {
        padding: 12px 10px 15px 10px;
    }
}

@media (max-width:645px) {
    .right-main-maindiv2 p br{
        display: none;
    }
    .right-main-maindiv2 p{
        padding-top: 10px;
        font-size: 15px;
        padding-bottom: 10px;
    }
    .right-main-maindiv2 h2{
        font-size: 20px;
    }
    .right-main-maindiv2{
        padding: 0px 10px 10px 25px;
    }
}




