@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;900&display=swap');


body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(245, 245, 245, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-header {
    background-color: rgba(255, 255, 255, 1);
    height: 80px;
    width: 100%;
    /* border: 1px solid red; */
}


.float-left {
    float: left;
    height: 100%;
    display: flex;
    /* border: 1px solid rgb(12, 12, 12); */
    margin-left: 90px;
}


.logo svg {
    height: 77px;
    width: 200px;
    cursor: pointer;
}


.list-items {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    gap: 13px;
}


.list-items li {
    list-style: none;
    margin-right: 40px;
    color: rgba(10, 28, 75, 0.877);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


.list-items li svg {
    width: 20px;
    height: 8px;
    padding-bottom: 3px;
    justify-content: center;
    align-items: center;
}

.list-items li:last-child {
    padding-right: 0;
}











/*  */
/*  */
/*  */
/* float :right */
/*  */
/*  */
/*  */







.float-right {
    height: 100%;
    text-align: right;
    justify-content: end;
    display: flex;
    padding-top: 1px;
    /* border: 1px solid rgb(12, 12, 12); */
    margin-right: 80px;
    padding-right: 2px;
}


.logo-paragraph p {
    font-size: 24px;
    color: rgba(10, 28, 75, 1);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    position: relative;
    top: 20px;
    cursor: pointer;
}

.svg1 svg {
    height: 75px;
    width: 40px;
    cursor: pointer;
    margin-right: 15px;
}

.svg2 svg {
    height: 75px;
    width: 39px;
    margin-right: 15px;
    cursor: pointer;
}

.svg3 svg {
    height: 75px;
    width: 39px;
    cursor: pointer;
}



/* 
 */
/*  */
/*  */
/* sectiomn tag is here */
/*  */
/*  */
/*  */
/*  */




.main-section {
    background-color: #0A1C4B;
    height: 35vh;
    /* max-width: 1800px; */
}

.max-width {
    /* max-width: 1000px; */
    /* width: 50%; */
    margin: 0 auto;
    /* border: 1px solid red; */
}

.max-width h3,
p {
    text-align: center;
}

.max-width h3 {
    padding-top: 90px;
    font-size: 55px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.max-width p {
    color: rgba(255, 255, 255, 0.678);
    font-size: 20px;
    margin-top: 10px;
}


/*  */
/*  */
/* under vala */
/*  */
/*  */



.section {
    padding: 0 0 0 70px;
    /* border: 1px solid red; */
}




.section-left {
    /* border: 2px solid red; */
    height: 2025px;
    /* padding-right: 0px; */
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}



.section-left-Doctors {
    display: flex;
    background-color: rgba(10, 28, 75, 0.2);
    justify-content: space-between;
    padding: 11px 20px;
    width: 290px;
}


.section-left-Doctors p {
    color: rgba(36, 208, 208, 0.774);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


.section-left-Doctors svg {
    cursor: pointer;
}


.Psychiatrists-main-div {
    /* border: 1px solid red; */
    border-radius: 6px;
    margin: 11px 15px;
    /* height: 1000px; */
}







.Psychiatrists-main-div ul {
    margin: 0px 13px;
    margin-top: 5px;
    /* border: 1px solid red; */
    padding-top: 5px;
    border-radius: 6px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);

}

.Psychiatrists-main-div ul li {
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    line-height: 30px;
    color: rgba(10, 28, 75, 1);
    cursor: pointer;
    padding-left: 10px;
    padding-top: 7px;
}


.Psychiatrists-main-div ul li:last-child {
    background-color: rgba(10, 28, 75, 0.2);
    padding: 0px;
    padding: none;
    color: rgba(36, 208, 208, 1);
    font-size: 18px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}




.last-ul-border {
    border: 1px solid rgba(36, 208, 208, 1);
}


.last-li-items {
    /* border: 1px solid red; */
    padding: 0px 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    margin: 0px 13px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}


.last-li-items li {
    list-style: none;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 3px 0;
    color: #0A1C4B;
}






.Hospitals {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 17px;
    padding-top: 7px;
}

.Hospitals svg {
    cursor: pointer;
}


.Hospitals li {
    list-style: none;
    cursor: pointer;
    color: #0A1C4B;
    font-size: 20px;
    font-weight: 600;
}



.section-main-div {
    /* border: 2px solid green; */
    display: flex;
}









/*  */
/*  */
/*  */
/* right vala section */
/*  */
/*  */
/*  */





.main-tag {
    /* border: 1px solid red; */
    width: 100%;
    padding: 40px 70px 0px 70px;
}



.h3-and-p {
    /* border: 1px solid black; */
    width: 300px;
}

.h3-and-p h3 {
    color: #0A1C4B;
    font-size: 38px;
    font-weight: 600;
}


.h3-and-p p {
    text-align: left;
    color: rgba(10, 44, 75, 1);
    font-size: 18px;
    font-weight: 600;
}

.Practice-Detail {
    /* border: 1px solid red; */
    padding-top: 30px;
    padding-left: 30px;
}

.Practice-Detail-items {
    display: flex;
}

.Practice-Detail-items li {
    list-style: none;
    font-weight: 600;
}

.Practice-Detail-items .li1 {
    background-color: #0A1C4B;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 30px rgba(136, 136, 136, 0.25);
    border-radius: 4px;
    padding: 10px 30px;
    cursor: pointer;
}

.Practice-Detail-items .li2 {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(10, 28, 75, 1);
    box-shadow: 0px 5px 30px rgba(136, 136, 136, 0.25);
    border-radius: 4px;
    padding: 10px 30px;
    cursor: pointer;
    margin-left: 10px;
}

.Practice-Detail-items .li3 {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(10, 28, 75, 1);
    box-shadow: 0px 5px 30px rgba(136, 136, 136, 0.25);
    border-radius: 4px;
    padding: 10px 40px;
    cursor: pointer;
    margin-left: 10px;
}

.Practice-Detail-items .li4 {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(10, 28, 75, 1);
    box-shadow: 0px 5px 30px rgba(136, 136, 136, 0.25);
    border-radius: 4px;
    padding: 10px 40px;
    cursor: pointer;
    margin-left: 10px;
}

.Practice-Detail-items .li5 {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(10, 28, 75, 1);
    box-shadow: 0px 5px 30px rgba(136, 136, 136, 0.25);
    border-radius: 4px;
    padding: 10px 50px;
    cursor: pointer;
    margin-left: 10px;
}

.Practice-Detail-items .li6 {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(10, 28, 75, 1);
    box-shadow: 0px 5px 30px rgba(136, 136, 136, 0.25);
    border-radius: 4px;
    padding: 10px 50px;
    cursor: pointer;
    margin-left: 10px;
}

.Practice-Detail-items .li7 {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(10, 28, 75, 1);
    box-shadow: 0px 5px 30px rgba(136, 136, 136, 0.25);
    border-radius: 4px;
    padding: 10px 50px;
    cursor: pointer;
    margin-left: 10px;
}

.Practice-Detail-items li:hover {
    background-color: #0A1C4B;
    color: rgba(255, 255, 255, 1);
    transition: 0.4s;
}



/*  */



.top {
    padding-top: 25px;
}


.dr-Ali-Ishtiaq {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* border: 1px solid red; */
    padding: 30px 20px;
    display: flex;
}





.for-dr {
    display: flex;
}

.for-dr-image {
    cursor: pointer;
    background: url(../Images/doctorprofile1.png.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.for-dr-text {
    /* border: 1px solid red; */
    padding-left: 30px;
    align-items: center;
    justify-content: space-between;
}


.for-dr-text h4 {
    cursor: pointer;
    font-size: 28px;
    color: #0A1C4B;
    font-weight: 600;
}

.for-dr-text h4 svg {
    cursor: pointer;
    height: 16px;
    width: 20px;
}

strong {
    cursor: pointer;
}

.for-dr-text-div {
    /* border: 1px solid red; */
    padding-top: 8px;
}

.for-dr-text-div p {
    text-align: left;
    line-height: 26px;
    font-size: 18px;
    color: #0A1C4B;
    font-weight: 600;
    word-spacing: 2px;
    letter-spacing: 0.2px;
}

.for-button {
    padding-top: 20px;
    /* border: 1px solid red; */
    width: 200px;
    padding-left: 10px;
}

.for-button1 {
    display: flex;
    background: #0A1C4B;
    border-radius: 4px;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.for-button1 svg {
    height: 13px;
    width: 20px;
}


.for-button1 p {
    color: rgba(255, 255, 255, 1);
}

.for-button2 {
    margin-top: 10px;
    display: flex;
    background: #24D0D0;
    border-radius: 4px;
    padding: 12px 20px;
    justify-content: space-between;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    cursor: pointer;
}

.for-button2 svg {
    height: 20px;
    width: 19px;
}

.for-button2 p {
    color: rgba(255, 255, 255, 1);
}








.f-right {
    /* border: 1px solid red; */
    padding: 10px 0 0 150px;
}


.f-right .backgroung-img {
    border-radius: 6px;
    background: url(../Images/doctorprofile.png.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 390px;
    position: relative;
}


.flex svg {
    height: 20px;
    width: 110px;
    padding-top: 10px;
}

.flex p {
    font-size: 15px;
    padding-top: 8px;
    color: rgba(10, 28, 75, 1);
    font-weight: 600;
}

.video {
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video svg {
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

.botum {
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    bottom: 0;
    align-items: center;
    height: 40px;
    width: 100%;
    border-radius: 6px;
}

.botum p {
    text-align: left;
    color: #0A1C4B;
    align-items: center;
    padding: 10px 0 0 10px;
    font-size: 16px;
    font-weight: 600;
}


/*  */



.center-div {
    /* border: 1px solid red; */
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px 30px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.center-div1 {
    padding: 25px 0;
}


.center-div1-div1 {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 13px 20px 13px 15px;
    line-height: 25px;
}




.Video-Consultation {
    display: flex;
    align-items: center;
    gap: 14px;
}

.Video-Consultation svg {
    height: 14px;
    width: 20px;
}

.Video-Consultation p {
    font-size: 17px;
    font-weight: 600;
    color: #0A1C4B;
}




.after-Video-Consultation {
    display: flex;
    align-items: center;
    gap: 14px;
}

.after-Video-Consultation svg {
    height: 16px;
    width: 20px;
}

.after-Video-Consultation p {
    font-size: 14px;
    font-weight: 500;
    color: #0A1C4B;
    font-size: 14px;
    font-weight: 600;
}



.pera2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pera2 .p1 {
    color: rgba(81, 183, 79, 1);
    font-weight: 600;
}

.pera2 .p2 {
    color: #0A1C4B;
    font-size: 13px;
    font-weight: 600;
}

.margin {
    margin-top: 17px;
}









.left {
    padding: 25px 0 25px 15px;
}

/*  */
/*  */
/*  */








.right3 {
    /* border: 1px solid red; */
    padding-left: 70px;
}

.right3 h4 {
    color: #0A1C4B;
    font-size: 26px;
    font-weight: 600;
}




.right3-main-div {
    padding-top: 15px;
    /* border: 1px solid red; */
}

.right3-main-div-d1-pd {
    display: flex;
    justify-content: space-between;
}

.right3-main-div-d1-pd p {
    color: #0A1C4B;
    font-size: 16px;
    font-weight: 600;
}

.right3-main-div-d1-lign {
    margin-top: 5px;
    height: 7px;
    width: 100%;
    background-color: #0A1C4B;
    border-radius: 5px;
}

.right3-main-div-d2 {
    padding-top: 25px;
}

.right3-main-div-d1-lign-change1 {
    margin-top: 5px;
    height: 7px;
    width: 100%;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 5px;
}

.right3-main-div-d1-lign-change2 {
    width: 95%;
    height: 100%;
    background-color: #0A1C4B;
    border-radius: 5px;
}




/*  */
/*  */
/*  */
/*  */



.Book-appointment-main {
    /* border: 1px solid red; */
    margin-top: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 15px 0 50px 30px;
}

.Book-appointment-main h4 {
    color: #0A1C4B;
    font-size: 30px;
    font-weight: 600;
}

.Book-appointment-main p {
    text-align: left;
    color: #0A1C4B;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
}

p.chiled-no-2{
    padding-top: 40px;
}
.Book-appointment-main p:nth-last-child(2){
    padding-top: 40px;
}



.div-3list {
    display: flex;
    /* border: 1px solid red; */
    width: 1120px;
    padding-top: 15px;
    gap: 5px;
}

.div-3list li:first-child{
    background-color: rgba(10, 28, 75, 1);
    color: rgba(255, 255, 255, 1);
}

.div-3list li:hover{
    background-color: rgba(10, 28, 75, 1);
    color: rgba(255, 255, 255, 1);
    transition: 0.6s;
}

.div-3list li {
    list-style: none;
    cursor: pointer;
    padding: 11px 20px;
    background: #F3FFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    color: rgba(10, 28, 75, 1);
    font-size: 16px;
    font-weight: 600;
}


/*  */
/*  */
/*  */



.Services{
    margin-top: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 30px 0 50px 30px;
}
.Services h4{
    color: #0A1C4B;
    font-size: 30px;
    font-weight: 600;
}

.Services-liitems{
    display: flex;
    /* border: 1px solid red; */
    width: 1120px;
    padding-top: 15px;
    gap: 5px;
}
.Services-liitems li:hover{
    background-color: rgba(10, 28, 75, 1);
    color: rgba(255, 255, 255, 1);
    transition: 0.6s;
}

.Services-liitems li {
    list-style: none;
    cursor: pointer;
    padding: 11px 20px;
    background: #F3FFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    color: rgba(10, 28, 75, 1);
    font-size: 18px;
    font-weight: 600;
}



/*  */
/*  */
/*  */



.Asked-Questions{
    margin-top: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 30px 0 50px 30px;
}

.Asked-Questions h4{
    color: #0A1C4B;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 15px;
}

.Asked-Questions-main{
    /* border: 1px solid red; */
    padding-top: 15px;
    width: 1000px;
}

.Asked-Questions-main-1{
    justify-content: space-between;
    align-items: center;
    background-color: rgba(36, 208, 208, 0.2);
    border-radius: 6px;
    display: flex;
    padding: 20px 30px;
}

.Asked-Questions-main-1 p{
    color: #0A1C4B;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.Asked-Questions-main-1 svg{
    height: 20px;
    width: 12px;
    cursor: pointer;
}


/*  */
/*  */
/*  */

.small-footer{
    /* border: 1px solid red; */
    display: flex;
    padding-top: 60px;
    padding-right:60px;
    text-align: right;
    justify-content: end;
    gap: 20px;
}


.small-footer svg{
    height: 30px;
    cursor: pointer;
    width: 30px;
}


.svg-li svg{
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
}

.small-footer li{
    list-style: none;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(36, 208, 208, 1);
    color: rgba(36, 208, 208, 1);
    padding: 7px 13px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.small-footer .blue-color{
    background-color: #0A1C4B;
    border: 1px solid #0A1C4B;
    color: #ffffff;
    outline: none;
}
.small-footer li:hover{
    background-color: rgba(10, 28, 75, 1);
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(10, 28, 75, 1);
}

/*  */
/*  */
/*  */






/* footer */












.main-foot{
    margin-top: 80px;
    /* border: 1px solid red; */
    background-color: rgba(10, 28, 75, 1);
    padding: 60px 0px 60px 180px;
}


.mainfoot-maindiv{
    display: flex;
}

.foot-div1{
    /* border: 1px solid black; */
    padding: 5px;
}

.foot-div1 .first{
    width: 150px;
}


.foot-p{
    text-align: left;
    color: rgba(255, 255, 255, 0.685);
    padding-top: 18px;
    font-size: 16px;
    line-height: 22px;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}


.foot-h2{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
}


.foot-ul{
    padding-top: 10px;
}
.foot-ul-div{
    display: flex;
    align-items: center;
    padding-top: 10px;
}


.foot-ul-div svg{
    height: 25px;
    width: 10px;
    cursor: pointer;
}

.foot-ul-div li{
    padding-left: 20px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;

}



.foot-ul-div2{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div2 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div2 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}



.foot-ul-div3{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div3 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div3 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}


.foot-ul-div4{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div4 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div4 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}




.Our-Payment-Partners{
    text-align: left;
    padding-top: 37px;
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
}

.flex-box{
    display: flex;
    padding-top: 30px;
}

.flex-box-1{
    padding-left: 8px;
}

.flex-box-1 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}

.flex-box-2{
    padding-left: 14px;
}

.flex-box-2 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}


.flex-box-3{
    padding-left: 14px;
}

.flex-box-3 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}






/*  */






.foot-div2{
    /* border: 1px solid red; */
    padding: 5px;
    padding-left: 140px;
    /* padding-right: 50px; */

}

.foot-div2 h4{
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 500;
}

.Major-Cities-ul{
    /* border: 1px solid red; */
    padding-top: 30px;
}

.Major-Cities-ul li{
    list-style: none;
    line-height: 37px;
    color: rgba(255, 255, 255, 0.692);
    font-size: 16px;
    cursor: pointer;
}





/*  */




/* .foot-div3{

}






.foot-div4{

}




.foot-div5{

}
 */




 /*  */
 /*  */
 /*  */



.footer-mantag{
    display: flex;
    /* border: 1px solid red; */
    padding-top: 50px;
    gap: 150px;
}

.footer-mantag-maindiv{
    display: flex;
    /* border: 1px solid red; */
    gap: 20px;
    align-items: center;
}

.footer-mantag-svg svg{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.footer-mantag-2p p{
    text-align: left;
    line-height: 25px;
    justify-content: center;
}


.footer-mantag-2p1{
    font-size: 18px;
    color: rgb(255, 254, 254);
}

.footer-mantag-2p2{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.644);
}

