@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(245, 245, 245, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-header {
    background-color: rgba(255, 255, 255, 1);
    height: 80px;
    width: 100%;
    /* border: 1px solid red; */
}


.float-left {
    float: left;
    height: 100%;
    display: flex;
    /* border: 1px solid rgb(12, 12, 12); */
    padding-left: 90px;
}


.logo svg {
    height: 80px;
    width: 200px;
    cursor: pointer;
}


.list-items {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}


.list-items li {
    list-style: none;
    margin-right: 40px;
    color: rgba(10, 28, 75, 0.877);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


.list-items li svg {
    width: 20px;
    height: 8px;
    padding-bottom: 3px;
    justify-content: center;
    align-items: center;
}

.list-items li:last-child {
    padding-right: 0;
}











/*  */
/*  */
/*  */
/* float :right */
/*  */
/*  */
/*  */







.float-right {
    /* height: 100%; */
    text-align: right;
    justify-content: end;
    display: flex;
    padding-top: 5px;
    /* border: 1px solid rgb(12, 12, 12); */
    padding-right: 80px;
    /* padding-right: 2px; */
}


.logo-paragraph p {
    font-size: 24px;
    color: rgba(10, 28, 75, 1);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    position: relative;
    top: 20px;
    cursor: pointer;
}

.svg1 svg {
    height: 75px;
    width: 40px;
    cursor: pointer;
    margin-right: 15px;
}

.svg2 svg {
    height: 75px;
    width: 39px;
    margin-right: 15px;
    cursor: pointer;
}

.svg3 svg {
    height: 75px;
    width: 39px;
    cursor: pointer;
}

.main-section {
    background-color: #0A1C4B;
    height: 330px;
    /* max-width: 1800px; */
}

.max-width {
    /* max-width: 1000px; */
    /* width: 50%; */
    margin: 0 auto;
    /* border: 1px solid red; */
}

.max-width h3,
p {
    text-align: center;
}

.max-width h3 {
    padding-top: 90px;
    font-size: 55px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.max-width p {
    color: rgba(255, 255, 255, 0.678);
    font-size: 20px;
    margin-top: 10px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/* under vala main */
/*  */
/*  */
/*  */
/*  */











.main-tag {
    /* border: 1px solid red; */
    padding: 15px 100px 0px 100px;
    display: flex;
}


/*  */
/*  */
/*  */
/*  */
/* left vala */
/*  */
/*  */
/*  */
/*  */




.main-tag-main1 {
    /* border: 1px solid green; */
    width: 290px;
    margin-right: 10px;
}




.section-left {
    /* border: 2px solid red; */
    height: 2900px;
    width: 290px;
    padding-right: 0px;
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}



.section-left-Doctors {
    display: flex;
    background-color: rgba(10, 28, 75, 0.2);
    justify-content: space-between;
    padding: 11px 20px;
    /* width: 280px; */
    width: 100%;
}


.section-left-Doctors p {
    color: rgba(36, 208, 208, 0.774);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


.section-left-Doctors svg {
    cursor: pointer;
}


.Psychiatrists-main-div {
    /* border: 1px solid red; */
    border-radius: 6px;
    margin: 11px 15px;
    /* height: 1000px; */
}







.Psychiatrists-main-div ul {
    margin: 0px 13px;
    margin-top: 0px;
    /* border: 1px solid red; */
    padding-top: 0px;
    border-radius: 6px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);

}

.Psychiatrists-main-div ul li {
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    line-height: 38px;
    color: rgba(10, 28, 75, 1);
    cursor: pointer;
    padding-left: 10px;
    padding-top: 7px;
}


.Psychiatrists-main-div ul li:last-child {
    background-color: rgba(10, 28, 75, 0.2);
    padding: 0px;
    padding: none;
    color: rgba(36, 208, 208, 1);
    font-size: 18px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}




.last-ul-border {
    border: 1px solid rgba(36, 208, 208, 1);
}


.last-li-items {
    /* border: 1px solid red; */
    padding: 0px 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    margin: 0px 13px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}


.last-li-items li {
    list-style: none;
    line-height: 35px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 3px 0;
    color: #0A1C4B;
}






.Hospitals {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 17px;
    /* padding-top: 7px; */
}

.Hospitals svg {
    cursor: pointer;
}


.Hospitals li {
    line-height: 35px;
    list-style: none;
    cursor: pointer;
    color: #0A1C4B;
    font-size: 20px;
    font-weight: 600;
}








/*  */
/*  */
/*  */
/* right vala */
/*  */
/*  */
/*  */








.main-tag-main2 {
    /* border: 1px solid black; */
    flex: 1;
    margin-left: 15px;
}

.main2-main-div1 {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 60px 30px 60px 60px;
}

.main2-main-div1-image {
    background: url(../Images/hospitalprofile1.png.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.main2-main-div1-second {
    /* border: 1px solid red; */
    padding-left: 60px;
}

.Hameed-div {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    gap: 10px;
}

.Hameed-div h3 {
    font-size: 32px;
    font-weight: 600;
    color: #0A1C4B;

}

.Hameed-div p {
    font-size: 16px;
    color: #0A1C4B;
    font-weight: 600;
    background-color: rgba(36, 208, 208, 0.15);
    padding: 6px 10px;
    border-radius: 5px;
}

.location-div {
    gap: 7px;
    align-items: center;
    /* border: 1px solid black; */
    display: flex;
    padding-top: 10px;
}

.location-div svg {
    height: 21px;
    width: 20px;
}

.location-div p {
    font-size: 17px;
    color: #0A1C4B;
    font-weight: 600;
}

.p2div {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 23px;
    padding-left: 7px;
}

.p2div p {
    font-size: 16px;
    color: #0A1C4B;
    font-weight: 600;
}

.p2d {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 98px;
    padding-top: 4px;
    padding-left: 7px;
}

.p2d p {
    color: rgba(36, 208, 208, 1);
    font-size: 14px;
    font-weight: 600;
}



.main2-main-div1-last-div {
    /* border: 1px solid black; */
    position: relative;
    top: 50px;
    left: 120px;
    height: 100%;

}

.main2-main-div1-last-div p {
    padding: 15px 40px;
    background-color: rgba(10, 28, 75, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}







/*  */





.main2-main-div2 {
    padding: 25px 50px;
    padding-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-top: 17px;
}

.main2-main-div2-d1 {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    width: 1030px;
    justify-content: space-between;
}

.main2-main-div2-d1 h3 {
    font-size: 32px;
    font-weight: 600;
    color: #0A1C4B;
}

.centre p {
    font-size: 16px;
    font-weight: 600;
    color: #0A1C4B;
    /* align-items: center; */
}

.centre svg {
    height: 50px;
    width: 14px;
}

.centre {
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 5px;
}


.main2-main-div2-d2 {
    display: flex;
    /* border: 1px solid red; */
    gap: 50px;
    padding-top: 30px;
}

.Gynecologist {
    /* border: 1px solid black; */
    text-align: center;
}

.Gynecologist svg {
    height: 75px;
    width: 75px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: 8px;
}

.Gynecologist p {
    font-size: 20px;
    font-weight: 600;
    color: #0A1C4B;
}

/*  */

/*  */










.lasttotal-main {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    /* border: 1px solid red; */
    padding-top: 30px;
    padding-left: 50px;
}

.lasttotal-main h3 {
    font-size: 32px;
    font-weight: 600;
    color: #0A1C4B;
}



.copy-total {
    /* border: 1px solid red; */
    padding-top: 70px;
    padding-left: 15px;
}

.copy-total-flex {
    display: flex;
    /* border: 1px solid red; */
}

.div-img {
    background: url(../Images/hospitaprofie.png.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    cursor: pointer;
    width: 150px;
    border-radius: 50%;
}

.div-text {
    /* border: 1px solid red; */
    padding-left: 20px;
}

.div-text-d1 {
    /* border: 1px solid red; */
    gap: 10px;
    display: flex;
    align-items: center;
}

.div-text-d1 svg {
    height: 20px;
    width: 20px;
}

.div-text-d1 h3 {
    color: #0A1C4B;
}

.div-text-d2 {
    /* border: 1px solid red; */
    padding-top: 3px;
}

.div-text-d2 p {
    text-align: left;
    font-size: 22px;
    word-spacing: 1px;
    line-height: 33px;
    font-weight: 600;
    color: rgba(10, 44, 75, 0.685);
}

.div-text-d2 p strong {
    color: rgba(10, 28, 75, 1);
    cursor: pointer;
}




.copy-total-centre {
    display: flex;
    /* border: 1px solid red; */
    max-width: 1200px;
    margin: auto;
    padding-left: 115px;
    padding-top: 30px;
    position: relative;
}

.copy-total-centre-textdiv {
    display: flex;
    gap: 40px;
}

.copy-total-centre-textdiv h2 {
    font-size: 23px;
    color: #0A1C4B;
    font-weight: 600;
}

.copy-total-centre-textdiv p {
    font-size: 22px;
    padding-top: 10px;
    font-weight: 600;
    color: rgba(10, 44, 75, 0.6);
}

.copy-total-centre-buttondiv {
    position: absolute;
    right: 200px;
}

.copy-total-centre-buttondiv-d1 {
    background-color: rgba(10, 28, 75, 1);
    padding: 15px 25px;
    display: flex;
    gap: 15px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}


.copy-total-centre-buttondiv-d1 p {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
}

.copy-total-centre-buttondiv-d1 svg {
    height: 25px;
    width: 20px;
}

.copy-total-centre-buttondiv-d2 {
    background-color: rgba(36, 208, 208, 1);
    padding: 10px 25px;
    display: flex;
    gap: 15px;
    border-radius: 5px;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.copy-total-centre-buttondiv-d2 svg {
    height: 30px;
    width: 25px;
}

.copy-total-centre-buttondiv-d2 p {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
}


.paragraph {
    /* border: 1px solid red; */
    padding-top: 30px;
}


.paragraph p {
    text-align: left;
    color: rgba(10, 44, 75, 0.801);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.paragraph p strong {
    color: #0A1C4B;
    cursor: pointer;
}


.maindiv-3div {
    display: flex;
    /* border: 1px solid red; */
    gap: 20px;
    padding-top: 40px;
    padding-left: 5px;
}

.maindiv-3div-d1 {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 13px 20px 13px 15px;
    line-height: 28px;
}

.d3-1{
    display: flex;
    gap: 15px;
    align-items: center;
}

.d3-1 svg{
    height: 20px;
    width: 20px;
}

.d3-1 p{
    color: #0A1C4B;
    font-weight: 600;
    font-size: 18px;
}

.d3-2{
    display: flex;
    gap: 15px;
    align-items: center;
}

.d3-2 svg{
    height: 20px;
    width: 20px;
}
.d3-2 p{
    color: #0A1C4B;
    font-weight: 500;
    font-size: 16px; 
}
.d3-3{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;
}


.d3-3 .p1{
    color: rgba(81, 183, 79, 1);
    font-weight: 600;
}
.d3-3 .p2{
    color: rgba(10, 28, 75, 1);
    font-weight: 15px;
}


.copy-total1{
    padding-bottom: 55px;
}


/*  */




/*  */
/*  */
/*  */
/*  */
/* footer 1,2,3,4 options */
/*  */
/*  */
/*  */
/*  */



.small-footer{
    position: relative;
    /* border: 1px solid red; */
    padding-top: 60px;
    /* display: flex; */
    /* padding-top: 60px;
    text-align: right;
    justify-content: end;
    gap: 20px; */
}

.small-footer-1{
    position: absolute;
    /* border: 1px solid red; */
    display: flex;
    right: 130px;
    gap: 20px;
    align-items: center;
}


.small-footer-1 svg{
    height: 30px;
    cursor: pointer;
    width: 30px;
}


.svg-li svg{
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
}

.small-footer-1 li{
    list-style: none;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(36, 208, 208, 1);
    color: rgba(36, 208, 208, 1);
    padding: 7px 13px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.small-footer-1 .blue-color{
    background-color: #0A1C4B;
    border: 1px solid #0A1C4B;
    color: #ffffff;
    outline: none;
}
.small-footer-1 li:hover{
    background-color: rgba(10, 28, 75, 1);
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(10, 28, 75, 1);
}





/*  */
/*  */
/*  */
/* footer */
/*  */
/*  */
/*  */













.main-foot{
    margin-top: 80px;
    /* border: 1px solid red; */
    background-color: rgba(10, 28, 75, 1);
    padding: 60px 0px 60px 180px;
}


.mainfoot-maindiv{
    display: flex;
}

.foot-div1{
    /* border: 1px solid black; */
    padding: 5px;
}

.foot-div1 .first{
    width: 150px;
}


.foot-p{
    text-align: left;
    color: rgba(255, 255, 255, 0.685);
    padding-top: 18px;
    font-size: 16px;
    line-height: 22px;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}


.foot-h2{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
}


.foot-ul{
    padding-top: 10px;
}
.foot-ul-div{
    display: flex;
    align-items: center;
    padding-top: 10px;
}


.foot-ul-div svg{
    height: 25px;
    width: 10px;
    cursor: pointer;
}

.foot-ul-div li{
    padding-left: 20px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;

}



.foot-ul-div2{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div2 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div2 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}



.foot-ul-div3{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div3 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div3 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}


.foot-ul-div4{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div4 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div4 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}




.Our-Payment-Partners{
    text-align: left;
    padding-top: 37px;
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
}

.flex-box{
    display: flex;
    padding-top: 30px;
}

.flex-box-1{
    padding-left: 8px;
}

.flex-box-1 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}

.flex-box-2{
    padding-left: 14px;
}

.flex-box-2 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}


.flex-box-3{
    padding-left: 14px;
}

.flex-box-3 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}






/*  */






.foot-div2{
    /* border: 1px solid red; */
    padding: 5px;
    padding-left: 140px;
    /* padding-right: 50px; */

}

.foot-div2 h4{
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 500;
}

.Major-Cities-ul{
    /* border: 1px solid red; */
    padding-top: 30px;
}

.Major-Cities-ul li{
    list-style: none;
    line-height: 37px;
    color: rgba(255, 255, 255, 0.692);
    font-size: 16px;
    cursor: pointer;
}





/*  */




/* .foot-div3{

}






.foot-div4{

}




.foot-div5{

}
 */




 /*  */
 /*  */
 /*  */



.footer-mantag{
    display: flex;
    /* border: 1px solid red; */
    max-width: 1500px;
    padding-top: 50px;
    gap: 150px;
}

.footer-mantag-maindiv{
    display: flex;
    /* border: 1px solid red; */
    gap: 20px;
    align-items: center;
}

.footer-mantag-svg svg{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.footer-mantag-2p p{
    text-align: left;
    line-height: 25px;
    justify-content: center;
}


.footer-mantag-2p1{
    font-size: 18px;
    color: rgb(255, 254, 254);
}

.footer-mantag-2p2{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.644);
}



/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* risponisve */
/*  */
/*  */
/*  */
/*  */
/*  */




@media (max-width:1460px) {
    .float-right{
        padding-right: 50px;
    }
    .float-left{
        padding-left: 60px;
    }
    .list-items{
        padding-left: 60px;
    }
    .list-items li{
        margin-right: 30px;
    }
}

@media (max-width:1320px) {
    .list-items{
        display: none;
    }
    .float-right{
        padding-right: 60px;
    }
    .float-left{
        padding-left: 70px;
    }
    
}

@media (max-width:790px){
    .float-right{
        padding-right: 40px;
    }
    .float-left{
        padding-left: 50px;
    }
    .logo svg{
        height: 80px;
    }
    .main-header{
        height: 70px;
        align-items: center;
    }
    .logo svg{
        height: 70px;
        width: 180px;
    }
    .logo-paragraph p{
        font-size: 20px;
        top: 17px;
    }
    .svg1 svg{
        height: 63px;
        width: 38px;
        margin-right: 10px;
    }
    .svg2 svg{
        height: 63px;
        width: 37px;
        margin-right: 10px;
    }
    .svg3 svg{
        height: 64px;
        width: 37px;
    }
}
@media (max-width:600px){
    .float-right{
        padding-right: 30px;
        padding-top: 0px;
    }
    .float-left{
        padding-left: 40px;
    }
    .main-header{
        height: 60px;
        align-items: center;
    }
    .logo svg{
        height: 61px;
        width: 180px;
    }
    .logo-paragraph p{
        font-size: 22px;
        top: 17px;
    }
    .svg1 svg{
        height: 65px;
        width: 38px;
        margin-right: 10px;
    }
    .svg2 svg{
        height: 64px;
        width: 37px;
        margin-right: 10px;
    }
    .svg3 svg{
        height: 64px;
        width: 37px;
    }
}
@media (max-width: 500px){
    .float-right{
        padding-right: 15px;
    }
    .float-left{
        padding-left: 20px;
    }
}

/*  */
@media (max-width:1100px){
    .max-width h3 {
        padding-top: 85px;
        font-size: 45px;
    }
    .main-section{
        height: 300px;
    }
    .max-width p {
        font-size: 18px;
        margin-top: 10px;
    }
}
@media (max-width: 920px){
    .max-width h3 {
        padding-top: 80px;
        font-size: 35px;
    }
    .main-section{
        height: 280px;
    }
    .max-width p {
        font-size: 16px;
        margin-top: 8px;
    }
}
@media (max-width: 680px){
    .max-width h3 {
        padding-top: 75px;
        font-size: 30px;
    }
    .main-section{
        height: 250px;
    }
    .max-width p {
        font-size: 14px;
    }
}
@media (max-width: 580px){
    .max-width h3 {
        padding-top: 75px;
        font-size: 28px;
    }
    .main-section{
        height: 245px;
    }
    .max-width p {
        font-size: 13px;
    }
}
@media (max-width: 500px){
    .max-width h3 {
        padding-top: 75px;
        font-size: 26px;
    }
    .main-section{
        height: 240px;
    }
    .max-width p {
        font-size: 12px;
    }
}