@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}



.main-section {
    display: flex;
    max-width: 1920px;
    height: 937px;
    margin: auto;
}

.float-left {
    height: 100%;
    width: 47%;
    background-color: rgba(10, 28, 75, 1);
}




.float-left svg:first-child {
    width: 10px;
    height: 25px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 260px;
}


.float-left svg:last-child {
    width: 100px;
    height: 280px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 100px;
}


/*  */
/*  */
/*  */





.float-right {
    padding-left: 3px;
    padding-right: 3px;
    height: 100%;
    flex: 1;
    background-color: rgba(245, 245, 245, 1);
}


.float-right h2 {
    font-size: 30px;
    text-align: center;
    color: rgba(10, 28, 75, 1);
    margin-top: 258px;
}


.right-p {
    text-align: center;
    color: rgba(10, 28, 75, 0.884);
    word-spacing: 0.5px;
    letter-spacing: 0.2px;
    font-weight: bold;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.float-right form {
    max-width: 600px;
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 28px;
}

/*  */
/*  */
/*  */
/* form */
/*  */
/*  */
/*  */



form p {
    margin-top: 15px;
    font-size: 15px;
    padding-bottom: 3px;
    font-weight: 200;
    color: rgba(10, 28, 75, 1);
    padding-left: 6px;
}



form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 18px;
}

form div.after-form {
    border: 2px solid rgba(36, 208, 208, 1);
    margin-top: 3px;
    display: flex;
    border-radius: 6px;
    background-color: #fff;
    padding-left: 3px;
}

.div-hover,
.hover {
    margin-top: 3px;
    display: flex;
    border-radius: 6px;
    background-color: #fff;
    padding-left: 3px;
}

input::-webkit-inner-spin-button {
    display: none;
}

form div input {
    outline: none;
    border: none;
    width: 100%;
    padding: 15px 0 15px 9px;
    color: rgba(0, 0, 0, 0.815);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

input::placeholder {
    font-size: 15px;
    color: rgba(36, 208, 208, 1);
}


form div svg {
    width: 20px;
}


.div-hover,
.hover {
    border: 2px solid rgba(255, 255, 255, 1);
}


.div-hover:hover,
.hover:hover {
    border: 2px solid rgba(36, 208, 208, 1);
}


/* button */
/*  */
/*  */


form button {
    outline: none;
    border: none;
    margin-top: 30px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(10, 28, 75, 1);
    border-radius: 6px;
    width: 100%;
    padding: 12px 0 12px 0;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.5px;
    cursor: pointer;
}


.after-button {
    display: flex;
    text-align: center;
    justify-content: center;
}

.after-button p:first-child {
    font-size: 16px;
    color: rgba(10, 28, 75, 1);
}


.after-button p:last-child {
    color: rgba(36, 208, 208, 1);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}


a {
    text-decoration: none;
}




/*  */
/*  */
/*  */
/*  */
/* responsive starting */
/*  */
/*  */
/*  */
/*  */









@media (max-width:1600px) {
    .float-right form {
        max-width: 600px;
        width: 100%;
    }
}


@media (max-width:700px) {
    .main-section {
        flex-direction: column;
    }

    .float-left {
        width: 100%;
        height: 50%;
        
    }

    .float-right {
        height: 50%;
    }

    .float-right h2 {
        margin-top: 20px;
    }
    .float-left svg:first-child{
        margin-top: 40px;
        height: 23px;
    }
    .float-left svg:last-child{
        margin-top: 30px;
        height: 270px;
        margin-bottom: 40px;
    }
    .after-button{
        padding-bottom: 15px;
    }
}


@media (max-width:1230px) {
    .float-right form {
        padding-left: 10px;
        padding-right: 10px;
    }
}


@media (max-width:450px) {
    .float-left svg:first-child{
        margin-top: 30px;
        max-width: 100px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width:300px) {
    .float-left svg:last-child{
        margin-top: 0px;
    }
}











@media (max-width:400px) {
    .float-right h2{
        font-size: 20px;
    }
    .float-right p{
        font-size: 12px;
    }
    form div input{
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
    }
    form div input::placeholder{
        font-size: 12px;
    }
    form div svg{
        width: 16px;
    }
    .after-button p:first-child{
        font-size: 12px;
    }
    .after-button p:last-child{
        font-size: 12px;
    }
}

