@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}



.main-section-join {
    display: flex;
    max-width: 1920px;
    margin: auto;
    height: 937px;
}

.float-left {
    /* height: 100%; */
    position: relative;
    width: 47%;
    background: url(/Trauma/static/assets/Images/Rectangle\ 445.png);
    height: 100vh;
}

.float-left div:first-child {
    position: relative;
}


.float-left div:first-child {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(6, 21, 59, 0.842), rgba(7, 24, 66, 0.829));
}




.float-left svg:first-child {
    position: absolute;
    width: 10px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}





/*  */
/*  */
/*  */




.float-right {
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    flex: 1;
    background-color: rgba(245, 245, 245, 1);
}


.float-right h2 {
    font-size: 30px;
    text-align: center;
    color: rgba(10, 28, 75, 1);
    margin-top: 258px;
}


.right-p {
    text-align: center;
    color: rgba(10, 28, 75, 0.884);
    word-spacing: 0.5px;
    letter-spacing: 0.2px;
    font-weight: bold;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.float-right form {
    max-width: 600px;
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 28px;
}

/*  */
/*  */
/*  */
/* form */
/*  */
/*  */
/*  */



form p {
    margin-top: 15px;
    font-size: 15px;
    padding-bottom: 3px;
    font-weight: 200;
    color: rgba(10, 28, 75, 1);
    padding-left: 6px;
}



form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 18px;
}

form div.after-form {
    border: 2px solid rgba(36, 208, 208, 1);
    margin-top: 3px;
    display: flex;
    border-radius: 6px;
    background-color: #fff;
    padding-left: 3px;
}

.div-hover,
.hover {
    margin-top: 3px;
    display: flex;
    border-radius: 6px;
    background-color: #fff;
    padding-left: 3px;
}

input::-webkit-inner-spin-button {
    display: none;
}

form div input {
    outline: none;
    border: none;
    width: 100%;
    padding: 15px 0 15px 9px;
    color: rgba(0, 0, 0, 0.815);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

input::placeholder {
    font-size: 15px;
    /* color: rgba(36, 208, 208, 1); */
}


form div svg {
    width: 20px;
}


.div-hover,
.hover {
    border: 2px solid rgba(255, 255, 255, 1);
}


.div-hover:hover,
.hover:hover {
    border: 2px solid rgba(36, 208, 208, 1);
}


/* button */
/*  */
/*  */


form button {
    outline: none;
    border: none;
    margin-top: 30px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(10, 28, 75, 1);
    border-radius: 6px;
    width: 100%;
    padding: 12px 0 12px 0;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.5px;
    cursor: pointer;
}


.after-button {
    display: flex;
    text-align: center;
    justify-content: center;
}

.after-button p:first-child {
    font-size: 16px;
    color: rgba(10, 28, 75, 1);
}


.after-button p:last-child {
    color: rgba(36, 208, 208, 1);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}


a {
    text-decoration: none;
}

























@media (max-width:1600px) {
    .float-right form {
        max-width: 600px;
        width: 100%;
    }
}


@media (max-width:700px) {
    .main-section {
        flex-direction: column;
    }

    .float-left {
        height: 50%;
        width: 100%;
    }

    .float-right {
        height: 50%;
    }

    .float-right h2 {
        margin-top: 20px;
    }

    body {
        background-color: rgba(245, 245, 245, 1);
    }

    .after-button {
        padding-bottom: 15px;
    }

    .float-left svg:first-child {
        top: 180px;
        height: 25px;
    }
}








@media (max-width:400px) {
    .float-left svg:first-child {
        height: 20px;
    }

    .float-right h2 {
        font-size: 20px;
    }

    .float-right p {
        font-size: 12px;
    }

    form div input {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
    }

    form div input::placeholder {
        font-size: 12px;
    }

    form div svg {
        width: 16px;
    }

    .after-button p:first-child {
        font-size: 12px;
    }

    .after-button p:last-child {
        font-size: 12px;
    }
}