@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Source Sans Pro', sans-serif;
}

.outfit-font{
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
}

.nav-item-svg-parent-div svg{
    width: 23px !important;
    height: 23px !important;
}

input.slot-time-interval-radio:checked ~ label,
input.slot-time-interval-radio ~ label:hover{
    color: white;
    background-color: #0A1C4B;
    border-color: #0A1C4B !important;
}

.max-width1 {
    max-width: 1910px;
    margin: auto;
    position: sticky;
    top: 0;
}

.main-header {
    height: 80px;
    width: 100%;
    z-index: 500;
    position: sticky;
    top: 0;
}


.float-left {
    float: left;
    height: 100%;
    display: flex;
    padding-left: 90px;
}





.logo svg {
    height: 80px;
    width: 200px;
    cursor: pointer;
}


.list-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-top: 4px;
}


.list-items li {
    list-style: none;
    margin-right: 40px;
    color: rgba(10, 28, 75, 0.877);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 10px 11px 15px;
    border-radius: 10px;
}


.list-items li:hover {
    background-color: #0a1c4b0f;
    transition: 0.5s;
}

.list-items li:last-child {
    padding-right: 15;
    position: relative;
}

.list-items li:last-child:hover .item-dropdown5 {
    display: block;
}

.li-forth {
    position: relative;
}

.li-forth:hover .item-dropdown4 {
    display: block;
}



.list-items li:first-child {
    position: relative;
}


.list-items li:first-child:hover .dropdown1{
    display: flex;
}








.hr hr {
    width: 70px;
    font-size: 2px;
    font-weight: 500;
    border: 1px solid rgb(82, 82, 82);
}


h2.first-color {
    padding-top: 8px;
}

.item-dropdown4 {
    display: none;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: 310px;
    left: 0;
    top: 45px;
    padding: 17px 20px 10px 20px;
    cursor: auto;
}

.item-dropdown4 h2 {
    color: rgba(36, 208, 208, 1);
    font-size: 24px;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 5px;
}


a {
    text-decoration: none;
}

.item-dropdown4-ul li {
    width: 100%;
    padding: 9px 10px 10px 15px;
    font-size: 19px;
}

.item-dropdown4-ul li:last-child {
    font-size: 20px;
}

.item-dropdown4-ul li:last-child hr {
    width: 70px;
    font-size: 2px;
    font-weight: 500;
    border: 1px solid rgb(82, 82, 82);
}




.item-dropdown5 {
    display: none;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: 240px;
    cursor: auto;
    left: 0;
    top: 45px;
    padding: 17px 20px 10px 20px;
}

.item-dropdown5 h2 {
    color: rgba(36, 208, 208, 1);
    font-size: 24px;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 5px;
}

.item-dropdown5-ul li {
    width: 100%;
    padding: 9px 10px 10px 15px;
    font-size: 19px;
}

.item-dropdown5-ul li:last-child {
    font-size: 20px;
}

.item-dropdown5-ul li:last-child hr {
    width: 70px;
    font-size: 2px;
    font-weight: 500;
    border: 1px solid rgb(82, 82, 82);
}














.float-right {
    text-align: right;
    justify-content: end;
    display: flex;
    padding-top: 5px;
    padding-right: 80px;
    position: relative;
}


.logo-paragraph p {
    font-size: 24px;
    color: rgba(10, 28, 75, 1);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    position: relative;
    top: 20px;
    cursor: pointer;
}

.svg1 svg {
    height: 75px;
    width: 40px;
    cursor: pointer;
    margin-right: 15px;
}

.svg2 svg {
    height: 75px;
    width: 39px;
    margin-right: 15px;
    cursor: pointer;
}

.svg3 {
    position: relative;
    align-items: center;
    height: 50px;
}

.svg3 svg {
    height: 75px;
    width: 39px;
    cursor: pointer;
}

.svg3:hover .icon-drowpdown {
    display: block;
}




.fa-bars {
    display: none;
    cursor: pointer;
    padding-top: 20px;
    margin-left: 18px;
    font-size: 30px;
    font-weight: 600;
    overflow: hidden;
}


.icon-drowpdown {
    overflow: hidden;
    display: none;
    position: absolute;
    background: #FFFFFF;
    width: 150px;
    line-height: 25px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    top: 63px;
    right: 3px;
}



.icon-drowpdown1 {
    display: flex;
    padding: 10px 10px 12px 10px;
    gap: 7px;
    align-items: center;
    cursor: pointer;
}

.icon-drowpdown1:hover {
    background-color: #0a1c4b1e;
}

.icon-drowpdown1 svg {
    width: 20px;
    height: 20px;
}

.icon-drowpdown1 p {
    font-size: 18px;
    font-weight: 600;
    color: #0A1C4B;
}


.icon-drowpdown2 {
    display: flex;
    padding: 10px 10px 12px 13px;
    gap: 7px;
    align-items: center;
    cursor: pointer;
}

.icon-drowpdown2:hover {
    background-color: #0a1c4b1e;
}


.icon-drowpdown2 svg {
    width: 17px;
    height: 20px;
}


.icon-drowpdown2 p {
    font-size: 18px;
    font-weight: 600;
    color: #0A1C4B;
}







@media (max-width:1600px) {
    .float-left {
        padding-left: 50px;
    }

    .float-right {
        padding-right: 40px;
    }
}

@media (max-width:1500px) {
    .list-items {
        padding-left: 45px;
    }

    .list-items li {
        margin-right: 20px;
    }
}

@media (max-width:1530px) {
    .dropdown1 {
        left: -50px;
    }
}

@media (max-width:1500px) {
    .dropdown1 {
        left: -100px;
    }
}

@media (max-width:1420px) {
    .dropdown1 {
        left: -150px;
    }
}

@media (max-width:1200px) {
    .list-items {
        display: none;
    }
}

@media (max-width:1380px) {


    .float-left {
        padding-left: 50px;
    }

    .float-right {
        padding-right: 40px;
    }
}

@media (max-width:800px) {
    .float-left {
        padding-left: 70px;
    }

    .float-right {
        padding-right: 60px;
    }
}

@media (max-width:700px) {
    .float-left {
        padding-left: 50px;
    }

    .float-right {
        padding-right: 40px;
    }
}

@media (max-width:630px) {
    .float-left {
        padding-left: 30px;
    }

    .float-right {
        padding-right: 20px;
        padding-top: 0;
        height: 70px;
    }

    .main-header {
        height: 70px;
    }

    .logo svg {
        height: 70px;
    }
}

@media (max-width:540px) {
    .svgn {
        display: none;
    }

    .float-right {
        padding-right: 15px;
    }

    .float-left {
        padding-left: 20px;
    }

    .svg1 svg {
        margin-right: 10px;
    }

    .svg2 svg {
        margin-right: 10px;
    }

    .main-header {
        height: 65px;
    }

    .logo svg {
        height: 65px;
    }

    .logo-paragraph p {
        font-size: 20px;
    }

    .svg1 svg {
        height: 70px;
        width: 35px;
    }

    .svg2 svg {
        height: 70px;
        width: 35px;
    }

    .svg3 svg {
        height: 70px;
        width: 35px;
    }

    .icon-drowpdown1 svg {
        width: 20px;
        height: 20px;
    }

    .icon-drowpdown2 svg {
        width: 17px;
        height: 20px;
    }

    .icon-drowpdown {
        top: 60px;
    }
}

@media (max-width:500px) {

    .fa-bars {
        display: block;
        margin-left: 10px;
    }

    .svg2 svg {
        display: none;
    }

    .svg1 svg {
        margin-right: 5px;
    }

    .svg2 svg {
        margin-right: 5px;
    }

    .logo svg {
        width: 180px;
    }

    .logo-paragraph p {
        margin-right: 12px;
    }

    .float-left {
        padding-left: 20px;
    }

    .float-right {
        padding-right: 15px;
    }
}

@media (max-width:440px) {
    .float-left {
        padding-left: 10px;
    }

    .float-right {
        padding-right: 7px;
    }
}

@media (max-width:400px) {
    .float-left {
        padding-left: 6px;
    }

    .float-right {
        padding-right: 4px;
    }
}

@media (max-width:367px) {
    .logo svg {
        width: 160px;
    }

    .logo-paragraph p {
        margin-left: 8px;
    }
}

@media (max-width:350px) {
    .logo svg {
        width: 150px;
    }
}

.max-width {
    margin: 0 auto;
}

.max-width h3{
    text-align: center;
}

.max-width h3 {
    font-size: 55px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.max-width p {
    color: rgba(255, 255, 255, 0.678);
    font-size: 20px;
    margin-top: 10px;
}


@media (max-width:1000px) {
    .max-width h3 {
        padding-top: 90px;
        font-size: 50px;
    }

    .max-width p {
        font-size: 20px;
        margin-top: 10px;
    }
}

@media (max-width:850px) {
    .max-width h3 {
        padding-top: 90px;
        font-size: 45px;
    }

    .max-width p {
        font-size: 18px;
        margin-top: 10px;
    }
}

@media (max-width:750px) {
    .max-width h3 {
        padding-top: 80px;
        font-size: 35px;
    }

    .max-width p {
        font-size: 16px;
        margin-top: 10px;
    }
}

@media (max-width:750px) {
    .max-width h3 {
        padding-top: 90px;
        font-size: 30px;
    }

    .max-width p {
        font-size: 14px;
        margin-top: 10px;
    }
}

@media (max-width:750px) {
    .max-width h3 {
        padding-top: 90px;
        font-size: 24px;
    }

    .max-width p {
        font-size: 12px;
        margin-top: 10px;
    }
}

@media (max-width:375px) {
    .max-width h3 {
        font-size: 22px;
    }

    .max-width p {
        font-size: 11px;
    }
}


@media (max-width:353px) {
    .max-width h3 {
        font-size: 20px;
    }

    .max-width p {
        font-size: 10px;
    }
}

@media (max-width:320px) {

    .max-width h3 {
        font-size: 17px;
    }

    .max-width p {
        font-size: 8px;
    }
}





.location-bar input {
    height: 100%;
    width: 100%;
    border: none;
    color: rgba(10, 28, 75, 1);
    font-size: 18px;
    outline: none;
    padding-right: 10px;
}


.Specialities {
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 260px;
    height: 55px;
    padding-left: 10px;
    gap: 10px;
    border-radius: 6px;
}

.Specialities svg {
    height: 25px;
    width: 25px;
}

.Specialities-para {
    color: #7A7A7A;
    outline: none;
    border: none;
    background-color: #ffffff;
}


.Specialities input {
    height: 100%;
    width: 100%;
    border: none;
    color: rgba(10, 28, 75, 1);
    font-size: 18px;
    outline: none;
    padding-right: 10px;
}


.location-bar:focus-within,
.Specialities:focus-within {
    border: 2px solid rgba(36, 208, 208, 1);
}



.Search-Doctors-Hospitals {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 440px;
    height: 55px;
    padding-left: 10px;
    gap: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.Search-Doctors-Hospitals input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 18px;
    color: #0A1C4B;
}

.Search-Doctors-Hospitals {
    color: #0A1C4B;
    font-weight: 400;
}

.Search-Doctors-Hospitals-para {
    border: none;
    outline: none;
    width: 375px;
    background-color: #fff;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24D0D0;
    width: 130px;
    height: 55px;
    gap: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.4s;
}

.search-button:hover {
    transform: rotate(10deg) scale(1.2);
    box-shadow: 0px 15px 20px rgba(172, 170, 170, 0.822);

}

.search-button p {
    font-size: 21px;
    padding-top: 0px;
    padding: none;
    display: flex;
    align-items: center;
}


.search-button svg {
    height: 20px;
    width: 20px;
}


.search-button-para {
    color: white;
}


@media (max-width:1150px) {
    .search-button {
        padding-left: 8px;
        padding-right: 8px;
        gap: 6px;
    }
}


@media (max-width:700px) {

    .location-bar,
    .Specialities {
        display: none;
    }
}

@media (max-width:480px) {
    .Search-Doctors-Hospitals input {
        padding-left: 3px;
        padding-right: 0px;
    }

    .Search-Doctors-Hospitals {
        padding-left: 5px;
        padding-right: 0px;
    }
}




















.step-by-step-fetured-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}

.Choose-Doctor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #0A1C4B;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    width: 330px;
    border-radius: 6px;
    cursor: pointer;
}


.Choose-Doctor-icon svg {
    height: 30px;
    width: 30px;
}







.Choose-Doctor-icon {
    background-color: #24D0D0;
    width: 60px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-bottom: 20px;
}


.Choose-Doctor-heading1 {
    color: white;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}





.Choose-Doctor-para1 {
    word-spacing: 0.8px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding-top: 4px;
}













.Make-schedule:hover,
.OnlineConsulting:hover,
.Get-prescription:hover {
    background-color: #0A1C4B;
    transition: all 0.7s;
}




.Make-schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: white;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    width: 330px;
    border-radius: 6px;
    cursor: pointer;
}


.Make-schedule h3,
.OnlineConsulting h3,
.Get-prescription h3 {
    font-weight: 500;
    color: #0a1c4bc2;
    font-size: 30px;
    text-align: center;
}

.Make-schedule p,
.OnlineConsulting p,
.Get-prescription p {
    color: #0A1C4B;
    word-spacing: 1px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding-top: 4px;
}

.Make-schedule:hover h3,
.OnlineConsulting:hover h3,
.Get-prescription:hover h3 {
    color: white;
    transition: 0.6s;
}

.Make-schedule:hover p,
.OnlineConsulting:hover p,
.Get-prescription:hover p {
    color: white;
    transition: 0.6s;
}

.OnlineConsulting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: white;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    width: 330px;
    border-radius: 6px;
    cursor: pointer;
}




.Get-prescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: white;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    width: 330px;
    border-radius: 6px;
    cursor: pointer;
}


@media (max-width:1420px) {
    .step-by-step-fetured-section {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media (max-width:1250px) {
    .step-by-step-fetured-section {
        gap: 8px;
    }
}

@media (max-width:1150px) {

    .Choose-Doctor,
    .Make-schedule,
    .OnlineConsulting,
    .Get-prescription {
        height: 270px;
    }
}

@media (max-width:1050px) {

    .Choose-Doctor,
    .Make-schedule,
    .OnlineConsulting,
    .Get-prescription {
        height: 250px;
    }
}

@media (max-width:1000px) {
    .step-by-step-fetured-section {
        flex-wrap: wrap;
        gap: 20px;
    }

    .Choose-Doctor,
    .Make-schedule,
    .OnlineConsulting,
    .Get-prescription {
        height: 300px;
    }
}

@media (max-width:1000px) {
    .step-by-step-fetured-section {
        flex-wrap: wrap;
        gap: 20px;
    }

    .Choose-Doctor,
    .Make-schedule,
    .OnlineConsulting,
    .Get-prescription {
        height: 300px;
    }
}



























.main {
    margin-top: 35px;
    width: 100%;
    background-color: #ffffff;
}

.main-maindiv {
    max-width: 1370px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 30px 0;
}

.main-div1 {
    display: flex;
    align-items: center;
    gap: 13px;
}

.icon-svg {
    display: flex;
    align-items: center;
}

.icon-svg svg {
    height: 35px;
    width: 35px;
}



.peragraph {
    line-height: 25px;
}





.p1 {
    text-align: left;
    font-size: 22px;
    word-spacing: 1px;
    font-weight: 600;
    color: #0A1C4B;
}

.p2 {
    font-size: 14px;
    color: #0A1C4B;
    font-weight: 600;
    text-align: left;
}

.main-div2 {
    display: flex;
    align-items: center;
    gap: 13px;
}

.main-div3 {
    display: flex;
    align-items: center;
    gap: 13px;
}



.main-div4 {
    display: flex;
    align-items: center;
    gap: 13px;
}



@media (max-width:1450px) {
    .main {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width:1250px) {
    .main-maindiv {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}

@media (max-width:400px) {
    .peragraph {
        line-height: 23px;
    }

    .p1 {
        font-size: 19px;
        word-spacing: 1px;
    }

    .p2 {
        font-size: 13px;
    }

    .icon-svg svg {
        height: 30px;
        width: 30px;
    }

    .main {
        padding-left: 15px;
        padding-right: 15px;
    }

}



























.doctor-found {
    max-width: 1400px;
    margin: auto;
    border-radius: 8px;
    margin-top: 40px;
    background-color: #ffffff;
}

.doctor-found-div1 {
    display: flex;
    padding: 20px 20px 0 20px;
    justify-content: space-between;
    align-items: center;
}

.doctor-found-div1 p:first-child {
    font-size: 34px;
    font-weight: 600;
    color: #0A1C4B;
}

.doctor-found-div1 p:last-child {
    display: flex;
    align-items: center;
    gap: 5px;
}




.div1-p2 {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #0A1C4B;
    display: flex;
    align-items: center;
}

.div1-p2 svg {
    height: 20px;
    width: 15px;
}




.doctor-found-div2 {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    padding-top: 13px;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
}


.div2-div1 svg {
    height: 70px;
    width: 70px;
}

.div2-div1 p {
    color: #0A1C4B;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}


.doctor-found h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 34px;
    font-weight: 600;
    color: #0A1C4B;
}

@media (max-width:1450px) {
    .doctor-found {
        margin-left: 20px;
        margin-right: 20px;
    }

    .doctor-found-div2 {
        padding-left: 20px;
        padding-right: 20px;
        flex-wrap: wrap;
    }
}

@media (max-width:1200px) {
    .doctor-found-div2 {
        gap: 50px;
        justify-content: center;
    }
}

@media (max-width:800px) {
    .doctor-found-div1 p:first-child {
        font-size: 26px;
    }

    .div1-p2 {
        font-size: 13px;
    }

    .div1-p2 svg {
        height: 14px;
        width: 12px;
    }

    .doctor-found-div1 {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media (max-width:450px) {
    .doctor-found-div1 {
        gap: 13px;
    }

    .doctor-found-div1 p:first-child {
        font-size: 18px;
    }

    .div1-p2 {
        font-size: 11px;
    }
}











.main-paragraph {
    text-align: center;
    color: #0A1C4B;
    font-size: 34px;
    font-weight: 600;
    padding-top: 35px;
}



.main-left-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding-left: 200px;
    padding-right: 100px;
}


.left h3 {
    color: #0A1C4B;
    font-size: 30px;
    font-weight: 600;
}

.left p {
    color: #0A1C4B;
    font-size: 18px;
    padding-top: 17px;
    line-height: 22px;
    text-align: left;
    font-weight: 600;
}

.left p b {
    font-weight: bold;
}

.left button {
    display: flex;
    align-items: center;
    background-color: #0A1C4B;
    gap: 10px;
    color: #FFFFFF;
    padding: 12px 11px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.4s;
    z-index: 10;
}


.left button svg {
    width: 20px;
    height: 10px;
}


.left button:hover {
    transform: rotate(10deg) scale(1.2);
    box-shadow: 0px 15px 20px rgb(172 170 170 / 82%);
}





.right {
    padding-bottom: 20px;
}

.right svg {
    height: 400px;
    width: 500px;
}






@media (max-width:1500px) {
    .main-left-right {
        padding-left: 30px;
        padding-right: 30px;
        gap: 40px;
    }
}

@media (max-width:1080px) {
    .main-left-right {
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media (max-width:1060px) {
    .main-left-right {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        gap: 20px;
    }
}

@media (max-width:550px) {
    .left h3 {
        font-size: 25px;
    }

    .left p {
        font-size: 15px;
        padding-top: 12px;
    }

    .left button {
        gap: 8px;
        padding: 11px 10px;
        margin-top: 25px;
    }

    .right svg {
        height: 300px;
        width: 380px;
    }

}

@media (max-width:450px) {
    .left h3 {
        font-size: 22px;
    }

    .left p {
        font-size: 12px;
        line-height: 18px;
    }
}










.user-recomendation {
    text-align: center;
    color: #0A1C4B;
    font-weight: 600;
    padding-top: 30px;
    font-size: 34px;
    padding-bottom: 40px;
}



.position-div {
    position: absolute;
}


.position-div1 {
    left: 0px;
    top: 82%;
    background: rgba(10, 28, 75, 0.15);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.position-div2 {
    right: 0px;
    top: 45%;
    background: rgba(10, 28, 75, 0.15);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.position-div1 svg,
.position-div2 svg {
    height: 13px;
    width: 13px;
}

.div-3div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 15px;
}

.div-3div .div-3div-div1,
.div-3div-div2,
.div-3div-div3 {
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    gap: 5px;
}





.div-3div-div1 p {
    text-align: center;
    font-size: 17px;
    color: #0A1C4B;
    word-spacing: 0.8px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 24px;
}




.div4-image {
    background: url(../Images/pofile1.png.jpg);
    height: 85px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid (rgba(10, 28, 75, 1), rgba(36, 208, 208, 1));
    width: 85px;
    border-radius: 50%;
    margin-top: 25px;
}





.div5-image {
    background: url(../Images/profile2.png.jpg);
    height: 85px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid (rgba(10, 28, 75, 1), rgba(36, 208, 208, 1));
    width: 85px;
    border-radius: 50%;
    margin-top: 25px;
}


.div-3div div .ayesha {
    text-align: center;
    color: #0A1C4B;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0px;
}

.svg-icon {
    height: 30px;
    width: 250px;
    padding-top: 6px;
    padding-bottom: 10px;
}






@media (max-width:1230px) {
    .div-3div {
        flex-wrap: wrap;
    }
}

@media (max-width:400px) {
    .div-3div-div1 p {
        font-size: 15px;
        margin-top: 15px;
        line-height: 20px;
    }

    .div-3div .div-3div-div1,
    .div-3div-div2,
    .div-3div-div3 {
        margin-left: 5px;
        margin-right: 5px;
    }

    .div4-image,
    .div5-image {
        height: 75px;
        width: 75px;
        margin-top: 15px;
    }

    .svg-icon {
        height: 27px;
        width: 220px;
    }

}

@media (max-width:335px) {
    .div-3div-div1 p {
        font-size: 13px;
    }
}



@media (max-width:750px) {
    .user-recomendation {
        font-size: 28px;
    }
}

@media (max-width:530px) {
    .user-recomendation {
        font-size: 23px;
    }
}

@media (max-width:400px) {
    .user-recomendation {
        font-size: 18px;
    }
}




















.join-section {
    max-width: 1920px;
    margin: auto;
    margin-top: 40px;
    background-color: #FFFFFF;
}

.join-section p {
    text-align: center;
    padding-top: 40px;
    color: #0A1C4B;
    font-weight: 600;
    font-size: 34px;
}


.join-section-main-div {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
    gap: 50px;
}





.join-section-div1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.join-section-div1 svg {
    margin-left: 5px;
}


.h6 {
    gap: 15px;
    display: flex;
    align-items: center;
    padding-top: 30px;
}


.h6 svg {
    width: 25px;
    background-color: #24D0D026;
    padding: 3px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}



.h6 h4 {
    color: #0A1C4B;
    font-size: 20px;
    font-weight: 600;
}

.btn3 {
    color: #FFFFFF;
    background-color: #0A1C4B;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    padding: 12px 11px;
    gap: 10px;
    outline: none;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.4s;
}



.btn3 svg {
    height: 15px;
    width: 15px;
}

.btn3:hover {
    transform: rotate(10deg) scale(1.2);
    box-shadow: 0px 15px 20px rgb(172 170 170 / 82%);
}












.join-section-div2 {
    padding-left: 150px;
}

.join-section-div2 svg {
    height: 300px;
    width: 420px;
}











@media (max-width:750px) {
    .join-section p {
        font-size: 28px;
        padding-top: 30px;
    }
}

@media (max-width:530px) {
    .join-section p {
        font-size: 23px;
    }
    .join-section-div2 svg {
        height: 280px;
        width: 350px;
    }
}

@media (max-width:370px) {
    .join-section-div2 svg {
        height: 250px;
        width: 300px;
    }
}

@media (max-width:450px) {
    .join-section p {
        font-size: 18px;
    }
}

@media (max-width:350px) {
    .join-section p {
        font-size: 16px;
    }
}


@media (max-width:1300px) {
    .join-section-main-div {
        padding-left: 10px;
        padding-right: 10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .join-section-div2 {
        padding-left: 0px;
    }
}

@media (max-width:650px) {
    .join-section-div1 svg {
        margin-left: 0px;
        height: 30px;
        width: 330px;
    }

    .h6 svg {
        width: 25px;
        background-color: #24D0D026;
        padding: 3px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .btn3 svg {
        height: 15px;
        width: 15px;
    }
    .h6{
        gap: 8px;
    }
    .h6 h4{
        font-size: 16px;
    }

}

@media (max-width:520px) {
    .h6 h4{
        font-size: 14px;
    }
    .join-section-div1 svg {
        margin-left: 0px;
        height: 30px;
        width: 300px;
    }

    .h6 svg {
        width: 25px;
        background-color: #24D0D026;
        padding: 3px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .btn3 svg {
        height: 15px;
        width: 15px;
    }
}
@media (max-width:450px){
    .h6 h4{
        font-size: 12px;
    }
    .join-section-div1 svg {
        margin-left: 0px;
        height: 30px;
        width: 250px;
    }

    .h6 svg {
        width: 25px;
        background-color: #24D0D026;
        padding: 3px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .btn3 svg {
        height: 15px;
        width: 15px;
    }
}













 */
