@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(255, 255, 255, 1);
}




.main-header {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    height: 80px;
    width: 100%;
    /* border: 1px solid red; */
}


.float-left {
    float: left;
    height: 100%;
    display: flex;
    /* border: 1px solid rgb(12, 12, 12); */
    margin-left: 90px;
}


.logo svg {
    height: 75px;
    width: 200px;
    cursor: pointer;
}


.list-items {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    gap: 13px;
}


.list-items li {
    list-style: none;
    margin-right: 40px;
    color: rgba(10, 28, 75, 0.877);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 1px;
    border-bottom: 3px solid white;
    border-radius: 8px;
}

/* .list-items li:first-child {
    border-bottom: 3px solid rgba(36, 208, 208, 1);
}


.list-items li svg {
    width: 20px;
    height: 8px;
    padding-bottom: 3px;
    justify-content: center;
    align-items: center;
}

.list-items li:last-child {
    padding-right: 0;
}











/*  */
/*  */
/*  */
/* float :right */
/*  */
/*  */
/*  */







.float-right {
    height: 100%;
    text-align: right;
    justify-content: end;
    display: flex;
    padding-top: 1px;
    /* border: 1px solid rgb(12, 12, 12); */
    margin-right: 80px;
    padding-right: 2px;
}


.logo-paragraph p {
    font-size: 24px;
    color: rgba(10, 28, 75, 1);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    position: relative;
    top: 20px;
    cursor: pointer;
}

.svg1 svg {
    height: 75px;
    width: 40px;
    cursor: pointer;
    margin-right: 15px;
}

.svg2 svg {
    height: 75px;
    width: 39px;
    margin-right: 15px;
    cursor: pointer;
}

.svg3 svg {
    height: 75px;
    width: 39px;
    cursor: pointer;
}




/*  */
/*  */
/*  */
/*  */
/*  */


.total-main {
    /* border: 1px solid red; */
    padding: 40px 100px 0 110px;
    display: flex;
}

.section-first {
    /* border: 1px solid black; */
    max-width: 270px;
    /* height: 1000px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-bottom: 13px;
}


.section-first-div-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(10, 28, 75, 0.226);
    padding: 10px 25px 10px 35px;
    width: 100%;
}

.section-first-div-first li {
    list-style: none;
    color: rgba(36, 208, 208, 1);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.section-first-div-first svg {
    height: 10px;
    width: 10px;
    cursor: pointer;
}

.padding {
    padding: 20px 30px 0px 30px;
    /* border: 1px solid red; */
}

.main-div {

    /* border: 1px solid red; */
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.first-ul {
    /* border: 1px solid red; */
    padding: 0px 10px 5px 10px;
}

.main-div .first-ul li {
    list-style: none;
    color: rgb(10, 28, 75);
    font-size: 20px;
    line-height: 37px;
    font-weight: 600;
    cursor: pointer;
}

.first-ul-first {
    background: rgba(10, 28, 75, 0.226);

}

.first-ul-first li {
    list-style: none;
    padding: 10px 10px;
    font-size: 20px;
    color: rgba(36, 208, 208, 0.863);
    cursor: pointer;
    font-weight: 600;
}

.border-div {
    margin-top: 7px;
    border: 1px solid rgba(36, 208, 208, 1);
}


.for-padd {
    padding-top: 20px;
    padding-bottom: 5px;
}


.Hospitals {
    /* border: 1px solid red; */
    padding: 10px 10px;
}

.Hospitals div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 37px;
}

.Hospitals div li {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    color: rgb(10, 28, 75);
    font-weight: 600;
}

.Hospitals div svg {
    height: 10px;
    width: 10px;
    cursor: pointer;
}

























/*  */
/*  */
/*  */
.section-second {
    /* border: 1px solid black; */
    width: 1000px;
    margin-left: 50px;
    position: relative;
}


.section-second-main-div {
    position: relative;
    background: url(../Images/doctorfemalebackgroundimage.png.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 63vh;
    border-radius: 10px;
}

.section-second-main-div-div {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}


.second-1div {
    background: url(../Images/doctor.png.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 11vh;
    border-radius: 8px;
    width: 16%;
    cursor: pointer;
    position: relative;
}


.second-2div {
    display: flex;
    justify-content: space-between;
    height: 20px;
    align-items: center;
    background-color: #FFFFFF;
    padding: 15px 5px;
    border-radius: 7px;
    cursor: pointer;
}

.second-2div p {
    color: rgba(36, 208, 208, 1);

}

.second-2div svg {
    height: 9px;
    width: 20px;
}


.right-side {
    /* border: 1px solid red; */
    position: absolute;
    right: 10px;
    top: 250px;
}

.right-side div {
    margin-top: 10px;
    border-radius: 7px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 6px 6px 3px 6px;
    background-color: rgba(255, 255, 255, 0.8);
}

.right-side div svg {
    height: 17px;
    width: 20px;
    justify-content: center;
    align-items: center;
}


/*  */
/*  */
/*  */
/*  */


.bottom-side {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 9px;
    display: flex;
    height: 90px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    gap: 25px;
}


.bottom-side-main-div {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}




.for-svg {
    padding: 8px 0px 4px 10px;
    background-color: rgba(36, 208, 208, 0.5);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: 40px;
    /* text-align: center; */
}

.for-svg svg {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.for-p {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.for-p p {
    color: rgba(36, 208, 208, 1);
    font-weight: 400;
    padding-top: 4px;
    cursor: pointer;
}

.red {
    background-color: red;
}



/*  */
/*  */
.second-last-main-div {
    display: flex;
    padding-top: 30px;
    /* width: 700px;    */
    /* border: 1px solid red; */
}






.Next-Appointment {
    /* border: 1px solid red;   */
    background-color: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    /* border: 1px solid rgba(192, 192, 192, 0.26); */
    border-radius: 7px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px 8px 10px;
}

.Next-Appointment-main {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}


.margin-left {
    margin-left: 14px;
}




.Next-Appointment1 {
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
    align-items: center;
}

.Next-Appointment1 svg {
    align-items: center;
    height: 20px;
    width: 18px;
    cursor: pointer;
}

.Next-Appointment1 p {
    color: rgba(10, 28, 75, 1);
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

.Next-Appointment2 p {
    /* border: 1px solid red; */
    color: rgba(81, 183, 79, 1);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}



.Next-Appointment-second {
    display: flex;
    padding-top: 8px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.Next-Appointment-second svg {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.Next-Appointment-second p {
    color: rgba(10, 28, 75, 1);
    font-weight: 600;
    cursor: pointer;
}


.Next-Appointment-last {
    display: flex;
    gap: 15px;
    padding-top: 8px;
}


.Next-Appointment-lastp1 {
    background-color: rgba(36, 208, 208, 1);
    border-radius: 5px;
    ;
    color: rgba(255, 255, 255, 1);
    padding: 3px 10px 5px 10px;
    cursor: pointer;
}

.Next-Appointment-lastp2 {
    background-color: rgba(10, 28, 75, 1);
    border-radius: 5px;
    ;
    color: rgba(255, 255, 255, 1);
    padding: 3px 10px 5px 10px;
    cursor: pointer;
}


























/*  */
/*  */
/*  */
.section-third {
    /* border: 1px solid black; */
    height: 700px;
    max-width: 270px;
    width: 100%;
    margin-left: 50px;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(171, 171, 171, 0.25);
    border-radius: 6px;
}

.Alina-Sajjal{
    background-color: rgba(36, 208, 208, 1);
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 10px 15px 10px 20px;
    align-items: center;
    border-radius: 5px;
}


.Alina-Sajjal .heading{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.Alina-Sajjal .img{
    background: url(../Images/profile30.png.jpg);
    height: 25px;
    width: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    cursor: pointer;
}


.section-third-maintag{
    /* height: 1000px; */
    padding: 13px 10px 0px 10px;
}


.Hi-maindiv{
    display: flex;
    /* border: 1px solid red; */
    padding-top: 3px;
}

.Hi-maindiv-image{
    background: url(../Images/profile30.png.jpg);
    height: 23px;
    width: 23px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    cursor: pointer;
}


.Hi-maindiv-div p{
    font-size: 14px;
}
p.p{
    font-size: 10px;
    padding-left: 10px;
    color: rgba(10, 28, 75, 1);
}

.Hi{
    background-color: rgba(36, 208, 208, 0.2);
    margin-left: 7px;
    width: 150px;
    padding: 6px 0 6px 10px;
    border-radius: 5px;
}


.right{
    display: flex;
    text-align: right;
    justify-content: end;
    /* border: 1px solid red; */
}

.right-d-d{
    background-color: rgba(10, 28, 75, 0.2);
    margin-right: 7px;
    width: 150px;
    padding: 14px 0 14px 10px;
    border-radius: 5px;
}

.right-d p.p{
    font-size: 10px;
    padding-right: 10px;
    color: rgba(10, 28, 75, 1);
}


.first{
    background-color: rgba(36, 208, 208, 0.2);
    margin-left: 7px;
    width: 150px;
    padding: 14px 0 14px 10px;
    border-radius: 5px;
}
.second{
    margin-top: 5px;
    background-color: rgba(36, 208, 208, 0.2);
    margin-left: 7px;
    width: 150px;
    padding: 14px 0 14px 10px;
    border-radius: 5px;
}



.last-div{
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    margin-top: 70px;
}

.last-div1{
    background-color: rgba(36, 208, 208, 0.185);
    width: 210px;
    height: 35px;
    border-radius: 6px;
    align-items: center;
    padding: 0px 2px 0px 4px;
    justify-content: space-between;
    display: flex;
}


.last-div1 input{
    height: 100%;
    border: none;
    width: 85%;
    outline: none;
    color: rgba(10, 28, 75, 1);
    padding: 5px 8px 5px 0px;
    background-color: rgba(36, 208, 208, 0);
}

.last-div1 svg{
    height: 20px;
    width: 25px;
    align-items: center;
    cursor: pointer;
}


.last-div2{
    background-color: rgba(36, 208, 208, 1);
    border-radius: 6px;
    padding: 4px 8px;
    margin-left: 4px;
    cursor: pointer;
}


.last-div2 svg{
    height: 15px;
    width: 20px;
    align-items: center;
}