<div class="mt-[10px]" style="max-width: 750px;">
      <div class="border border-[#0000001A] rounded-[13px] py-[6px] pl-[18px] pr-[40px]">
            <div class="flex items-center justify-between">
                 <h2 class="text-[#595959] text-[18px] font-semibold">Panadol 500mg 200 tablets </h2>
                 <svg class="cursor-pointer	" width="4" height="14" viewBox="0 0 4 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="1.75" cy="1.75" r="1.75" fill="#767676"/>
                  <circle cx="1.75" cy="6.75" r="1.75" fill="#767676"/>
                  <circle cx="1.75" cy="11.75" r="1.75" fill="#767676"/>
                  </svg>                                    
            </div>
            <p class="text-[#767676] text-[16px] leading-4">Fazal-Din-Pharmacy</p>
            <div class="flex justify-between mt-[8px] pb-[7px]">
                  <div class="flex items-center gap-[10px]">
                        <p class="text-[#625A5A] text-[13px]">Quantity</p>
                        <div class="flex items-center bg-[#6C7793] h-[32px] w-[100px] border-[2px] border-[#6C7793] rounded-[5px]">
                              <span class="flex flex-1 items-center bg-transparent cursor-pointer text-white font-semibold justify-center h-full">-</span>
                              <span class="flex flex-1 items-center bg-white text-[#0A1C4B] font-semibold rounded-[4px] justify-center h-full">1</span>
                              <span class="flex flex-1 items-center bg-transparent cursor-pointer text-white font-semibold justify-center h-full">+</span>
                        </div>
                  </div>
                  <div class="flex flex-col items-end">
                        <p class="text-[#828282] text-[13px] leading-3"><del>246 Rs.</del></p>
                        <p class="text-[18px] text-[#24D0D0] leading-none">240 Rs.</p>
                  </div>
            </div>
      </div>
</div>