<section class="pt-[50px] ">
  <div class="flex items-center justify-between md:flex-row flex-col ">
    <h2 class="text-[#0A1C4B] text-[28px] font-[600] ">Top Sales medicines</h2>
    <a href="/medicine/" class="bg-[#0A1C4B] text-white rounded-[8px] md:mt-[0px] mt-[18px] flex items-center gap-[10px] px-[18px] py-[11px] ">
        <p class="font-[500] text-[16px] ">View All Medicines</p>
        <span class="h-[26px] w-[26px] flex items-center justify-center bg-white rounded-[100px] p-[7px] ">
          <svg class="h-full w-full " viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.6992 6.39896C15.0311 6.7309 15.0311 7.2691 14.6992 7.60104L9.28982 13.0104C8.95787 13.3424 8.41968 13.3424 8.08774 13.0104C7.75579 12.6785 7.75579 12.1403 8.08774 11.8083L12.8961 7L8.08774 2.19167C7.75579 1.85973 7.75579 1.32154 8.08774 0.989592C8.41968 0.657647 8.95787 0.657647 9.28982 0.989592L14.6992 6.39896ZM0.0731468 6.15H14.0981V7.85H0.0731468V6.15Z" fill="#3B2E71"/>
          </svg>                            
      </span>
    </a>
  </div>
  <div class="swiper-container max-w-[1300px] w-full overflow-hidden bg-white">

    <div class="swiper-wrapper flex items-center justify-center gap-[22px] py-[22px] max-w-[1300px] w-full bg-white">
        <div class="swiper-slide !mr-[0px]">{% include 'Components/Pharmacy/MedicineCard.html' %}</div>
        <div class="swiper-slide !mr-[0px]">{% include 'Components/Pharmacy/MedicineCard.html' %}</div>
        <div class="swiper-slide !mr-[0px]">{% include 'Components/Pharmacy/MedicineCard.html' %}</div>
        <div class="swiper-slide !mr-[0px]">{% include 'Components/Pharmacy/MedicineCard.html' %}</div>
        <div class="swiper-slide !mr-[0px]">{% include 'Components/Pharmacy/MedicineCard.html' %}</div>
        <div class="swiper-slide !mr-[0px]">{% include 'Components/Pharmacy/MedicineCard.html' %}</div>
    </div>

    <div class="swiper-pagination static mt-[12px]"></div>

    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->

</div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      var swiper = new Swiper('.swiper-container', {
          slidesPerView: 4,
          spaceBetween: 10,
          pagination: {
              el: '.swiper-pagination',
              clickable: true,
          },
          autoplay: {
              delay: 1900,
              disableOnInteraction: false,
          },
          // navigation: {
          //     nextEl: '.swiper-button-next',
          //     prevEl: '.swiper-button-prev',
          // },
          breakpoints: {
              300: {
                  slidesPerView: 1,
                  spaceBetween: 20
              },
              510: {
                  slidesPerView: 2,
                  spaceBetween: 20
              },
              840: {
                  slidesPerView: 3,
                  spaceBetween: 30
              },
              1130: {
                  slidesPerView: 4,
                  spaceBetween: 40
              }
          }
      });
  });
</script>