<div class="flex items-center  max-w-[1500px]  mx-auto justify-center justify-between !mt-16 speciality-doctor-heading doctor-discover-TC" >
      <div>
          <h2 class="text-[#0A1C4B] font-semibold">Top Sales medicines</h2>
      </div>
      <a href="/medicine/">
            <div class="flex items-center gap-2 cursor-pointer">
            <div class="text-[#0A1C4B] font-semibold view-all-TC">
                  View All Medicines
            </div>
            <div class="view-all-TC-svg">
                  <svg width="16" height="16" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 13L19 7M19 7L13 1M19 7L1 7" stroke="#0A1C4B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                    
            </div>
            </div>
      </a>
  </div>



  <div class="swiper mySwiper flex items-center gap-[25px] justify-center flex-wrap mt-0 max-w-[1500px] ">
      <div class="swiper-wrapper py-12">
        <div class="swiper-slide border border"> 
      {% include 'Components/Pharmacy/MedicineCard.html' %}
      </div>
        <div class="swiper-slide">
      {% include 'Components/Pharmacy/MedicineCard.html' %}

        </div>
        <div class="swiper-slide">
      {% include 'Components/Pharmacy/MedicineCard.html' %}

        </div>
        <div class="swiper-slide">
      {% include 'Components/Pharmacy/MedicineCard.html' %}

        </div>
        <div class="swiper-slide">
      {% include 'Components/Pharmacy/MedicineCard.html' %}

        </div>
        <div class="swiper-slide">
      {% include 'Components/Pharmacy/MedicineCard.html' %}

        </div>
        <div class="swiper-slide">
      {% include 'Components/Pharmacy/MedicineCard.html' %}

        </div>
        <div class="swiper-slide">
      {% include 'Components/Pharmacy/MedicineCard.html' %}

        </div>
        <!-- <div class="swiper-slide">
      {% include 'Components/Pharmacy/MedicineCard.html' %}

        </div> -->
        <!-- <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div> -->
      </div>
      <div class="swiper-pagination absolute bottom-[500px]"></div>
  </div>
  

  