{% load static %}
{% with lowest_rate_location=medicine.lowest_rate_location %}
      <div class="flex flex-col rounded-3xl flex-1 relative cursor-default bg-white border border-[#CACBE6] pb-3 transition-all space-y-2">
            {% if medicine.discount %}
                  <div class="absolute right-0 top-[26px]">
                        <span class="font-semibold text-[#151E2C] rounded-md rounded-r-none bg-[#f0da69] py-2 px-3 text-sm z-[10]">{{medicine.discount}}% OFF</span>
                  </div>
            {% endif %}
            <a href="{% url 'SingleMedicineViewPage' medicine.slug %}?{% if lowest_rate_location %}selected_location={{lowest_rate_location.id}}{% endif %}" class="overflow-hidden rounded-t-3xl flex items-center justify-center w-full h-48 group !mt-0">
                  {% with productImages=medicine.product_all_images %}
                        {% if productImages.0 and productImages.0.image %}
                              <img loading="lazy" src="{{productImages.0.image.url}}" class="group-hover:scale-125 transition-all max-h-full max-w-full" alt="">
                        {% else %}
                              <img loading="lazy" src="/static/assets/Images/small_logo.png" class="group-hover:scale-125 transition-all max-h-full max-w-full" alt="">
                        {% endif %}
                  {% endwith %}
            </a>
            <div class="px-4 space-y-2">
                  <div class="text-[#FFFFFF] text-xs bg-[#F01275] max-w-max rounded-full px-2.5 py-[3px] line-clamp-1 outfit-font">{{medicine.store.name}}</div>
                  <div class="h-16">
                        <a class="cursor-pointer" href="{% url 'SingleMedicineViewPage' medicine.slug %}?{% if lowest_rate_location %}selected_location={{lowest_rate_location.id}}{% endif %}">
                              <h2 class="font-medium outfit-font line-clamp-2 text-[#151E2C]">{{medicine.name}}</h2>
                        </a>
                        
                        {% if lowest_rate_location %}
                              <span class='text-xs outfit-font text-[#0555E9] flex gap-1'>
                                    <span class="whitespace-nowrap text-[11px] outfit-font text-[#0555E9] flex items-center gap-1" showdistance="{{lowest_rate_location.lat}},{{lowest_rate_location.lng}}"></span>
                              </span>
                        {% endif %}
                  </div>
                  <div class="flex items-center justify-between gap-2 !mt-4">
                        <div class="bg-gradient-to-r from-[#05DC75] to-[#0755E9] p-[1px] rounded-full">
                              <div class="rounded-full max-w-max px-4 py-2.5 text-sm outfit-font text-[#151E2C] bg-white cursor-pointer whitespace-nowrap">
                                    + Add to Cart
                              </div>
                        </div>
                        <div class="flex items-center gap-1">
                              {% if medicine.discount %}
                                    <span class="text-sm text-[#3C3C3C]/60"><del>{{medicine.price}}</del></span>
                              {% endif %}
                              <p class="text-lg text-[#05D57C] outfit-font font-semibold italic flex items-center gap-1">
                                    <span class="font-medium text-[#151E2C] text-xs">Rs.</span>{{ medicine.final_price|floatformat:1 }}
                              </p>
                        </div>
                  </div>
            </div>
      </div>
{% endwith %}