<div class="border rounded-3xl w-[315px] sm:w-[380px] md:w-[400px] p-3 sm:p-6 flex-1 flex flex-col gap-3 cursor-pointer transition-all Property-for-scaling hover:tc-shadow">
      <p class="Property-for-scaling-peragraph1 text-center text-[#595A5E] font-[600] text-[16px] md:text-lg mt-[7px]">Get Medical Services</p>
      <p class="Property-for-scaling-peragraph2 text-[13px] sm:text-sm md:text-[16px] text-center text-[#504F4F]">Introducing our revolutionary way to access medical services the Voice VoiceXpo! With this innovative tool, getting the medical assistance you need has never been easier.</p>
      <p class="Property-for-scaling-peragraph2 text-[13px] sm:text-sm md:text-[16px] text-center text-[#504F4F]">By simply using your voice, you can now effortlessly communicate your healthcare requirements to medical professionals. Whether you need to book an appointment, inquire about medical services, or discuss your symptoms, the Voice Recorder is here to simplify the process.</p> 
      <!-- {% include 'Components/EmergencyComponents/voiceComponentService.html' %} -->
      <div class="w-full h-[160px] sm:h-[180px] md:h-[200px] rounded-3xl bg-[#24D0D01A] mx-auto mt-[20px] Property-for-scaling-box">

      </div>
</div> 