{% extends 'Components/MainBase.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block mainBaseBody %}

<main class="px-4 sm:px-6 md:px-8">
    <section class="h-[100vh] w-full flex items-center justify-center py-6">
        <div class="max-w-[620px] w-full px-7 py-5 rounded-3xl mx-auto border border-[#CACBE6] relative space-y-3">
            <div class="flex items-center justify-between pb-2">
                <a href="/">
                    <img class="h-10" src="/static/assets/Images/traumacareAIcare/logos/whitelogo.png" alt="">
                </a>
                <h1 class="text-3xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#0755E9] to-[#05DC75] outfit-font">Login</h1>
            </div>
            <form action="{% url 'HandleJoin' %}{{str_query}}" method="post" main-register-form class="register-main-form" data-activestep="1">
                {% csrf_token %}
                <div class="register-form-step-2 flex-1">
                    <div class="form-field" >
                        <label for="mobile_number" class="form-input-label !text-[#151E2C] !mb-3 block">Mobile Number <span class='text-xs text-[#05D57C]'>(We'll send OTP to your mobile-number)</span></label>
                        <div class="phone-number-field-outer relative !p-[0px] border border-slate-300 transition-all !bg-slate-100" >
                            <input autocomplete="off" type="number" name="mobile_number" id="mobile_number" class="number-field !mx-0 !py-[8px] !px-[10px] md:!px-[20px] md:!py-[16px]" placeholder="0309 *** ** **" required>
                        </div>
                    </div>
                    <div class="form-field hidden">
                        <label for="username" class="form-input-label">Full Name</label>
                        <input type="text" autocomplete="off" name="username" id="username" class="form-input  !py-[8px] !px-[10px] md:!px-[20px] md:!py-[16px]  border !focus:border-[#23d0d0] !border-slate-300 transition-all !bg-slate-100" placeholder="Enter your Name">
                    </div>
                </div>
                <button class="w-full cursor-pointer flex items-center outfit-font justify-center gap-2 font-medium text-white rounded-md bg-gradient-to-r from-[#0755E9] to-[#05DC75] px-3.5 py-3 text-md" disabled>Continue</button>
            </form>
        </div>
    </section>
</main>

{% endblock mainBaseBody %}

{% block main_base_script %}
    <script defer src="{% static 'assets/js/Auth/Login.js' %}?version=1"></script>
{% endblock main_base_script %}