
{% extends 'Components/MainBase.html' %}
{% load static %}

{% block title %}Login{% endblock title %}


{% block mainBaseCSS %}
{% endblock mainBaseCSS %}


{% block mainBaseBody %}

<div class="flex items-center justify-center mt-20">
            <div class="p-4 border flex items-center justify-center rounded-xl relative">
                        <div class="absolute top-5 left-5 w-12 h-12 rounded-xl border flex items-center justify-center cursor-pointer">
                              svg
                        </div>
                        <div class="absolute top-5 right-5 w-12 h-12 rounded-xl border flex items-center justify-center cursor-pointer">
                              svg
                        </div>
                        <div  class="mt-16">
                              <div class="flex items-center justify-center">
                              <div>
                              <div>
                                    svg
                              </div>
                              <div class="flex flex-col">
                              <p class="text-center text-black text-2xl font-[600]">Check Your email</p>
                              <p class="text-center text-[#838383]">we've sent the code to the Foody app</p>
                        </div>
                              <div class="px-4 py-2 rounded-xl border flex items-center gap-10 mt-4">
                                          <input type="text" placeholder="ku*****@gmail.com" class="outline-none placeholder:text-slate-900" >
                                          <div class="border border-red-500 px-6 cursor-pointer py-2 rounded-xl">
                                                <p class="text-red-500">change</p>
                                          </div>
                              </div>
                        </div>
                        </div>
                        <div class="!border[#24D0D0]  border  rounded-xl px-3 py-4 mt-4 ">
                              <input type="number" class="outline-none  w-[300px]" >
                        </div>
                        <div class="!border[#24D0D0] cursor-pointer  bg-[#24d0d0] border rounded-xl p-5 mt-4 flex items-center justify-center  ">
                                    <p class="text-red-500 text-lg font-[500]">Resend code__38 sec .</p>
                        </div>
                  </div>
            </div>
</div>

{% endblock mainBaseBody %}


{% block main_base_script %}

{% endblock main_base_script %}
