{% extends 'Components/Base.html' %}
{% load static %}
{% block title %}Join Our Medical Team | Traumacare{% endblock title %}
{% block BaseCSS %}
    <!-- <script src="../path/to/flowbite/dist/flowbite.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
{% endblock BaseCSS %}

{% block baseBody %}

<section class="px-5 md:px-10 py-8 md:py-12 outfit-font">
    <div class="rounded-2xl sm:rounded-3xl overflow-hidden max-w-[920px] mx-auto border">
        <div class="w-full bg-blue-100 px-3 py-5 sm:py-10 space-y-2">
            <h3 class="text-[#0755E9] font-semibold text-xl sm:text-3xl text-center outfit-font">Join Our Medical Team</h3>
            <p class="text-center text-[#507EC2] text-xs sm:text-sm outfit-font">Greetings! <br> Please provide your information to begin your journey with us.</p>
        </div>
        <form action="" method="POST" enctype="multipart/form-data" class="p-4 sm:p-5 md:p-6">
            {% csrf_token %}
            <div class="flex gap-4 flex-col sm:flex-row">
                <div class="w-full flex-1 space-y-1">
                    <label for="full_name" class="text-[#507EC2] font-medium text-sm outfit-font">Name <span class="text-[#F02149]">*</span></label>
                    <div class="flex bg-blue-50 rounded-lg overflow-hidden">
                        <span class="outfit-font bg-gray-200 flex items-center justify-center px-3 py-1">Dr.</span>
                        <input type="text" id='full_name' value='{{request.user.full_name}}' required name='full_name' class="placeholder:font-light outfit-font outline-none border-0 w-full bg-blue-50 px-2 py-3 text-black font-medium text-sm placeholder-[#6D8CBA]" placeholder="Anjum Habib Vohra">
                    </div>
                </div>
                <div class="w-full flex-1 space-y-1">
                    <label for="gender" class="text-[#507EC2] font-medium text-sm">Gender <span class="text-[#F02149]">*</span></label>
                    <div class="px-2.5 bg-blue-50 rounded-lg cursor-pointer">
                        <select required name='gender' id="gender" class="placeholder:font-light text-black bg-transparent text-sm block w-full py-3 outline-none border-0 w-full font-medium placeholder-[#6D8CBA] cursor-pointer">
                            <option disabled selected class="font-light">Choose your gender</option>
                            <option value="Male" selected>Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="flex gap-4 mt-4 flex-col sm:flex-row">
                <div class="w-full flex-1 space-y-1">
                    <label for="phoneNumber" class="text-[#507EC2] font-medium text-sm">Phone Number <span class="text-[#F02149]">*</span></label>
                    <input 
                        type="number" 
                        required 
                        value='{{request.user.mobile_number}}'
                        name="phone" 
                        class="outline-none border-0 w-full bg-blue-50 rounded-lg px-4 py-3 text-black font-medium text-sm placeholder-[#6D8CBA] placeholder:font-light" 
                        placeholder="03*********" 
                        id="phoneNumber" 
                        maxlength="11" 
                    >
                    <p class="font-light text-xs sm:text-sm pl-2 mt-2">Our support team will call you shortly</p>
                </div>  
                <div class="w-full flex-1 space-y-1">
                    <label for="Specialty" class="text-[#507EC2] font-medium text-sm">Specialty <span class="text-[#F02149]">*</span></label>
                    <input type="text" required name='speciality' class="outline-none border-0 w-full bg-blue-50 rounded-lg px-4 py-3 text-black font-medium text-sm placeholder-[#6D8CBA] placeholder:font-light" placeholder="e.g Neurosurgeon MBBS, FRSC (Neuro Surgery)" id="Specialty">
                </div>           
            </div>
            <button class="ml-auto rounded-lg px-6 py-[10px] bg-[#0755E9] flex items-center justify-center cursor-pointer mt-6 text-white">
                Submit
            </button>
            
        </form>
    </div>
</section>


<script>
    const id = '{{page_analytics_id}}'
    const pageLoaded = async () =>{
        console.log('done')
        const response = await fetch(`/api/page_load_analytics/${id}/`)
        const result = await response.json()
        console.log(result)
    }
    pageLoaded()
</script>
{% endblock baseBody %}

{% block main_base_script %}


{% endblock main_base_script %}