.flex{
    display: flex;
}
.align-items{
    align-items: center;
}
.justify{
    justify-content: center;
}

.blue{
    color:rgba(10, 28, 75, 1);
}
.px17{
    font-size: 17px;
}


.max-w-598px{
    max-width: 598px;
}

.w-full{
    width: 100%;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.bg-white{
    background-color: white;
}
