.hospitals-bg{
background-color:rgba(222, 181, 255, 0.22);
}
.doctors-card:hover {
      background-color: rgba(255, 146, 164, 0.1);
      transition: all;
}

:-webkit-user-select{
      user-select: none;
}
:-moz-user-select{
      user-select: none;
}
:-ms-user-select{
      user-select: none;
}