@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;900&display=swap');


body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(245, 245, 245, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-header {
    background-color: rgba(255, 255, 255, 1);
    height: 80px;
    width: 100%;
    /* border: 1px solid red; */
}


.float-left {
    float: left;
    height: 100%;
    display: flex;
    /* border: 1px solid rgb(12, 12, 12); */
    margin-left: 90px;
}


.logo svg {
    height: 77px;
    width: 200px;
    cursor: pointer;
}


.list-items {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    gap: 13px;
}


.list-items li {
    list-style: none;
    margin-right: 40px;
    color: rgba(10, 28, 75, 0.877);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


.list-items li svg {
    width: 20px;
    height: 8px;
    padding-bottom: 3px;
    justify-content: center;
    align-items: center;
}

.list-items li:last-child {
    padding-right: 0;
}











/*  */
/*  */
/*  */
/* float :right */
/*  */
/*  */
/*  */







.float-right {
    height: 100%;
    text-align: right;
    justify-content: end;
    display: flex;
    padding-top: 1px;
    /* border: 1px solid rgb(12, 12, 12); */
    margin-right: 80px;
    padding-right: 2px;
}


.logo-paragraph p {
    font-size: 24px;
    color: rgba(10, 28, 75, 1);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    position: relative;
    top: 20px;
    cursor: pointer;
}

.svg1 svg {
    height: 75px;
    width: 40px;
    cursor: pointer;
    margin-right: 15px;
}

.svg2 svg {
    height: 75px;
    width: 39px;
    margin-right: 15px;
    cursor: pointer;
}

.svg3 svg {
    height: 75px;
    width: 39px;
    cursor: pointer;
}



/* 
 */
/*  */
/*  */
/* sectiomn tag is here */
/*  */
/*  */
/*  */
/*  */




.main-section {
    background-color: #0A1C4B;
    height: 35vh;
    /* max-width: 1800px; */
}

.max-width {
    /* max-width: 1000px; */
    /* width: 50%; */
    margin: 0 auto;
    /* border: 1px solid red; */
}

.max-width h3,
p {
    text-align: center;
}

.max-width h3 {
    padding-top: 90px;
    font-size: 55px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.max-width p {
    color: rgba(255, 255, 255, 0.678);
    font-size: 20px;
    margin-top: 10px;
}


/*  */
/*  */
/* under vala */
/*  */
/*  */



.section{
    padding: 0 0 0 70px;
    /* border: 1px solid red; */
}




.section-left{
    /* border: 2px solid red; */
    height: 2117px;
    /* padding-right: 0px; */
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}



.section-left-Doctors{
    display: flex;
    background-color: rgba(10, 28, 75, 0.2);
    justify-content: space-between;
    padding: 11px 20px;
    width: 265px;
}


.section-left-Doctors p{
    color: rgba(36, 208, 208, 0.774);
    font-size: 20px;
    font-weight: 600;
}


.Psychiatrists-main-div{
    /* border: 1px solid red; */
    border-radius: 6px;
    margin: 11px 15px;
    /* height: 1000px; */
}







.Psychiatrists-main-div ul{
    margin: 0px 13px;
    margin-top: 5px;
    /* border: 1px solid red; */
    padding-top: 5px;
    border-radius: 6px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    
}

.Psychiatrists-main-div ul li{
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    line-height: 30px;
    color: rgba(10, 28, 75, 1);
    font-size: 18px;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 7px;
}


.Psychiatrists-main-div ul li:last-child{
    background-color: rgba(10, 28, 75, 0.2);
    padding: 0px;
    padding: none;
    color: rgba(36, 208, 208, 1);
    font-size: 18px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}




.last-ul-border{
    border: 1px solid rgba(36, 208, 208, 1);
}


.last-li-items{
    /* border: 1px solid red; */
    padding: 0px 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    margin: 0px 13px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}


.last-li-items li{
    list-style: none;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 3px 0;
    color: #0A1C4B;
}






.Hospitals{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 17px;
    padding-top: 7px;
}

.Hospitals svg{
    cursor: pointer;
}


.Hospitals li{
    list-style: none;
    cursor: pointer;
    color: #0A1C4B;
    font-size: 20px;
    font-weight: 600;
}











/*  */
/*  */
/*  */
/* right vala section */
/*  */
/*  */
/*  */



.section-main-div{
    /* border: 2px solid green; */
    display: flex;
}


.main-tag{
    /* border: 1px solid rgb(255, 0, 0);    */
    width: 1350px;
    padding-top: 40px;
    margin: 0 auto;
}
.main-tag--main-div{
    /* display: flex; */
    /* border: 1px solid red; */
    padding-left: 75px;
}


.main-tag--main-div1{
    /* border: 1px solid saddlebrown; */
    display: flex;
    padding-bottom: 20px;

}

.first{
    /* border: 1px solid red; */
    padding-top: 5px;
    padding-left: 1px;
    padding-right: 1px;
}

.first img{
   background-size: cover;   
   background-position: center;
   background-repeat: no-repeat;
   height: 140px;
   width: 140px;
   border-radius: 100%;
   cursor: pointer;
}
/*  */
/*  */


.second{
    /* border: 1px solid red; */
    padding-left: 40px;
}




.second-1{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    width: 230px;
}
.second-1 h3{
    font-size: 26px;
    font-weight: 600;
    color: rgba(10, 28, 75, 1);
    cursor: pointer;
}

.second-1 svg{
    height: 15px;
    align-items: center;
}

.second-2{
    /* border: 1px solid red; */
    padding-top: 6px;
}

.second-2 p{
    text-align: left;
    padding-top: 3px;
    color: rgb(10, 28, 75);
    font-size: 22px;
    word-spacing: 1px;
}

.second-3{
    display: flex;
    padding-top: 30px;
    padding-left: 2px;
}

.second-3 h4{
    color: rgba(10, 28, 75, 1);
    font-size: 18px;
    font-weight: bold;
}

.second-3 p{
    color: rgba(10, 44, 75, 0.808);
    font-size: 17px;
    padding-top: 7px;
}

.second-3-1{
    /* border: 1px solid red; */
    padding-right: 10px;
}

.second-3-2{
    /* border: 1px solid red; */
    padding-left: 30px;
    padding-right: 10px;
}

.second-3-3{
    /* border: 1px solid red; */
    padding-left: 35px;
}
















/*  */
/*  */
/*  */
/*  */


.main-tag--main-div2{
    /* border: 1px solid red; */
    top: 130px;
    right: 0;

}

.main-tag--main-div2-1{
    display: flex;
    padding: 10px 18px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10, 28, 75, 1);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 14px;
}

.main-tag--main-div2-1 svg{
    color: white;
    /* height: 18px; */
    padding-right: 10px;

}

.main-tag--main-div2-1 p{
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 17px;
}

.main-tag--main-div2-2{
    display: flex;
    padding: 10px 18px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(36, 208, 208, 1);
}


.main-tag--main-div2-2 svg{
    color: white;
    height: 18px;
    padding-right: 10px;

}

.main-tag--main-div2-2 p{
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 17px;
}





.space-between{
    display: flex;
    justify-content: space-between;
}


.paragraph{
    /* border: 1px solid red; */
    display: inline-block;
    padding-left: 70px;
    padding-top: 30px;
    max-width: 1300px;
    width: 95%;
}

.paragraph h6{
    /* border: 1px solid red; */
    line-height: 20px;
    font-size: 15px;
    color: rgba(10, 44, 75, 0.705);
    word-spacing: 1.7px;
}

.paragraph h6 strong{
    font-weight: 700;
    color: rgb(4, 17, 51);
}
.after-paragraph-main-div{
    display: flex;
    /* border: 1px solid red; */
    padding-top: 35px;
}
/*  */
/*  */
/*  */


.after-paragraph-1{
    /* border: 1px solid blue; */
    background-color: #ffffff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    padding: 12px 11px;
    border-radius: 5px;
}

.after-paragraph-1-1{
    display: flex;
    align-items: center;
    margin-bottom: 4px;

}
.after-paragraph-1-1 svg{
    height: 20px;
    width: 26px;
    padding: 2px 5px;
}
.after-paragraph-1-1 p{
    font-size: 16px;
    font-weight: 600;
    color: rgba(10, 28, 75, 1);
    padding-left: 8px;
}




.after-paragraph-1-2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 4px;
    padding-right: 3px;
}

.after-paragraph-1-2 svg{
    height: 20px;
    width: 26px;
    padding: 2px 5px;
}

.after-paragraph-1-2 p{
    font-size: 16px;
    font-weight: 600;
    color: rgba(10, 28, 75, 0.712);
    padding-left: 8px;
}



.after-paragraph-1-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3px;
}
.after-paragraph-1-3 .p1{
    font-size: 16px;
    font-weight: 600;
    color: rgba(81, 183, 79, 1);
    padding-left: 34px;
    
}

.after-paragraph-1-3 .p2{
    color: rgba(10, 28, 75, 1);
    font-size: 16px;
}




/*  */






.after-paragraph-2{
    /* border: 1px solid blue; */
    background-color: #ffffff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    padding: 12px 11px;
    border-radius: 5px;
    margin-left: 20px;
}







/*  */







.after-paragraph-3{
    /* border: 1px solid blue; */
    background-color: #ffffff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    padding: 12px 11px;
    border-radius: 5px;
    margin-left: 20px;
}





/*  */
/*  */
/*  */
/*  */
/* footer 1,2,3,4 options */
/*  */
/*  */
/*  */
/*  */



.small-footer{
    /* border: 1px solid red; */
    display: flex;
    padding-top: 60px;
    text-align: right;
    justify-content: end;
    gap: 20px;
}


.small-footer svg{
    height: 30px;
    cursor: pointer;
    width: 30px;
}


.svg-li svg{
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
}

.small-footer li{
    list-style: none;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(36, 208, 208, 1);
    color: rgba(36, 208, 208, 1);
    padding: 7px 13px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.small-footer .blue-color{
    background-color: #0A1C4B;
    border: 1px solid #0A1C4B;
    color: #ffffff;
    outline: none;
}
.small-footer li:hover{
    background-color: rgba(10, 28, 75, 1);
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(10, 28, 75, 1);
}





/*  */
/*  */
/*  */
/* footer */
/*  */
/*  */
/*  */













.main-foot{
    margin-top: 80px;
    /* border: 1px solid red; */
    background-color: rgba(10, 28, 75, 1);
    padding: 60px 0px 60px 180px;
}


.mainfoot-maindiv{
    display: flex;
}

.foot-div1{
    /* border: 1px solid black; */
    padding: 5px;
}

.foot-div1 .first{
    width: 150px;
}


.foot-p{
    text-align: left;
    color: rgba(255, 255, 255, 0.685);
    padding-top: 18px;
    font-size: 16px;
    line-height: 22px;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}


.foot-h2{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
}


.foot-ul{
    padding-top: 10px;
}
.foot-ul-div{
    display: flex;
    align-items: center;
    padding-top: 10px;
}


.foot-ul-div svg{
    height: 25px;
    width: 10px;
    cursor: pointer;
}

.foot-ul-div li{
    padding-left: 20px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;

}



.foot-ul-div2{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div2 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div2 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}



.foot-ul-div3{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div3 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div3 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}


.foot-ul-div4{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div4 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div4 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}




.Our-Payment-Partners{
    text-align: left;
    padding-top: 37px;
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
}

.flex-box{
    display: flex;
    padding-top: 30px;
}

.flex-box-1{
    padding-left: 8px;
}

.flex-box-1 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}

.flex-box-2{
    padding-left: 14px;
}

.flex-box-2 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}


.flex-box-3{
    padding-left: 14px;
}

.flex-box-3 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}






/*  */






.foot-div2{
    /* border: 1px solid red; */
    padding: 5px;
    padding-left: 140px;
    /* padding-right: 50px; */

}

.foot-div2 h4{
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 500;
}

.Major-Cities-ul{
    /* border: 1px solid red; */
    padding-top: 30px;
}

.Major-Cities-ul li{
    list-style: none;
    line-height: 37px;
    color: rgba(255, 255, 255, 0.692);
    font-size: 16px;
    cursor: pointer;
}





/*  */




/* .foot-div3{

}






.foot-div4{

}




.foot-div5{

}
 */




 /*  */
 /*  */
 /*  */



.footer-mantag{
    display: flex;
    /* border: 1px solid red; */
    padding-top: 50px;
    gap: 150px;
}

.footer-mantag-maindiv{
    display: flex;
    /* border: 1px solid red; */
    gap: 20px;
    align-items: center;
}

.footer-mantag-svg svg{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.footer-mantag-2p p{
    text-align: left;
    line-height: 25px;
    justify-content: center;
}


.footer-mantag-2p1{
    font-size: 18px;
    color: rgb(255, 254, 254);
}

.footer-mantag-2p2{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.644);
}