@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}



.main-section{
    display: flex;
}

.float-left{
    height: 937px;
    width: 47%;
    padding-bottom: 184px;
    /* border: 1px solid red; */
    background-color: rgba(10, 28, 75, 1);
}




.float-left svg:first-child{
    width: 10px;
    height: 25px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 260px;
}


.float-left svg:last-child{
    width: 100px;
    height: 280px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 100px;
}


/*  */
/*  */
/*  */





.float-right{
    width: 53%;
    background-color: rgba(245, 245, 245, 1);
}


.float-right h2{
    font-size: 30px;
    text-align: center;
    color: rgba(10, 28, 75, 1);
    margin-top: 258px;
}


.right-p{
    text-align: center;
    color: rgba(10, 28, 75, 0.884);
    word-spacing: 0.5px;
    letter-spacing: 0.2px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.float-right form{
    max-width: 1000px;
    width: 60%;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 28px;
}

/*  */
/*  */
/*  */
/* form */
/*  */
/*  */
/*  */



form p{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 200;
    color: rgba(10, 28, 75, 1);
    padding-left: 6px;
}

form div.after-form{
    border: 1px solid rgba(36, 208, 208, 1);
    margin-top: 3px;
    display: flex;
    border-radius: 6px;
    background-color: #fff;
    padding-left: 3px;
}

.div-hover, .hover{
    margin-top: 3px;
    display: flex;
    border-radius: 6px;
    background-color: #fff;
    padding-left: 3px;
}

input::-webkit-inner-spin-button{
    display: none;
}

form div input{
    outline: none;
    border: none;
    width: 93%;
    padding: 12px 0 14px 9px;
    color: rgba(0, 0, 0, 0.63);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

input::placeholder{
    font-size: 11px;
    color: rgba(36, 208, 208, 1);
}


form div svg{
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    text-align: center;
    margin-top: 10px;
}


.div-hover , .hover{
    border: 1px solid rgba(255, 255, 255, 1);
}


.div-hover:hover , .hover:hover{
    border: 1px solid rgba(36, 208, 208, 1);
}


/* button */
/*  */
/*  */


form button{
    margin-top: 30px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(10, 28, 75, 1);
    border-radius: 6px;
    width: 100%;
    padding: 10px 0 8px 0;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.5px;
    cursor: pointer;
}


.after-button{
    display: flex;
    text-align: center;
    justify-content: center;
}

.after-button p:first-child{
    color: rgba(10, 28, 75, 1);
}


.after-button p:last-child{
    color: rgba(36, 208, 208, 1);
    font-weight: bold;
    cursor: pointer;
}