
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden !important;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(192, 192, 192, 0.671);
}



.trrumacare-navbar {
    max-width: 1700px;
    width: 100%;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    padding-top: 13px;
    padding-bottom: 13px;
    /* padding-left: 50px; */
    padding-left: 10px;
    padding-right: 10px;
    gap: 15px;
    position: sticky;
    top: 0px;

}

.navbar-svg {
    cursor: pointer;
    display: flex;
    align-items: center;
}



.navbar-left {
    display: flex;
    gap: 30px;
}

.navbar-li {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 9px;
    position: relative;
}

.navbar-para {
    color: #0A1C4B;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.navbar-li p{
    cursor: pointer;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mesege-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0A1C4B1A;
    border-radius: 50%;
    cursor: pointer;
}

.location-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0A1C4B1A;
    border-radius: 50%;
    cursor: pointer;
}



.contact-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0A1C4B1A;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-right-heading {
    color: hsl(223, 76%, 17%);
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.collabrate-section {
    background-color: #0A1C4B;
    padding-top: 100px;
    padding-bottom: 90px;
    text-align: center;
}

.colabrate-heading {
    color: white;
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 56px;
    text-transform: capitalize;
}

.colabrate-para {
    color: white;
    font-size: 19px;
    font-weight: 400;
    padding-top: 10px;
}


.search-location-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transform: translatey(-50%);
    z-index: 1px;
}

.location-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 230px;
    height: 50px;
    padding-left: 10px;
    gap: 10px;
    border-radius: 6px;
}

.location-bar-para {
    color: #7A7A7A;
    outline: none;
    border: none;
    background-color: #ffffff;
}

.input {
    padding-right: 20px;
    border: none;
    outline: none;
}

.Specialities {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 230px;
    height: 50px;
    padding-left: 10px;
    gap: 10px;
    border-radius: 6px;
}

.Specialities-para {
    color: #7A7A7A;
    outline: none;
    border: none;
    background-color: #ffffff;
}



.Search-Doctors-Hospitals {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 400px;
    height: 50px;
    padding-left: 20px;
    gap: 10px;
    border-radius: 6px;
}

.Search-Doctors-Hospitals {
    color: #0A1C4B;
    font-weight: 400;
}

.Search-Doctors-Hospitals-para {
    border: none;
    outline: none;
    width: 375px;
    background-color: #fff;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24D0D0;
    width: 120px;
    height: 50px;
    /* padding-left: 10px; */
    gap: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease-in;
}
.search-button:hover{
    transform: rotate(10deg) scale(1.2);
    box-shadow: 0px 15px 20px rgba(172, 170, 170, 0.822);
    
}

/* .search-btn-svg{
    margin-top: 5px;
} */

.search-button-para {
    color: white;
}
/* 
.location-bar:hover {
    border: 2px solid #24D0D0;
    border-left: 10px solid #24D0D0;
} */
/* 
.Specialities:hover {
    border: 2px solid #24D0D0;
    border-left: 10px solid #24D0D0;
} */

/* .Search-Doctors-Hospitals:hover {
    border: 2px solid #24D0D0;
    border-left: 10px solid #24D0D0;

} */

.Choose-Doctor p{
    font-size: 11px;
    font-weight: 100;
}


.Step-by-Step {
    background-color: rgba(255, 255, 255, 0.76);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* padding-left: 50px;
    padding-right: 50px; */
    padding-bottom: 340px;
    border-radius: 5px;
}

.step-by-step-featured-section-heading {
    color: #0A1C4B;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
    font-size: 35px;
}

.step-by-step-fetured-section {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.Choose-Doctor {
    height: 220px;
    background-color: #0A1C4B;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding-bottom: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.Make-schedule {
    height: 220px;
    background-color: white;
    width: 250px;
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 35px #dddddd;
}


.Make-schedule h3 , .OnlineConsulting h3 , .Get-prescription h3{
    /* font-size: 20px; */
    font-weight: 500;
    color: #0a1c4bc2;
    /* padding-top: 5px; */
}

.Make-schedule p , .OnlineConsulting p , .Get-prescription p{
    color: #0A1C4B;
    font-size: 12px;
    font-weight: 600;
}

.Make-schedule:hover h3 , .OnlineConsulting:hover h3 , .Get-prescription:hover h3{
    color: white;
    transition: 1s;
    /* box-shadow: 0px 0px 35px #dddddd; */


}

.Make-schedule:hover p , .OnlineConsulting:hover p , .Get-prescription:hover p{
    color: white;
    transition: 0.5s;
}
.OnlineConsulting {
    height: 220px;
    width: 250px;
    background-color: white;
    color: #0A1C4B;
    border-radius: 5px;
    cursor: pointer;
}


.Choose-Doctor , .Make-schedule , .OnlineConsulting, .Get-prescription{
    /* box-shadow: 2px 2px 10px silver; */
    box-shadow: 0px 0px 35px #dddddd;

}


.Get-prescription {
    height: 220px;
    background-color: white;
    width: 250px;
    color: #0A1C4B;
    cursor: pointer;
    border-radius: 5px;
}


.Choose-Doctor-icon {
    background-color: #24D0D0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.Choose-Doctor-heading{
    font-weight: 500;
    font-size: 25px;
    color: #0A1C4B;
    text-align: center;
}

.Choose-Doctor-para{
    font-weight: 500;
    font-size: 12px;
    color: #0A1C4B;
    text-align: center;
    padding-top: 5px;
}



.Choose-Doctor-heading{
    color: #0A1C4B;
}

.Choose-Doctor-para{
    color: #0A1C4B;
}

.Choose-Doctor-heading1 {
    color: white;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}



.Choose-Doctor-para1 {
    font-size: 12px;
    font-weight: 300;
    color: white;
    text-align: center;
    padding-top: 5px;
}
.Make-schedule:hover , .OnlineConsulting:hover , .Get-prescription:hover{
    background-color: #0A1C4B;
    transition: 1s;
}
.Make-schedule:hover .Choose-Doctor-heading,.Choose-Doctor-para{
    color: white;
}


.doctors-dropdown{
    position: absolute;
    width: 900px;
    height:310px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.575);
    border-radius: 6px;
    top: 100%;
    left: 0px;
    display: none;  

    /* padding-top: 15px; */
    z-index: 51111111111;
}


.doctors-dropdown-li{
    display: flex;
    /* gap: 150px; */
    /* justify-content: space-around   ; */
    /* width: 100%; */
}



.doctors-dropdown-li ul{
    /* border: 1px solid red; */
    margin-top: 22px;
    overflow: none;
    width: 25%;
    padding: 0;
    gap: 0;
}

.doctors-dropdown-li ul{
    margin-left: 40px;
}



.doctors-dropdown-li ul li.color-green{
    color: #24D0D0;
}





.doctors-dropdown-li ul li{
    list-style: none;
    line-height: 25px;
    /* width: 100%; */
    /* border: 1px solid green; */
    color: rgba(10, 28, 75, 0.788);
    font-size: 14px;
    cursor: pointer;
}

.doctors-dropdown-li ul li svg{
    width: 12px;
    height: 10px;
    padding-left: 4px;
}


li.color-green{
    color: rgba(36, 208, 208, 1);
}




.doctors-dropdown-li ul li:first-child{
    color: rgba(36, 208, 208, 1);
}


.doctors-dropdown-li ul li hr{
    width: 46px;
}





.Find-doctors-By-speciality{
    color: #24D0D0;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 10px;
}

.Gynecologist{
    font-size: 16px;
    color: #0A1C4B;
    font-weight: 300;
}

.Gynecologist-svg{
    display: flex;   
    gap: 5px;
    align-items: center;
}
.navbar-li1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    position: relative;
    padding: 10px 0;
}


.navbar-para1{
    cursor: pointer;
}


.navbar-li1:hover .doctors-dropdown{
    display: block;
}

/*  */








nav{
    position: relative;
}

.Diabetes{
    display: flex;
    align-items: center;
    gap: 10px;
}



/*  */
/*  */
/*  */
/*  */
/* 
 */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */





 /*       HERE WE STARTING AFTER 4 DIVS TAG       */


/* danish */


 /*       here we are starting main tag      */







 .main{
    /* border: 1px solid red; */
    margin-top: 35px;
    width: 100%;
    background-color: #eaeaea;
    /* box-shadow: 2px 2px 10px silver; */
 }

.main-maindiv{
    /* border: 1px solid green; */
    margin: 0 69px;
    display: flex;
    padding: 23px 0;
 }

 .main-div1{
    width: 25%; 
    /* border: 1px solid red; */
    display: flex;
 }

 .icon-svg{
    /* border: 1px solid black; */
    padding-top: 3px;
 }

.icon-svg svg{
    height: 30px;
    width: 30px;
}


 .peragraph{
    /* border: 1px solid black; */
    padding-left: 12px;
 }
 

 .p1{
    font-size: 17px;
    font-weight: 500;
    color: #0A1C4B;
 }
 .p2{
    font-size: 12px;
    color: #4d4d4d;
    margin-top: 6px;
 }

/* 2 */
 .main-div2{
    width: 25%;
    /* border: 1px solid red; */
    display: flex;
 }

/* 3 */
 .main-div3{
    width: 25%;
    /* border: 1px solid red; */
    display: flex;
 }

 /* 4 */


 .main-div4{
    width: 25%;
    /* border: 1px solid red; */
    display: flex;
 }


 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */

 .doctor-found{
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 5px;
    /* box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.192); */
    box-shadow: 0px 0px 35px #dddddd;
    height: 170px;
 }

 .doctor-found-div1{
    /* display: flex;   */
    padding: 20px 20px 0 20px;
 }

 .doctor-found-div1 p:first-child{
    float: left;
 }
 .doctor-found-div1 p:last-child{
    float: right;
 }


 .div1-p1{
    font-size: 20px;
    color: #0A1C4B;
    font-weight: 600;
 }
 
 .div1-p2{
    font-size: 9px;
    font-weight: bold;
    color: #0A1C4B;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .div1-p2 svg{
    height: 10px;
    width: 15px;
    padding-left: 5px;
    justify-content: center;
    align-items: center;
 }



 /*  */
 /*  */
 /*  */



 .doctor-found-div2{
    /* border: 1px solid red; */
    display: flex;
    height: 100px;
    padding-top: 13px;
 }

 .doctor-found-div2 div{
    width: 12%;
    /* border: 1px solid red; */
 }

 .div2-div1 svg{
    height: 40px;
    width: 115px;
    text-align: right;
    justify-content: right;
 }
 .div2-div1 p{
    color: #0A1C4B;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 7px;
 }


 .doctor-found h2{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    color: #0A1C4B;
    font-weight: 600;
 }

 /*  */


.main-paragraph{
    text-align: center;
    color: #0A1C4B;
    font-size: 20px;
    font-weight: 600;
    padding-top: 35px;
}


.left{
    float: left;
    width: 50%;
    /* border: 1px solid red; */
    padding: 100px 0 0 100px;
}
.left h3{
    color: #0A1C4B;
    font-size: 16px;
    font-weight: bold;
}
.left p{
    color: #0A1C4B;
    font-size: 11px;
    padding-top: 17px;
    line-height: 19px;
}

.left button{
    display: flex;
    background-color: #0A1C4B;
    color: #FFFFFF;
    padding: 6px 6px;
    border-radius: 3px;
    font-size: 11px;
    cursor: pointer;
    margin-top: 30px;
}

/* .left button:hover{
    transform: rotate(15deg) scale(1,2);
    transition: 1s;
} */
.left button svg{
    width: 9px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.profile-icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(10, 44, 75, 0.116);   
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.profile-dropdown{
    position: absolute;
    top: 100%;
    right: 0px;
    display: none;
    padding-top: 7px;

}
.profile-dropdown-inner{
    width:  140px;
    background-color:white;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
     border-radius: 6px;
     padding-top: 15px;
     padding-left: 15px ;

}

.profile-icon:hover .profile-dropdown{
    display: block;
}


.dropdwon-profile{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.logout-dropdown{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top:0px;
    cursor: pointer;
}

.right{
    float: right;
    width: 50%;
}



/*  */
/*  */
/*  */



.user-recomendation{
    text-align: center;
    color: #0A1C4B;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
}

.div-3div{
    /* border: 1px solid red; */
    display: flex;
    max-width: 900px;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}

.div-3div .div-3div-div1 , .div-3div-div2 , .div-3div-div3{
    width: 32%;
    /* border: 1px solid green; */
    background-color: #FFFFFF;
    border-radius: 6px;
    /* box-shadow: 2px 2px 15px rgb(179, 175, 175); */
    box-shadow: 0px 0px 35px #dddddd;
}




.div3-image{
    background: url(../Images/pfofile.png.jpg);
    height: 70px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
    display: inline-block;
    border-radius: 50%;
    display: flex;
}
.div3-image{
    justify-content: center;
    align-items: center;
    border: rgba(36, 208, 208, 1) , rgba(10, 28, 75, 1);
    margin-left: 107px;
    margin-top: 20px;
}


.div4-image{
    background: url(../Images/pofile1.png.jpg);
    height: 70px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
    display: inline-block;
    border-radius: 50%;
    display: flex;
}
.div4-image{
    justify-content: center;
    align-items: center;
    border: rgba(36, 208, 208, 1) , rgba(10, 28, 75, 1);
    margin-left: 107px;
    margin-top: 20px;
}

.div5-image{
    background: url(../Images/profile2.png.jpg);
    height: 70px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
    display: inline-block;
    border-radius: 50%;
    display: flex;
}

.div5-image{
    justify-content: center;
    align-items: center;
    border: rgba(36, 208, 208, 1) , rgba(10, 28, 75, 1);
    margin-left: 107px;
    margin-top: 20px;
}



.div-3div-div1 p{
    text-align: center;
    font-size: 11px;
    color: #0A1C4B;
    white-space: 1px;
    line-height: 16px;
    margin-top: 24px;
}

.div-3div-div2{
    margin-left: 2%;
}
.div-3div-div3{
    margin-left: 2%;
}


.div-3div div .ayesha{
    text-align: center;
    margin-top: 5px;
    color: #0A1C4B;
    font-size: 12px;
    font-weight: bold;
}

.svg-icon{
    height: 25px;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 10px;
}






/*  */
/*  */
/*  */
/*  */
/* join section */
/*  */
/*  */
/*  */



.join-section{
    margin-top: 30px;
    width: 100%;
    background-color: #FFFFFF;
    height: 400px;
}
.join-section p{
    text-align: center;
    padding-top: 40px;
    color: #0A1C4B;
    font-weight: bold;
    font-size: 20px;
}


.join-section-main-div{
    display: flex;
    margin-top: 40px;
}




.color-last{
    color: rgba(10, 28, 75, 1);
}

.flex{
    display: flex;    
}


.join-section-div1{
    width: 50%;
}

.join-section-div1 svg{
    height: 20px;
    width: 300px;
}

.h6 svg{
    width: 20px;
    background-color: #24D0D026;
    padding: 3px;
    height: 17px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.h6{
    font-size: 13px;
    margin-left: 240px;
    display: flex;      
    font-weight: 100;
    line-height: 17px;
    margin-top: 30px;
}
.svg6 svg{
    padding: 0.1px;
}


.btn3{
    color: #FFFFFF;
    background-color: #0A1C4B;
    display: flex;
    font-size: 12px;
    font-weight: 100;
    border-radius: 3px;
    padding: 6px 6px;
    margin-left: 240px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.2s ease-in;
    /* display: inline-block; */
}


.btn3:hover{
    transform: rotate(10deg) scale(1.2);
    /* transition: 1s; */
}
.btn3 svg{
    height: 14px;
    width: 13px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    /* padding-top: 2px; */
}











.join-section-div2{
    width: 50%;
    /* border: 1px solid rgb(0, 255, 34); */
}

.join-section-div2 svg{
    height: 80%;
    width: 420px;
    margin-left: 70px;
}



/*  */
/*  */
/*  */
/*  */
/*  */



/* last manu blue color */

/*  */
/*  */
/*  */
/*  */
/*  */


.last-section{
    background-color: rgba(10, 28, 75, 1);
}


.display-flex{
    display: flex;
    padding: 100px 0 0 180px;
}


.display-flex-maindiv1 , .display-flex-maindiv2 , .display-flex-maindiv3 , .display-flex-maindiv4 , .display-flex-maindiv5{
    width: 22%;
    /* border: 1px solid red; */
}

.display-flex-maindiv2 , .display-flex-maindiv3 , .display-flex-maindiv4 , .display-flex-maindiv5 h4{
    color: rgba(255, 255, 255, 0.651);
    font-size: 13px;
    letter-spacing: 0.9px;
    word-spacing: 05;
    font-weight: 0;
}

.display-flex-maindiv1 svg{
    font-size: 10px;
    height: 16px;
    /* border: 1px solid green; */
    width: auto;
}

.display-flex-maindiv1 p{
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.685);
    font-size: 10px;
    word-spacing: 1px;
    font-weight: 0;
    line-height: 14px;
}

.display-flex-maindiv1 h1{
    padding-top: 20px;
    font-size: 13px;
    color: #ffffffb6;
}

.div-d1{
    /* border: 1px solid red; */
    margin-top: 8px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.div-d1 svg{
    width: 16px;
    height: 17px;
    /* border: 1px solid red; */
    cursor: pointer;
}

.div-d1 p{
    padding-left: 12px;
    transform: translate(-0px , -3px);
    cursor: pointer;
}

.Our-Payment-Partners{
    margin-top: 24px;
}
.Our-Payment-Partners p{
    font-size: 11px;
    font-weight: bold;
}


.aap-div{
    display: flex;
    /* border: 1px solid red; */
    margin-top: 19px;
}

.aap-div svg{
    height: 40px;
    width: 40px;
    gap: 30px;
    cursor: pointer;
    padding-right: 10px;
    border-radius: 10px;
}

/*  */
/*  */


.display-flex-maindiv2 ul{
    padding-top: 28px;
    /* border: 1px solid red; */
    display: inline-block;
}

.display-flex-maindiv2 li{
    list-style: none;
    line-height: 24px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.596);
    cursor: pointer;
    padding: 0;
    margin: 0;
}


/*  */
/*  */
/*  */
/*  */




/* footer */

.footer{
    display: flex;
    /* border: 1px solid red; */
    max-width: 1230px;
    width: 90%;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 60px;
}

.footer-div1 , .footer-div2 , .footer-div3 , .footer-div4{
    display: flex;
    width: 25%;
    /* border: 1px solid red; */
}


.footer-div1 div:first-child{
    display: flex;
    padding-right: 16px;
}


.footer-div1 svg{
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    /* border: 1px solid green; */
    padding-top: 3px;
}

.footer-div1 p:first-child{
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.712);
}


.footer-div1 p:last-child{
    font-size: 10px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.692);
    justify-content: center;
    align-items: center;
}
.Consult-Online-dropdown{
    width: 170px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 50px;
    display: none;
    box-shadow: 0px 0px 10px rgb(192 192 192 / 57%);
    border-radius: 5px;
}
.navbar-li2{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px   ;
}
.navbar-li2:hover .Consult-Online-dropdown{
    display: block;
}
.navbar-li2 {
    background: white;
    padding-bottom: 15px;
    padding-top: 15px;
}

nav p {
    white-space: nowrap;
}

.Consult-Online-dropdown li{
    list-style: none;
    /* line-height: 30px; */
    padding-left: 14px;
    padding-top: 10px;
    cursor: pointer;
    color: rgba(10, 28, 75, 1);
}

.Consult-Online-dropdown li:first-child{
    color:#24D0D0;
}



/*  */
/*  */
/*  */




.Hospitals-dropdown{
    display: none;
    width: 200px;
    height: 310px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 50px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.849);
}


.navbar-li:hover .Hospitals-dropdown{
    display: block;
}

.Hospitals-dropdown ul li{
    list-style: none;
    margin-left: 14px;
    margin-top: 10px;
    cursor: pointer;
    color: rgba(10, 28, 75, 1);
}

.Hospitals-dropdown ul li:first-child{
    color:#24D0D0;
}

.Hospitals-dropdown ul li:last-child hr{
    width: 55px;
}

/*  */
.Hospitals-dropdown-1{
    display: none;
    width: 150px;
    height: 225px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 50px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.849);
}

.navbar-li:hover .Hospitals-dropdown-1{
    display: block;
}

.Hospitals-dropdown-1 ul li{
    list-style: none;
    margin-left: 14px;
    margin-top: 10px;
    cursor: pointer;
    color: rgba(10, 28, 75, 1);
}

.Hospitals-dropdown-1 ul li:first-child{
    color:#24D0D0;
}

.Hospitals-dropdown-1 ul li:last-child hr{
    width: 55px;
}





/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */






/*  */
/*  */
/*  */
/* footer */
/*  */
/*  */
/*  */













.main-foot{
    /* margin-top: 80px; */
    /* border: 1px solid red; */
    background-color: rgba(10, 28, 75, 1);
    padding: 60px 0px 60px 180px;
}


.mainfoot-maindiv{
    display: flex;
}

.foot-div1{
    /* border: 1px solid black; */
    padding: 5px;
}

.foot-div1 .first{
    width: 150px;
}


.foot-p{
    text-align: left;
    color: rgba(255, 255, 255, 0.685);
    padding-top: 18px;
    font-size: 16px;
    line-height: 22px;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}


.foot-h2{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
}


.foot-ul{
    padding-top: 10px;
}
.foot-ul-div{
    display: flex;
    align-items: center;
    padding-top: 10px;
}


.foot-ul-div svg{
    height: 25px;
    width: 10px;
    cursor: pointer;
}

.foot-ul-div li{
    padding-left: 20px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;

}



.foot-ul-div2{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div2 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div2 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}



.foot-ul-div3{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div3 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div3 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}


.foot-ul-div4{
    display: flex;
    align-items: center;
    padding-top: 10px;

}


.foot-ul-div4 svg{
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.foot-ul-div4 li{
    padding-left: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-size: 14px;
    cursor: pointer;
}




.Our-Payment-Partners{
    text-align: left;
    padding-top: 37px;
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
}

.flex-box{
    display: flex;
    padding-top: 30px;
}

.flex-box-1{
    padding-left: 8px;
}

.flex-box-1 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}

.flex-box-2{
    padding-left: 14px;
}

.flex-box-2 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}


.flex-box-3{
    padding-left: 14px;
}

.flex-box-3 svg{
    border-radius: 10px;
    height: 40px;   
    width: 40px;
}






/*  */






.foot-div2{
    /* border: 1px solid red; */
    padding: 5px;
    padding-left: 140px;
    /* padding-right: 50px; */

}

.foot-div2 h4{
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 500;
}

.Major-Cities-ul{
    /* border: 1px solid red; */
    padding-top: 30px;
}

.Major-Cities-ul li{
    list-style: none;
    line-height: 37px;
    color: rgba(255, 255, 255, 0.692);
    font-size: 16px;
    cursor: pointer;
}





/*  */




/* .foot-div3{

}






.foot-div4{

}




.foot-div5{

}
 */




 /*  */
 /*  */
 /*  */



.footer-mantag{
    display: flex;
    /* border: 1px solid red; */
    padding-top: 50px;
    gap: 150px;
}

.footer-mantag-maindiv{
    display: flex;
    /* border: 1px solid red; */
    gap: 20px;
    align-items: center;
}

.footer-mantag-svg svg{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.footer-mantag-2p p{
    text-align: left;
    line-height: 25px;
    justify-content: center;
}


.footer-mantag-2p1{
    font-size: 18px;
    color: rgb(255, 254, 254);
}

.footer-mantag-2p2{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.644);
}



/*  */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */










@media (max-width:1100px) {
    .nav-item {
        display: none;
    }
}

@media (max-width : 500px){
    .navbar-svg svg{
        width: 150px;
    }

    .navbar-right .join-text{
        font-size: 15px;
    }
    .navbar-right .nav-bar-right-icon{
        width: 30px;
        height: 30px;
    }
    .navbar-right .nav-bar-right-icon svg{
        width: 14px;
        height: 14px;
    }
    .navbar-right .nav-bar-right-icon.message-icon svg{
        width: 22px;
        height: 22px;
    }
}

@media (max-width : 335px) {
    .trrumacare-navbar {
        justify-content: center;
    }
    .navbar-right{
        display: none;
    }
}