{% extends 'Components/Base.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}


{% block BaseCSS %}


<style>
    
</style>


{% endblock BaseCSS %}

{% block baseBody %}



<section class="add-appoinments-section py-[30px] md:py-[50px] max-w-[1440px] mx-auto px-[15px] md:px-[20px] ">
    <div class="flex items-center justify-center text-center mx-auto max-w-max rounded-[30px] bg-teal-100/50 text-[#24d0d0] px-[12px] mt-[30px] font-[600] text-[15px] ">
        Blogs
    </div>
    <h2 class="text-center text-[32px] font-[600] text-[#0a1c4b] mt-[10px] ">Our Fresh News</h2>
    <p class="text-center text-[15px] max-w-[700px] mx-auto font-[400] text-[#0a1c4b] mt-[7px] ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi exercitationem laborum dolores iusto eius saepe ducimus voluptatum necessitatibus totam incidunt?</p>
    <div class="flex items-center justify-center gap-[22px] flex-wrap mt-[40px] md:mt-[70px] ">
        {% for post in posts %}
            <div class="sm:max-w-[450px] w-full rounded-[9px] overflow-hidden border shadow ">
                <div class="w-full bg-cover bg-center bg-no-repeat h-[250px] " style="background-image: url({{post.cover_image.image.url}});" ></div>
                <div class="p-[12px] ">
                    <!-- <div class="flex items-center gap-[12px] ">
                        <div class="bg-cover bg-center bg-no-repeat rounded-[100px] h-[50px] w-[50px] bg-red-300 "></div>
                        <div>
                            <h2 class="text-[15px] font-[600] text-[#0a1c4b] line-clamp-1 ">Danish yaqoob</h2>
                            <p class="text-[13px] font-[400] text-[#0a1c4b]/70 line-clamp-1 ">May 9, 2023</p>
                        </div>
                    </div> -->
                    <p class="line-clamp-1 text-[16px] font-[500] text-[#0a1c4b] mt-[7px] leading-[20px] ">{{post.category.name}}</p>
                    <a href="{% url 'PostViewPage' post.slug %}" class="line-clamp-2 text-[20px] font-[600] text-[#0a1c4b] mt-[4px] leading-[26px] ">{{post.title}}</a>
                    <p class="line-clamp-3 text-[15px] font-[500] text-[#0a1c4b]/70 mt-[7px] leading-[20px] ">{{post.content_content}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock baseBody %}