{% extends 'Components/Base.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}


{% block BaseCSS %}

{% endblock BaseCSS %}

{% block baseBody %}

<section class="add-appoinments-section py-6 md:py-8 max-w-[1500px] mx-auto px-4 sm:px-6 md:px-8 space-y-7">
    <div class="space-y-2 max-w-[900px] mx-auto">
        <h3 class="bg-clip-text text-transparent bg-gradient-to-r from-[#0755E9] to-[#05DC75] text-3xl md:text-4xl font-extrabold text-center max-w-max mx-auto">Latest Blogs And News</h3>
        <p class="text-sm text-[#0A0E19] text-center">Our healthcare blog is your go-to source for all things health and wellness. Whether you’re a patient, doctor, or hospital administrator, find valuable insights, the latest medical research, and wellness tips. Explore, inform, and inspire better health for all.</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 md:gap-5">
        {% for post in posts %}
            <div class="w-full rounded-2xl overflow-hidden border border-[#CACBE6]">
                <div class="w-full bg-cover bg-center bg-no-repeat h-[250px]" style="background-image: url({% if post.cover_image.thumbnail %}{{ post.cover_image.thumbnail.url }}{% else %}{{ post.cover_image.image.url }}{% endif %});"></div>
                <div class="px-3 py-4 space-y-1">
                    <div class="text-[#FFFFFF] text-xs font-medium bg-[#0755E9] max-w-max rounded-full px-2.5 py-[3px]">{{ post.category.name }}</div>
                    <a href="{% url 'PostViewPage' post.slug %}" class="line-clamp-1 text-xl font-semibold text-[#0A1C4B]">{{ post.title }}</a>
                    <p class="line-clamp-2 text-sm font-medium text-[#0A1C4BB2]">{{ post.content_content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock baseBody %}