{% extends 'Components/Base.html' %}
{% load static %}
{% block title %}{{post.title}}{% endblock title %}

{% block BaseCSS %}

<style>
    .main-blog-post-content {
        color: #363636;
    }
    .main-blog-post-content h1{
        font-size : 30px;
    }
    .main-blog-post-content h2{
        font-size : 25px;
    }
    .main-blog-post-content h3{
        font-size : 20px;
    }
    .main-blog-post-content h1,
    .main-blog-post-content h2,
    .main-blog-post-content h3{
        font-weight: 700;
        color: black !important;
    }
    .main-blog-post-content h1 ~ div,
    .main-blog-post-content h2 ~ div,
    .main-blog-post-content h3 ~ div{
        padding-left: 35px;
    }

    .main-blog-post-content strong{
        font-weight: 600;
        color: black;
    }
</style>


{% endblock BaseCSS %}

{% block baseBody %}

<section class="add-appoinments-section py-5 md:py-7 px-4 sm:px-6 md:px-8">
    <div class="max-w-[1500px] w-full mx-auto flex items-start xl:flex-row flex-col gap-5">
        <div class="flex-1">
            <p class="text-sm font-medium text-[#0A1C4B] flex items-center gap-[4px] transition-all ">
                <a class="hover:text-[#05D57C] transition-all" href="/">Home</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform msFilter\"><path d="M10.296 7.71 14.621 12l-4.325 4.29 1.408 1.42L17.461 12l-5.757-5.71z"></path><path d="M6.704 6.29 5.296 7.71 9.621 12l-4.325 4.29 1.408 1.42L12.461 12z"></path></svg>
                <a class="hover:text-[#05D57C] transition-all" href="/blog">{{post.category.name}}</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform msFilter\"><path d="M10.296 7.71 14.621 12l-4.325 4.29 1.408 1.42L17.461 12l-5.757-5.71z"></path><path d="M6.704 6.29 5.296 7.71 9.621 12l-4.325 4.29 1.408 1.42L12.461 12z"></path></svg>
                <a class="hover:text-[#05D57C] transition-all" href="/blog">{{post.title}}</a>
            </p>
            <h1 class="text-[33px] font-semibold text-[#0A1C4B] ">{{post.title}}</h1>
            <p class="text-sm font-medium text-[#0A1C4B]"><span class="text-[#05D57C]">Published on:</span> {{post.created_at|date}} . {{post.read_time}} min read</p>
            <div class="bg-center bg-cover rounded-3xl bg-no-repeat h-[540px] mt-1" style="background-image: url('{{post.cover_image.image.url}}');"></div>
            <div class='main-blog-post-content mt-10'>
                {{post.content|safe}}
            </div>
        </div>
        <div class="w-[420px] mt-[87px] ">
            {% for s_post in suggested %}
                <a href="{% url 'PostViewPage' s_post.slug %}" class=" flex gap-[12px] w-full cursor-pointer mt-[10px] ">
                    <div class="w-[120px] h-[120px] bg-cover bg-center bg-no-repeat rounded-[11px] " style="background-image: url({% if s_post.cover_image.mini_thumbnail %}{{s_post.cover_image.mini_thumbnail.url}}{% else %}{{s_post.cover_image.thumbnail.url}}{% endif %});"></div>
                    <div class="flex-1 ">
                        <h2 class="text-[18px] font-semibold text-[#0A1C4B] line-clamp-1 ">{{s_post.title}}</h2>
                        <p class="text-[13px] font-medium text-[#0A1C4B] line-clamp-4">{{s_post.content_content}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock baseBody %}