{% extends 'Components/Base.html' %}
{% load static %}
{% block title %}{{post.title}}{% endblock title %}

{% block BaseCSS %}

<style>
    .main-blog-post-content {
        color: #363636;
    }
    .main-blog-post-content h1{
        font-size : 30px;
    }
    .main-blog-post-content h2{
        font-size : 25px;
    }
    .main-blog-post-content h3{
        font-size : 20px;
    }
    .main-blog-post-content h1,
    .main-blog-post-content h2,
    .main-blog-post-content h3{
        font-weight: 700;
        color: black !important;
    }
    .main-blog-post-content h1 ~ div,
    .main-blog-post-content h2 ~ div,
    .main-blog-post-content h3 ~ div{
        padding-left: 35px;
    }

    .main-blog-post-content strong{
        font-weight: 600;
        color: black;
    }
</style>

{% endblock BaseCSS %}

{% block baseBody %}

<section class="add-appoinments-section py-5 md:py-7 px-4 sm:px-6 md:px-8">
    <div class="max-w-[1500px] w-full mx-auto flex items-start xl:flex-row flex-col gap-5">
        <div class="flex-1 space-y-2">
            <div class="text-sm font-medium text-[#0A1C4B] flex items-center gap-1 transition-all">
                <a class="hover:text-[#05D57C] transition-all" href="/">Home</a>
                <svg with="8" height="8" class="-rotate-90" viewBox="0 0 12 8" role="presentation"><path stroke="currentColor" stroke-width="1" d="M10 2L6 6 2 2" fill="none" stroke-linecap="square"></path></svg>
                <a class="hover:text-[#05D57C] transition-all" href="/blog">{{post.category.name}}</a>
                <svg with="8" height="8" class="-rotate-90" viewBox="0 0 12 8" role="presentation"><path stroke="currentColor" stroke-width="1" d="M10 2L6 6 2 2" fill="none" stroke-linecap="square"></path></svg>
                <a class="hover:text-[#05D57C] transition-all line-clamp-1" href="/blog">{{post.title}}</a>
            </div>
            <h2 class="text-xl sm:text-2xl lg:text-3xl font-semibold text-[#151E2C] line-clamp-2">{{post.title}}</h2>
            <p class="text-sm font-medium text-[#0A1C4B]"><span class="text-[#05D57C]">Published on:</span> {{post.created_at|date}} . {{post.read_time}} min read</p>
            <div class="bg-center bg-cover rounded-3xl bg-no-repeat h-[480px] sm:h-[540px]" style="background-image: url('{{post.cover_image.image.url}}');"></div>
            <div class="main-blog-post-content !mt-7">
                {{post.content|safe}}
            </div>
        </div>
        <div class="xl:w-[420px]">
            {% for s_post in suggested %}
                <a href="{% url 'PostViewPage' s_post.slug %}" class=" flex gap-[12px] w-full cursor-pointer mt-[10px]">
                    <div class="w-[120px] h-[120px] bg-cover bg-center bg-no-repeat rounded-[11px] " style="background-image: url({% if s_post.cover_image.mini_thumbnail %}{{s_post.cover_image.mini_thumbnail.url}}{% else %}{{s_post.cover_image.thumbnail.url}}{% endif %});"></div>
                    <div class="flex-1">
                        <h2 class="text-[18px] font-semibold text-[#0A1C4B] line-clamp-1">{{s_post.title}}</h2>
                        <p class="text-[13px] font-medium text-[#0A1C4B] line-clamp-4">{{s_post.content_content}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock baseBody %}