
{% extends 'Pharmacy/PharmacyBase.html' %}
{% load static %}
{% block title %}Medicines{% endblock title %}

{% block BaseCSS %}
<link rel="stylesheet" href="{% static 'assets/swiper/main_swiper.css' %}" />
<style>
      .change-location-popup-main-BG{
        background-color: rgba(0, 0, 0, 0.685);
        height: 100vh;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: -1;
        opacity: 0;
    }
    .change-location-popup{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    .change-location-popup-main-BG-after{
        opacity: 1;
        z-index: 1000000;
      }
</style>

{% endblock BaseCSS %}

{% block pharmacy_body %}

<main class="px-4 sm:px-6 md:px-8 py-7">
      <section class="max-w-[1500px] mx-auto space-y-10">
            <div class="flex gap-7">
                  <div class="max-w-[410px] w-full">
                        <div class="relative overflow-hidden w-full h-[400px] border border-[#CACBE6] rounded-3xl flex justify-center">
                              <img src="{{product.product_all_images.0.image.url}}" class="max-w-full max-h-full" alt="">
                        </div>
                  </div>
                  <div class="flex-1">
                        {% if product.prescription_required %}
                              <div class="flex items-center gap-3 w-full">
                                    <img class="size-7" src="{% static 'assets/Images/warning 1.png' %}" alt="">
                                    <p class="text-red-600 outfit-font text-[15px]">Prescription required for this product</p>
                              </div>
                        {% endif %}
                        <div class="">
                              <div class="flex items-center justify-between">
                                    <h1 class="text-2xl font-semibold text-[#151E2C] outfit-font">{{product.name}}</h1>
                                    {% if location_stock.discount %}
                                          {% include 'Components/PercentageOff.html' with percentage=location_stock.discount|floatformat:0 %}
                                    {% endif %}
                              </div>
                              <div class="flex gap-2.5">
                                    <span class="w-12 h-12 border border-gray-200 rounded-full bg-center bg-cover bg-no-repeat" style="background-image:url('{{product.store.profile_image}}')"></span>
                                    <span>
                                          <p class="m-0 p-0 font-[400] text-[#0755E9]" style="margin:0;padding:0;font-size:16px">{{product.store.name}}</p>
                                          <p class="m-0 p-0 text-sm font-[400] text-black flex gap-2 items-center" >
                                                {{location.name}}
                                                {% if location %}
                                                      <span class='text-xs outfit-font text-[#0555E9] flex gap-1'>
                                                            <span class="whitespace-nowrap text-[11px] outfit-font text-[#0555E9] flex items-center gap-1" showdistance="{{location.lat}},{{location.lng}}"></span>
                                                      </span>
                                                {% endif %}
                                          </p>
                                    </span>
                                </div>
                              <div class="!mt-5 flex items-center gap-1">
                                    {% if location_stock.discount %}
                                          <span class="text-[#3C3C3C]/60"><del>{{location_stock.price}}</del></span>
                                    {% endif %}
                                    <p class="text-2xl text-[#05D57C] outfit-font font-semibold italic flex items-center gap-1">
                                          <span class="font-medium text-[#151E2C] text-sm">PKR</span>{{location_stock.final_price|floatformat:2}}
                                    </p>                          
                              </div>
                        </div>
                        <div class="my-4 w-full h-[1px] bg-[#CACBE6]"> </div>
                        <div class="space-y-3">
                              <div class="flex items-center gap-1">
                                    <p class="text-[#151E2C] font-semibold text-sm">Quantity:</p>
                                    <p class="text-[#51B74F] font-semibold text-sm">3 In Stoke</p>
                              </div>
                              <div class="flex items-center rounded-lg bg-[#6C7793] w-[120px] h-[40px] p-[1.5px]">
                                    <button class="cursor-pointer text-white text-xl font-semibold flex-1 h-full flex items-center justify-center">-</button>
                                    <p class="text-[#0A1C4B] text-xl font-semibold rounded-md flex-1 h-full flex bg-white items-center justify-center outfit-font">1</p>
                                    <button class="cursor-pointer text-white text-xl font-semibold flex-1 h-full flex items-center justify-center">+</button>
                              </div>
                        </div>
                        <div class="my-4 w-full h-[1px] bg-[#CACBE6]"> </div>
                        <div class="flex items-center justify-end">
                              <button class="bg-gradient-to-r from-[#8F17F6] via-[#EB14E5] to-[#FC736D] rounded-full px-5 py-2.5 text-white text-sm outfit-font cursor-pointer" onclick="add_to_cart_btn()">
                                    Add to Cart
                              </button>
                        </div>
                  </div>
                  <div class="max-w-[370px] w-full space-y-3">
                        {% for location_product in other_locations %}
                              <div class="flex rounded-lg relative cursor-default bg-white border border-[#CACBE6] transition-all gap-1 overflow-hidden">
                                    {% if location_product.discount %}
                                          <div class="absolute right-0 top-[26px]">
                                                <span class="font-semibold text-[#151E2C] rounded-md rounded-r-none bg-[#f0da69] py-2 px-3 text-sm">{{location_product.discount|floatformat:0}}% OFF</span>
                                          </div>
                                    {% endif %}
                                    <div class="flex items-center justify-center h-20 w-20 bg-center bg-no-repeat bg-cover" style="background-image: url('{{product.product_all_images.0.image.url}}');">   </div>
                                    <div class="px-1 space-y-2 flex-1">
                                          {% comment %} <div class="text-[#FFFFFF] text-xs bg-[#F01275] max-w-max rounded-full px-2.5 py-[3px] line-clamp-1 outfit-font">{{product.store.name}}</div> {% endcomment %}
                                          <div class="">
                                                <a class="cursor-pointer" href="{% url 'SingleMedicineViewPage' product.slug %}?selected_location={{location_product.location_id}}">
                                                      <h2 class="font-medium outfit-font line-clamp-2 text-[#151E2C] line-clamp-1">{{product.name}}</h2>
                                                </a>
                                                <span class="text-xs outfit-font text-[#0555E9] flex gap-1">
                                                      {{location_product.location_name}}
                                                      <span class="whitespace-nowrap text-[11px] outfit-font text-[#0555E9] flex items-center gap-1" showdistance="{{location_product.lat}},{{location_product.lng}}"></span>
                                                </span>
                                          </div>
                                          <div class="flex items-center justify-between gap-2 !mt-4">
                                                <div class="bg-gradient-to-r from-[#05DC75] to-[#0755E9] p-[1px] rounded-full">
                                                      <div class="rounded-full max-w-max px-4 py-2.5 text-sm outfit-font text-[#151E2C] bg-white cursor-pointer whitespace-nowrap">
                                                            + Add to Cart
                                                      </div>
                                                </div>
                                                <div class="flex items-center gap-1">
                                                      {% if location_product.discount %}
                                                            <span class="text-sm text-[#3C3C3C]/60"><del>{{location_product.price}}</del></span>
                                                      {% endif %}
                                                      <p class="text-lg text-[#05D57C] outfit-font font-semibold italic flex items-center gap-1">
                                                            <span class="font-medium text-[#151E2C] text-xs">PKR</span>
                                                            {{location_product.final_price|floatformat:2}}
                                                      </p>                          
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        {% endfor %}
                  </div>
            </div>
            <!-- after checkout popup -->
            <!-- <div class="w-[550px]">
                  <div class="rounded-[18px] bg-[#24D0D01A] items-center px-[15px] py-[50px] flex flex-col gap-1">
                        <h2 class="text-[#557DE5] text-[26px] font-semibold">Bringing Healing to Your Doorstep </h2>
                        <p class="text-[22px] font-medium text-[#24D0D0]">Fast, Reliable, and Convenient Medicine Delivery!</p>
                        <div class="mt-7">
                              {% include 'Components/SVG/Deliverd-Medicine-SVG.html' %}
                        </div>
                  </div>
            </div> -->
            <div class="w-[1150px]">
                  <div class="bg-[#24D0D01A] pl-[35px] py-[20px] flex gap-[50px]">
                        <li class="text-[18px] font-[700] text-[#24D0D0] list-none cursor-pointer">Product Description</li>
                        <li class="text-[18px] font-[700] text-[#8989B6] list-none cursor-pointer hover:text-[#24D0D0]">How to use</li>
                        <li class="text-[18px] font-[700] text-[#8989B6] list-none cursor-pointer hover:text-[#24D0D0]">Side Effects</li>
                        <li class="text-[18px] font-[700] text-[#8989B6] list-none cursor-pointer hover:text-[#24D0D0]">Pharmacy Details</li>
                        <li class="text-[18px] font-[700] text-[#8989B6] list-none cursor-pointer hover:text-[#24D0D0]">Reviews</li>
                  </div>
                  <h2 class="text-[18px] mt-[18px] font-semibold text-[#323232]">Description</h2>
                  <p class="mt-[5px] text-[#625A5A] text-[16px] mr-[30px]">
                  {{product.description}}
                  </p>
                  <h2 class="text-[18px] mt-[15px] font-semibold text-[#323232]">Reviews</h2>
                  <div class="flex flex-col gap-[10px]">
                        {% include 'Components/Pharmacy/MedicineReview.html' %}
                        {% include 'Components/Pharmacy/MedicineReview.html' %}
                        {% include 'Components/Pharmacy/MedicineReview.html' %}
                  </div>
            </div>
            <div class="mt-[50px]">
                  {% include 'Components/Pharmacy/HomeMedicineSection.html' with medicines=medicines %}
            </div>
      </section>
</main>

<section class="h-[100vh] w-full bg-black/50 fixed top-0 z-[10000000] hidden transition-all" id="cart__popup__main">
      <div class="max-w-[440px] w-0 ml-auto h-full bg-white flex flex-col transition-all" id="cart__popup__main__width">
            <div class="px-5 py-4 flex items-center justify-between border-b border-[#CACBE6]">
                  <h2 class="text-lg font-medium outfit-font text-[#151E2C] line-clamp-1">Shopping Cart</h2>
                  <span class="cursor-pointer" onclick="close__cart__popup__btn()">
                        <svg class="fill-[#151E2C] stroke-[#151E2C]" width="13" height="13" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L11 1M1 1L11 11" stroke-width="2" stroke-linecap="round"></path>
                        </svg>
                  </span>
            </div>
            <div class="flex-1 overflow-y-auto px-5 py-2">
                  <div class="flex items-center gap-3 border-b border-[#CACBE6] py-4">
                        <div class="max-w-[120px] w-full h-24 flex items-center justify-center">
                              <img src="https://muslimaid-2022.storage.googleapis.com/upload/img_cache/file-2540-c3140610843658e55343c899d6b4d6f5.jpg" alt="">
                        </div>
                        <div class="flex-1 space-y-1">
                              <h3 class="font-medium outfit-font line-clamp-2 text-[#151E2C] line-clamp-1">Soloban 60 Cream 30gm</h3>
                              <div class="text-[#FFFFFF] text-[10px] bg-[#F01275] max-w-max rounded-full px-2.5 py-[3px] line-clamp-1 outfit-font">Fazal Din Pharma Plus</div>
                              <div class="flex items-center gap-1">                      
                                    <span class="text-xs text-[#3C3C3C]/60"><del>163.0</del></span>
                                    <p class="text-[#05D57C] outfit-font font-semibold italic flex items-center gap-1"><span class="font-medium text-[#151E2C] text-xs">PKR</span>154.85</p>                          
                              </div>
                              <div class="flex items-center justify-between gap-1">
                                    <div class="flex items-center rounded-md bg-[#6C7793] w-[100px] h-[30px] p-[1px]">
                                          <button class="cursor-pointer text-white font-semibold flex-1 h-full flex items-center justify-center">-</button>
                                          <p class="text-[#0A1C4B] font-semibold rounded-md flex-1 h-full flex bg-white items-center justify-center outfit-font">1</p>
                                          <button class="cursor-pointer text-white font-semibold flex-1 h-full flex items-center justify-center">+</button>
                                    </div>
                                    <span class="flex items-center justify-center size-6 cursor-pointer">
                                          <svg class="size-4 fill-black/50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z"/></svg>
                                    </span>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="px-5 py-4">
                  <div class="flex items-center justify-between py-2 border-b border-[#CACBE6]">
                        <h4 class="text-[#151E2C] outfit-font font-medium text-sm">Subtotal:</h4>
                        <p class="text-[#151E2C] outfit-font font-medium text-sm">Rs. 500</p>
                  </div>
                  <div class="flex items-center justify-between py-2 border-b border-[#CACBE6]">
                        <h4 class="text-[#0555E9] outfit-font font-medium text-sm">Discount Applied:</h4>
                        <p class="text-[#0555E9] outfit-font font-medium text-sm">Rs. -175</p>
                  </div>
                  <div class="flex items-center justify-between py-2 border-b border-[#CACBE6]">
                        <h4 class="text-[#151E2C] outfit-font font-medium text-sm">Platform Fee:</h4>
                        <p class="text-[#151E2C] outfit-font font-medium text-sm">Rs. 9</p>
                  </div>
                  <div class="flex items-center justify-between py-2 border-b border-[#CACBE6]">
                        <h4 class="text-[#151E2C] outfit-font font-medium text-sm">Delivery Charges:</h4>
                        <p class="text-[#151E2C] outfit-font font-medium text-sm">Rs. 149</p>
                  </div>
                  <div class="flex items-center justify-between py-2 border-b border-[#CACBE6]">
                        <h4 class="text-[#151E2C] outfit-font font-semibold text-sm">Grand Total:</h4>
                        <p class="text-[#05D57C] outfit-font font-medium text-sm italic">Rs. 483.00</p>
                  </div>
                  <div class="flex items-center gap-2 pt-4">
                        <button class="flex-1 text-sm rounded-md flex items-center justify-center bg-[#0A1C4B] py-3 text-white outfit-font">
                              View Cart
                        </button>
                        <button class="flex-1 text-sm rounded-md flex items-center justify-center bg-[#0A1C4B] py-3 text-white outfit-font">
                              Checkout
                        </button>
                  </div>
            </div>
      </div>
</section>

<script defer src="{% static 'assets/swiper/main_swiper.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      function totalshowPM() {
        let section = document.querySelector(".change-location-popup-main-BG");
        if (section) {
          section.classList.add("change-location-popup-main-BG-after");
        }
      }
      var total = document.querySelector(".change-location-btn");
      if (total) {
        total.addEventListener("click", totalshowPM);
      }
    })
    // 
    document.addEventListener('DOMContentLoaded', () => {
      function totalshowPM1() {
        let section = document.querySelector(".change-location-popup-main-BG");
        if (section) {
          section.classList.remove("change-location-popup-main-BG-after");
        }
      }
      var total = document.querySelector(".cancle-location-popup");
      if (total) {
        total.addEventListener("click", totalshowPM1);
      }
    })

//     
// 
// 

document.addEventListener('DOMContentLoaded', () => {
      function totalshowPM() {
        let section = document.querySelector(".change-location-popup-main-BG");
        if (section) {
          section.classList.add("change-location-popup-main-BG-after");
        }
      }
      var total = document.querySelector(".morebtn-before-location");
      if (total) {
        total.addEventListener("click", totalshowPM);
      }
    })
    // 
    document.addEventListener('DOMContentLoaded', () => {
      function totalshowPM1() {
        let section = document.querySelector(".change-location-popup-main-BG");
        if (section) {
          section.classList.remove("change-location-popup-main-BG-after");
        }
      }
      var total = document.querySelector(".cancle-location-popup");
      if (total) {
        total.addEventListener("click", totalshowPM1);
      }
    })


    let cart__popup__main = document.getElementById('cart__popup__main');

    function add_to_cart_btn() {
      cart__popup__main.classList.add('!block');
      cart__popup__main__width.classList.add('w-full');
    }

    function close__cart__popup__btn() {
      cart__popup__main.classList.remove('!block');
    }

  </script>
{% endblock pharmacy_body %}