
{% extends 'Pharmacy/PharmacyBase.html' %}
{% load static %}
{% block title %}Medicines{% endblock title %}

{% block BaseCSS %}
<link rel="stylesheet" href="{% static 'assets/swiper/main_swiper.css' %}" />
<style>
.change-location-popup-main-BG{
        background-color: rgba(0, 0, 0, 0.685);
        height: 100vh;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: -1;
        opacity: 0;
    }
    .change-location-popup{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }


    .change-location-popup-main-BG-after{
        opacity: 1;
        z-index: 1000000;
      }


      /*  */
      /*  */
      
      @media (max-width:1890px) {
            .SMP-3Divs-TC{
                  padding-left:  60px !important;
                  padding-right: 60px !important;
            }
      }
      @media (max-width:1830px) {
            .SMP-3Divs-TC{
                  padding-left:  35px !important;
                  padding-right: 35px !important;
            }
      }
      @media (max-width:1777px) {
            .SMP-3Divs{
                  flex-wrap: wrap !important;
                  justify-content: center !important;
                  gap: 55px !important;
            }
      }
      @media (max-width:1230px){
            .SMP-3Divs{
                  flex-direction: column;
                  justify-content: center;
            }
      }
</style>

{% endblock BaseCSS %}

{% block pharmacy_body %}

<main class="px-4 sm:px-6 md:px-8 py-7">
      <section class="max-w-[1500px] mx-auto space-y-10">
            <div class="flex gap-7">
                  <div class="max-w-[410px] w-full">
                        <div class="relative overflow-hidden w-full h-[400px] border border-[#CACBE6] rounded-3xl flex justify-center">
                              <img src="{{product.product_all_images.0.image.url}}" class="max-w-full max-h-full" alt="">
                        </div>
                  </div>
                  <div class="flex-1 space-y-4">
                        {% if product.prescription_required %}
                              <div class="bg-[#FEB54633] flex items-center gap-3 px-3 py-1 rounded-xl border border-[#FEB546] max-w-[580px] w-full">
                                    <img class="size-7" src="{% static 'assets/Images/warning 1.png' %}" alt="">
                                    <div class="">
                                          <p class="text-[#ED930A] outfit-font text-[15px]">Prescription required for this product on the Checkout page.</p>
                                          <span class="text-[#151E2C] text-sm"><a class="text-[#557DE5] underline outfit-font" href="#">Upload Now</a> or <a class="text-[#05D57C] underline outfit-font" href="#">Remind me Later</a></span>  
                                    </div>
                              </div>
                        {% endif %}
                        <div class="space-y-1">
                              <div class="flex items-center justify-between">
                                    <h1 class="text-2xl font-semibold text-[#151E2C] outfit-font">{{product.name}}</h1>
                                    {% if product.discount %}
                                          {% include 'Components/PercentageOff.html' with percentage=product.discount discounted_price=2000 %}
                                    {% endif %}
                              </div>
                              <div class="flex gap-2.5">
                                    <span class="w-12 h-12 border border-gray-200 rounded-full bg-center bg-cover bg-no-repeat" style="background-image:url('{{product.store.profile_image}}')"></span>
                                    <span>
                                          <p class="m-0 p-0 font-[400] text-[#0755E9]" style="margin:0;padding:0;font-size:16px">{{product.store.name}}</p>
                                          <p class="m-0 p-0 text-sm font-[400] text-black flex gap-2 items-center" >
                                                {{location.name}}
                                                {% if location %}
                                                      <span class='text-xs outfit-font text-[#0555E9] flex gap-1'>
                                                            <span class="whitespace-nowrap text-[11px] outfit-font text-[#0555E9] flex items-center gap-1" showdistance="{{location.lat}},{{location.lng}}"></span>
                                                      </span>
                                                {% endif %}
                                          </p>
                                    </span>
                                </div>
                              <div class="!mt-5 flex items-center gap-1">
                                    {% if product.discount %}
                                          <span class="text-[#3C3C3C]/60"><del>{{product.price}} {{product.discounted_price}}</del></span>
                                    {% endif %}
                                    <p class="text-2xl text-[#05D57C] outfit-font font-semibold italic flex items-center gap-1">
                                          <span class="font-medium text-[#151E2C] text-sm">PKR</span>{{product.final_price}}
                                    </p>                          
                              </div>
                        </div>
                        <div class="my-4 w-full h-[1px] bg-[#CACBE6]"> </div>
                        <div class="space-y-3">
                              <div class="flex items-center gap-1">
                                    <p class="text-[#151E2C] font-semibold text-sm">Quantity:</p>
                                    <p class="text-[#51B74F] font-semibold text-sm">3 In Stoke</p>
                              </div>
                              <div class="flex items-center rounded-lg bg-[#6C7793] w-[120px] h-[40px] p-[1.5px]">
                                    <button class="cursor-pointer text-white text-xl font-semibold flex-1 h-full flex items-center justify-center">-</button>
                                    <p class="text-[#0A1C4B] text-xl font-semibold rounded-md flex-1 h-full flex bg-white items-center justify-center outfit-font">1</p>
                                    <button class="cursor-pointer text-white text-xl font-semibold flex-1 h-full flex items-center justify-center">+</button>
                              </div>
                        </div>
                        <div class="my-4 w-full h-[1px] bg-[#CACBE6]"> </div>
                        <div class="flex items-center justify-end">
                              <button class="bg-gradient-to-r from-[#8F17F6] via-[#EB14E5] to-[#FC736D] rounded-full px-5 py-2.5 text-white text-sm outfit-font">
                                    Add to Cart
                              </button>
                        </div>
                  </div>
                  <div class="max-w-[370px] w-full space-y-3">
                        {% for location_product in other_locations %}
                              <div class="flex rounded-lg relative cursor-default bg-white border border-[#CACBE6] transition-all gap-1 overflow-hidden">
                                    {% if location_product.product.discount %}
                                          <div class="absolute right-0 top-[26px]">
                                                <span class="font-semibold text-[#151E2C] rounded-md rounded-r-none bg-[#f0da69] py-2 px-3 text-sm">{{location_product.product.discount}}% OFF</span>
                                          </div>
                                    {% endif %}
                                    <div class="flex items-center justify-center h-20 w-20 bg-center bg-no-repeat bg-cover" style="background-image: url('{{location_product.product.product_all_images.0.image.url}}');">   </div>
                                    <div class="px-1 space-y-2 flex-1">
                                          <div class="text-[#FFFFFF] text-xs bg-[#F01275] max-w-max rounded-full px-2.5 py-[3px] line-clamp-1 outfit-font">{{location_product.product.store.name}}</div>
                                          <div class="h-16">
                                                <a class="cursor-pointer" href="{% url 'SingleMedicineViewPage' location_product.product.slug %}?selected_location={{location_product.location.id}}">
                                                      <h2 class="font-medium outfit-font line-clamp-2 text-[#151E2C]">{{location_product.product.name}}</h2>
                                                </a>
                                                <span class="text-xs outfit-font text-[#0555E9] flex gap-1">
                                                      <span class="whitespace-nowrap text-[11px] outfit-font text-[#0555E9] flex items-center gap-1" showdistance="{{location_product.location.lat}},{{location_product.location.lng}}">(317.95 Km)</span>
                                                </span>
                                          </div>
                                          <div class="flex items-center justify-between gap-2 !mt-4">
                                                <div class="bg-gradient-to-r from-[#05DC75] to-[#0755E9] p-[1px] rounded-full">
                                                      <div class="rounded-full max-w-max px-4 py-2.5 text-sm outfit-font text-[#151E2C] bg-white cursor-pointer whitespace-nowrap">
                                                            + Add to Cart
                                                      </div>
                                                </div>
                                                <div class="flex items-center gap-1">
                                                      {% if location_product.product.discount %}
                                                            <span class="text-sm text-[#3C3C3C]/60"><del>{{location_product.product.discounted_price}}</del></span>
                                                      {% endif %}
                                                      <p class="text-lg text-[#05D57C] outfit-font font-semibold italic flex items-center gap-1">
                                                            <span class="font-medium text-[#151E2C] text-xs">PKR</span>
                                                            {{location_product.product.final_price}}
                                                      </p>                          
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        {% endfor %}
                  </div>
            </div>
            <!-- after checkout popup -->
            <!-- <div class="w-[550px]">
                  <div class="rounded-[18px] bg-[#24D0D01A] items-center px-[15px] py-[50px] flex flex-col gap-1">
                        <h2 class="text-[#557DE5] text-[26px] font-semibold">Bringing Healing to Your Doorstep </h2>
                        <p class="text-[22px] font-medium text-[#24D0D0]">Fast, Reliable, and Convenient Medicine Delivery!</p>
                        <div class="mt-7">
                              {% include 'Components/SVG/Deliverd-Medicine-SVG.html' %}
                        </div>
                  </div>
            </div> -->
            <div class="w-[1150px]">
                  <div class="bg-[#24D0D01A] pl-[35px] py-[20px] flex gap-[50px]">
                        <li class="text-[18px] font-[700] text-[#24D0D0] list-none cursor-pointer">Product Description</li>
                        <li class="text-[18px] font-[700] text-[#8989B6] list-none cursor-pointer hover:text-[#24D0D0]">How to use</li>
                        <li class="text-[18px] font-[700] text-[#8989B6] list-none cursor-pointer hover:text-[#24D0D0]">Side Effects</li>
                        <li class="text-[18px] font-[700] text-[#8989B6] list-none cursor-pointer hover:text-[#24D0D0]">Pharmacy Details</li>
                        <li class="text-[18px] font-[700] text-[#8989B6] list-none cursor-pointer hover:text-[#24D0D0]">Reviews</li>
                  </div>
                  <h2 class="text-[18px] mt-[18px] font-semibold text-[#323232]">Description</h2>
                  <p class="mt-[5px] text-[#625A5A] text-[16px] mr-[30px]">
                  {{product.description}}
                  </p>
                  <h2 class="text-[18px] mt-[15px] font-semibold text-[#323232]">Reviews</h2>
                  <div class="flex flex-col gap-[10px]">
                        {% include 'Components/Pharmacy/MedicineReview.html' %}
                        {% include 'Components/Pharmacy/MedicineReview.html' %}
                        {% include 'Components/Pharmacy/MedicineReview.html' %}
                  </div>
            </div>
            <div class="mt-[50px]">
                  {% include 'Components/Pharmacy/HomeMedicineSection.html' with medicines=medicines %}
            </div>
      </section>
</main>

<script defer src="{% static 'assets/swiper/main_swiper.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      function totalshowPM() {
        let section = document.querySelector(".change-location-popup-main-BG");
        if (section) {
          section.classList.add("change-location-popup-main-BG-after");
        }
      }
      var total = document.querySelector(".change-location-btn");
      if (total) {
        total.addEventListener("click", totalshowPM);
      }
    })
    // 
    document.addEventListener('DOMContentLoaded', () => {
      function totalshowPM1() {
        let section = document.querySelector(".change-location-popup-main-BG");
        if (section) {
          section.classList.remove("change-location-popup-main-BG-after");
        }
      }
      var total = document.querySelector(".cancle-location-popup");
      if (total) {
        total.addEventListener("click", totalshowPM1);
      }
    })

//     
// 
// 

document.addEventListener('DOMContentLoaded', () => {
      function totalshowPM() {
        let section = document.querySelector(".change-location-popup-main-BG");
        if (section) {
          section.classList.add("change-location-popup-main-BG-after");
        }
      }
      var total = document.querySelector(".morebtn-before-location");
      if (total) {
        total.addEventListener("click", totalshowPM);
      }
    })
    // 
    document.addEventListener('DOMContentLoaded', () => {
      function totalshowPM1() {
        let section = document.querySelector(".change-location-popup-main-BG");
        if (section) {
          section.classList.remove("change-location-popup-main-BG-after");
        }
      }
      var total = document.querySelector(".cancle-location-popup");
      if (total) {
        total.addEventListener("click", totalshowPM1);
      }
    })

  </script>
{% endblock pharmacy_body %}