{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
    <script defer src="{% static 'assets/tailwind/tailwind.js' %}?version=1"></script>

    <style>
        
        .tree{
            width : 100%;
            transform: scale(0.7);
        }
        .tree ul {
            position: relative;
            padding: 1em 0;
            white-space: nowrap;
            margin: 0 auto;
            text-align: center;
        }
        .tree ul::after {
            content: '';
            display: table;
            clear: both;
        }
        .tree li {
            display: inline-block;
            vertical-align: top;
            text-align: center;
            list-style-type: none;
            position: relative;
            padding: 1em 0.5em 0 0.5em;
        }
        .tree li::before, .tree li::after {
            content: '';
            position: absolute;
            top: 0;
            right: 50%;
            border-top: 1px solid #ccc;
            width: 50%;
            height: 1em;
        }
        .tree li::after {
            right: auto;
            left: 50%;
            border-left: 1px solid #ccc;
        }
        .tree li:only-child::after, .tree li:only-child::before {
            display: none;
        }
        .tree li:only-child {
            padding-top: 0;
        }
        .tree li:first-child::before, .tree li:last-child::after {
            border: 0 none;
        }
        .tree li:last-child::before {
            border-right: 1px solid #ccc;
            border-radius: 0 5px 0 0;
        }
        .tree li:first-child::after {
            border-radius: 5px 0 0 0;
        }
        .tree ul ul::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            border-left: 1px solid #ccc;
            width: 0;
            height: 1em;
        }
        .tree li a {
            border: 1px solid #ccc;
            padding: 0.5em 0.75em;
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
            color: #333;
            position: relative;
            top: 1px;
        }
        .tree li a:hover, .tree li a:hover + ul li a {
            background: #0755e9;
            color: #fff !important;
            border: 1px solid #0755e9;
        }
        .tree li a:hover + ul li::after, .tree li a:hover + ul li::before, .tree li a:hover + ul::before, .tree li a:hover + ul ul::before {
            border-color: #0755e9;
        }
        
    </style>

    <section>
        <div class="text-[#7B7B7B] flex flex-wrap gap-2">
            {% for breadcrumb in breadcrumbs %}
                <a href="{{breadcrumb.url}}" class="cursor-pointer">{{breadcrumb.name}}</a>{% if not forloop.last %} &gt; {% endif %}
            {% endfor %}
        </div>
        <div class="tree">
            <ul>
                {% include 'CustomAdminTemplates/OrganizationCard.html' with role=FirstRole %}
            </ul>
        </div>
    </section>
    
{% endblock content %}