{% extends 'Components/Base.html' %}
{% load static %}
{% block title %}{{DoctorsCount}} Doctors | Discover Top-Searched Doctors Available Near You, Anytime You Need!{% endblock title %}
{% block BaseCSS %}

    <link rel="stylesheet" href="{% static 'assets/css/Search/searchfilterpage.css' %}">

    <style>
        input.TopFilter:checked ~ label{
            border-color: #0755E9;
        }
        input.TopFilter[FilterChecked]:checked ~ label{
            background-color: #0755E9 !important;
            color: white;
            border-color: white;
            position: relative;
            padding-right: 25px;
        }
        input.TopFilter[FilterChecked]:checked ~ label::after{
            position: absolute;
            content: "x";
            right: 10px;
            top: 50%;
            margin: 0;
            padding: 0;
            transform: translateY(-50%);
            color: white;
        }
    </style>

{% endblock BaseCSS %}
{% block baseBody %}

<main class="px-4 sm:px-6 md:px-8 border-t pb-8 sm:pb-10 md:pb-12 space-y-10 py-4 bg-[#F9F9F9]">
    <form class="max-w-[1300px] mx-auto space-y-10">
        <div class="max-w-[900px] mx-auto mt-4 bg-white border rounded-lg px-3 py-2">
            <input class="h-full outline-none text-[#151E2C] placeholder-[#151921] text-xs sm:text-[15px] px-2 flex-1 w-full outfit-font font-[300]" value="{{request.GET.query}}" placeholder="Explore Medical Professionals, Hospitals, Medications, and Pharmacies" type="search" name="query" ></input>
        </div>
        <div class="space-y-4">
            <h3 class="bg-clip-text text-transparent bg-gradient-to-r from-[#0755E9] to-[#05DC75] text-3xl md:text-4xl font-extrabold max-w-max">Checkout our advance filters</h3>
            <div class="flex items-center gap-[8px] flex-wrap">
                <div><input type="radio" id="doctor_gender_male" name="doctor_gender" class="TopFilter hidden" value="MALE" {% if request.GET.doctor_gender == 'MALE' %}checked FilterChecked{% endif %} /> <label for="doctor_gender_male" class="bg-white cursor-pointer px-3 py-2 rounded-full border border-[#CACBE6] text-sm text-[#151E2C] outfit-font">Male</label></div>
                <div><input type="radio" id="doctor_gender_female" name="doctor_gender" class="TopFilter hidden" value="FEMALE" {% if request.GET.doctor_gender == 'FEMALE' %}checked FilterChecked{% endif %} /> <label for="doctor_gender_female" class="bg-white cursor-pointer px-3 py-2 rounded-full border border-[#CACBE6] text-sm text-[#151E2C] outfit-font">Female</label></div>
                <div><input type="checkbox" id="available_today" name="available_today" class="TopFilter hidden" value="true" {% if request.GET.available_today %}checked FilterChecked{% endif %} /> <label for="available_today" class="bg-white cursor-pointer px-3 py-2 rounded-full border border-[#CACBE6] text-sm text-[#151E2C] outfit-font">Available Today</label></div>
                <div><input type="checkbox" id="available_online" name="available_online" class="TopFilter hidden" value="true" {% if request.GET.available_online %}checked FilterChecked{% endif %} /> <label for="available_online" class="bg-white cursor-pointer px-3 py-2 rounded-full border border-[#CACBE6] text-sm text-[#151E2C] outfit-font">Available Online</label></div>
                <div><input type="checkbox" id="video_consultaion" name="video_consultaion" class="TopFilter hidden" value="true" {% if request.GET.video_consultaion %}checked FilterChecked{% endif %} /> <label for="video_consultaion" class="bg-white cursor-pointer px-3 py-2 rounded-full border border-[#CACBE6] text-sm text-[#151E2C] outfit-font">Video Consultation</label></div>
                <div><input type="checkbox" id="lowest_fee" name="lowest_fee" class="TopFilter hidden" value="true" {% if request.GET.lowest_fee %}checked FilterChecked{% endif %} /> <label for="lowest_fee" class="bg-white cursor-pointer px-3 py-2 rounded-full border border-[#CACBE6] text-sm text-[#151E2C] outfit-font">Lowest Rates</label></div>
                <div><input type="checkbox" id="most_experienced" name="most_experienced" class="TopFilter hidden" value="true" {% if request.GET.most_experienced %}checked FilterChecked{% endif %} /> <label for="most_experienced" class="bg-white cursor-pointer px-3 py-2 rounded-full border border-[#CACBE6] text-sm text-[#151E2C] outfit-font">Most Experienced</label></div>
                <div><input type="checkbox" id="most_reviews" name="most_reviews" class="TopFilter hidden" value="true" {% if request.GET.most_reviews %}checked FilterChecked{% endif %} /> <label for="most_reviews" class="bg-white cursor-pointer px-3 py-2 rounded-full border border-[#CACBE6] text-sm text-[#151E2C] outfit-font">Most Reviews</label></div>
                <div><input type="checkbox" id="highest_rating" name="highest_rating" class="TopFilter hidden" value="true" {% if request.GET.highest_rating %}checked FilterChecked{% endif %} /> <label for="highest_rating" class="bg-white cursor-pointer px-3 py-2 rounded-full border border-[#CACBE6] text-sm text-[#151E2C] outfit-font">Highest Rating</label></div>
                <button class="rounded-full text-white text-sm outfit-font bg-gradient-to-r from-[#0755E9] to-[#05DC75] py-2 px-4">
                    Apply Filter
                </button>
            </div>
        </div>
        <div class="flex items-start gap-4">
            <div class="hidden lg:block min-w-[300px] max-w-[320px] w-full rounded-xl bg-white border border-[#0000001A] p-3 space-y-7 sticky top-[130px]">
                <div class="flex items-center justify-between">
                    <h4 class="text-[#151E2C] text-[20px] outfit-font font-semibold">Filter</h4>
                    <a href="?" class="underline text-sm text-[#3C3C3C] outfit-font font-medium">
                        Clear All
                    </a>
                </div>
                <div>
                    <div>
                        <h3 class="text-[#000] font-semibold">Specialities</h3>
                        <div class="pl-2 mt-2">
                            {% for speciality in specialities|slice:":10" %}
                                <div class="">
                                    <input type="checkbox" name="speciality" {% if speciality.slug in searchedSpecialities %}checked{% endif%} value="{{speciality.slug}}" id="speciality-{{speciality.id}}" class="mr-1">
                                    <label for="speciality-{{speciality.id}}" class="text-[#514B81] cursor-pointer select-none outfit-font font-[300]">{{speciality.name}}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mb-3">
                        <h3 class="text-[#000] font-semibold">Top Hospitals</h3>
                        <div class="pl-2 mt-2">
                            {% for d_hospital in hospitals %}
                                <div>
                                    <input type="checkbox" name="hospital" value="{{d_hospital.slug}}" {% if d_hospital.slug in searchedHospitals %}checked{% endif%} id="hospital-{{d_hospital.id}}" class="mr-1">
                                    <label for="hospital-{{d_hospital.id}}" class="text-[#514B81] cursor-pointer select-none outfit-font font-[300]">{{d_hospital.name}}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="mt-4 rounded-lg flex items-center justify-center w-full text-white text-sm outfit-font bg-gradient-to-r from-[#0755E9] to-[#05DC75] py-2.5">
                        Apply Filter
                    </button>
                </div>
            </div>
            <div class="space-y-7 flex-1 overflow-hidden">
                <div class="space-y-2">
                    <h1 class="text-xl sm:text-2xl text-[#151E2C] outfit-font font-semibold leading-tight">Discover Top-Searched Doctors Available <span class="text-[#0755E9]">Near You</span>, Anytime You Need!</h1>
                    <p class="text-xs sm:text-sm text-[#3C3C3C] outfit-font">Find trusted, highly-rated Doctors & Hospitals at your convenience, tailored to your disease and location.</p>
                </div>
                <!-- <h3 class="text-[#3C3C3C] text-center font-medium w-full text-sm">{{ DoctorsCount }} results for your search</h3> -->
                {% if doctors|length > 0 %}
                    {% for doctor in doctors %}
                        {% if forloop.counter == 5 %}
                            <div class="max-w-[500px] mx-auto w-full">
                                {% include 'Components/Ad/GoogleAd/SearchFilterPage/fifthIndexHorizontalAd.html' %}
                            </div>
                        {% endif %}
                        {% include 'Components/Doctor/Cards/DoctorSearchCard.html' %}
                    {% endfor %}
                    <button class="border border-dashed w-full text-center py-2 px-3 bg-blue-50 text-blue-600 border-blue-500 cursor-pointer outfit-font text-[18px] rounded-xl">Load More</button>
                {% else %}
                    <div class="w-full border outfit-font border-dashed text-center py-5 px-5 bg-blue-50 border-blue-500 rounded-xl">
                        <p class="text-blue-600 text-lg">No Doctors Found in this search</p>
                        <p class="text-gray-600 text-sm">Try another filter</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
</main>
{% endblock baseBody %}

{% block main_base_script %}

    <script>
        let SpecialitiesInput = document.getElementById('SpecialitiesInput');
        value = true;

        function specialities_drop() {
            let specialities_drop_svg = document.querySelector('.specialities_drop_svg');
            let specialities_drop_div = document.querySelector('.specialities_drop_div');

            if (value === true) {
                specialities_drop_svg.classList.add('rotate-180');
                specialities_drop_div.classList.add('!block');
                SpecialitiesInput.classList.add('!border-[#23d0d0]');
                value = false;
            }else{
                specialities_drop_svg.classList.remove('rotate-180');
                specialities_drop_div.classList.remove('!block');
                SpecialitiesInput.classList.remove('!border-[#23d0d0]');
                value = true;
            }
        }

        function handleGenderClick(element) {
            handleFilterSelect(event)
        }

        const handleFilterSelect = (e) => {
            let MainFilterForm = document.querySelector('[MainFilterForm]')
            MainFilterForm.submit()
        }

    </script>

{% endblock main_base_script %}