<a href="{{base_link}}{{data.slug}}" class="flex items-center group w-full">
    <li class="!px-1 !py-1 w-full mx-0 !mr-0">
        <div class="flex items-center gap-2 w-full">
            <div class="bg-[{{color}}25] transition-all nav-item-svg-parent-div rounded-md p-1 cursor-pointor w-[33px] h-[33px] flex items-center justify-center">
                {{icon|safe}}
            </div>
            <span class="!text-[16px] font-[500]" style="white-space: nowrap; " >{{name}}</span>
        </div>
    </li>
</a>