{% load static %}

<div class="gap-5 rounded-[20px] relative bg-white border border-[#CACBE6] w-full px-4 py-3 space-y-2">
  <a href="/doctor/profile/view/{{doctor.slug}}" class="outfit-font text-[#151E2C] capitalize text-[18px] sm:text-[24px] font-semibold tracking-wide cursor-pointer line-clamp-1">
    Dr. {{doctor.name}}
  </a>
  <a href="/doctor/profile/view/{{doctor.slug}}" class="flex items-start gap-4">
    <div class="size-[70px] sm:size-[90px] rounded-full relative cursor-pointer bg-center border-[0.5px] border-[#3C3C3C] bg-cover bg-no-repeat" style="background-image: url('{{doctor.profile_image}}');">
      <span class="absolute size-6 bg-[#0755E9] rounded-full flex items-center justify-center right-0 bottom-0">
        <svg class="fill-white size-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M0 128C0 92.7 28.7 64 64 64l256 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2l0 256c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1l0-17.1 0-128 0-17.1 14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"/></svg>
      </span>
    </div>
    <div class="flex-1 space-y-1">
      {% with reviews_rating=doctor.reviews_rating %}
        {% include 'Components/Ratings.html' with rating=reviews_rating.0 reviews=reviews_rating.1 %}
      {% endwith %}
      {% with is_available_today=doctor.is_available_today %}
        <p class="text-[#0755E9] !mt-0 text-xs sm:text-[13px] {% if is_available_today %}line-clamp-1{% else %}line-clamp-2{% endif %}">
          {{doctor.heading}}
        </p>
        {% if is_available_today %}
          <p class="rounded-[8px] py-2 px-3 bg-[#CDF8E3] text-[#009455] text-[12px] max-w-max">Available Today</p>
        {% endif %}
      {% endwith %}
    </div>
  </a>
  {% with doct_availability=doctor.doctor_card_availability %}
    <div>
      <p class="text-[#0A1C4B] text-xs sm:text-sm outfit-font text-[#3C3C3C] {% if doct_availability.slots|length == 0 %}line-clamp-4{% elif doct_availability.slots|length >= 3 %}line-clamp-2{% else %}line-clamp-4{% endif %}">
        {{doctor.desc}}
      </p>
    </div>
    <div class="border-t border-[#D3D3D3] pt-[14px]">
      <div class="flex items-center justify-between gap-2">
        <p class="outfit-font font-semibold text-xs sm:text-[16px] text-[#151E2C]">{{doct_availability.date}}</p>
        <p class="font-bold italic text-sm sm:text-[18px] text-[#151E2C]">Rs.{{doct_availability.fee}}</p>
      </div>
      <div class="grid grid-cols-4 sm:grid-cols-3 gap-1 sm:gap-2 mt-[8px] sm:mt-[12px]">
        {% for slot in doct_availability.slots|slice:":4" %}
          <div class="rounded-full bg-[#0755E9] cursor-pointer">
            <p class="font-semibold text-white text-center text-xs sm:text-[16px] px-1 py-2">{{slot.1}}</p>
          </div>
        {% endfor %}
        <a href="/doctor/profile/view/{{doctor.slug}}" class="hidden sm:block rounded-full border-[1.5px] border-[#0755E9] bg-[#F3F6FE] cursor-pointer {% if doct_availability.slots|length == 1 or doct_availability.slots|length >= 4 or doct_availability.slots|length == 3 %}col-span-2{% endif %}">
          <p class="font-semibold text-[#0755E9] text-center text-xs sm:text-[16px] px-1 py-1.5">More Times</p>
        </a>
      </div>
    </div>
  {% endwith %}
</div>