{% load static %}

<div class="gap-5 rounded-[20px] relative bg-white border border-[#CACBE6] max-w-[360px] w-full px-5 py-3 space-y-2">
  <a href="/doctor/profile/view/{{doctor.slug}}" class="outfit-font text-[#151E2C] capitalize text-[24px] font-semibold tracking-wide cursor-pointer line-clamp-1">
    Dr. {{doctor.name}}
  </a>
  <div class="flex items-start gap-4">
    <div class="size-[90px] rounded-full relative cursor-pointer bg-center border-[0.5px] border-[#3C3C3C] bg-cover bg-no-repeat" style="background-image: url('{% if doctor.profile_image %}{{doctor.profile_image}}{% endif %}');">
      <span class="absolute size-6 bg-[#0755E9] rounded-full flex items-center justify-center right-0 bottom-0">
        <svg class="fill-white size-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M0 128C0 92.7 28.7 64 64 64l256 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2l0 256c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1l0-17.1 0-128 0-17.1 14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"/></svg>
      </span>
    </div>
    <div class="flex-1 space-y-1">
      {% include 'Components/Ratings.html' with rating=2 reviews=21 %}
      <p class="text-[#0755E9] line-clamp-1 !mt-0 text-[13px]">
        {{doctor.heading}}
      </p>
      {% if doctor.is_available_today %}
        <p class="rounded-[8px] py-2 px-3 bg-[#CDF8E3] text-[#009455] text-[12px] max-w-max">Available Today</p>
      {% endif %}
      <!-- <div class="flex items-center gap-3">
        {% if doctor.fee_range %}
          <p class="whitespace-nowrap">Rs. <span class="text-lg font-bold text-blue-500 italic">{{doctor.fee_range.0}}</span>{% if doctor.fee_range.1 > doctor.fee_range.0 %} - <span class="text-[18px] font-bold text-blue-500 italic">{{doctor.fee_range.1}}</span>{% endif %}</p>
        {% endif %}
      </div> -->
    </div>
  </div>
  {% with doct_availability=doctor.doctor_card_availability %}
  <div>
    <p class="text-[#0A1C4B] text-sm text-[14px] text-[#3C3C3C] {% if doct_availability.slots|length == 0 %}line-clamp-5{% elif doct_availability.slots|length > 3 %}line-clamp-2{% else %}line-clamp-4{% endif %}">
      {{doctor.desc}}
    </p>
  </div>
  <!-- {{doct_availability}} -->
    <div class="border-t border-[#D3D3D3] pt-[14px]">
      <div class="flex items-center justify-between gap-2">
        <p class="outfit-font font-semibold text-[16px] text-[#151E2C]">{{doct_availability.date}}</p>
        <p class="font-bold italic text-[18px] text-[#151E2C]">{{doct_availability.fee}} PKR</p>
      </div>
      <div class="grid grid-cols-3 gap-2 mt-[5px]">
        {% for slot in doct_availability.slots %}
          <div class="rounded-full bg-[#0755E9] cursor-pointer">
            <p class="font-semibold text-white text-center text-[16px] px-1 py-2">{{slot.1}}</p>
          </div>
        {% endfor %}
        <a href="/doctor/profile/view/{{doctor.slug}}" class="rounded-full border-[2px] border-[#0755E9] bg-[#F3F6FE] cursor-pointer {% if doct_availability.slots|length == 1 or doct_availability.slots|length == 4 %}col-span-2{% endif %}">
          <p class="font-semibold text-[#0755E9] text-center text-[16px] px-1 py-2">More Times</p>
        </a>
      </div>
    </div>
  {% endwith %}
  <!-- <div class="flex flex-wrap gap-1.5 mt-5">
    {% for speciality in doctor.get_specialities|slice:':4' %}
        <a href="{% url 'SingleSpecialityPage' speciality_slug=speciality.slug %}?source=DoctorProfileCard&doctor_uri={{doctor.slug}}" class=" cursor-pointer flex items-center gap-2 hover:bg-[{{speciality.color_code}}10] py-[5px] px-2 border border-[#C9C9C9] rounded-[7px] hover:border-[{{speciality.color_code}}]">
          <span class="flex items-center justify-center h-[20px] w-[20px] ">
            {{speciality.svg_icon|safe}}
          </span>
          <span class="whitespace-nowrap text-[#0A1C4B] text-xs font-regular tracking-normal transition-all">
              {{speciality.name}}
          </span>
        </a>
    {% endfor %}
    {% if doctor.get_specialities|length > 4 %}
        <div class="cursor-pointer py-1 px-4 text-sm font-regular text-[#23d0d0] hover:text-white hover:bg-[#23d0d0] border border-[#23d0d0] transition-all tracking-normal rounded-lg border-solid">
            +{{doctor.get_specialities|length|add:"-4" }} more
        </div>
    {% endif %}
    <a href="/doctor/profile/view/{{doctor.slug}}#AvailableForOnlineVideoConsultation" class="cursor-pointer py-1 px-4 text-sm font-regular text-white flex items-center justify-center tracking-normal rounded-md bg-[#23d0d0]">
      Consult Online
    </a>
  </div> -->
  <!-- <div class="py-3 px-5 flex items-center justify-between">
    <div class="flex items-center gap-1">
      <p class="text-[#8ca5c9] text-sm font-medium capitalize">satisfaction</p>
      <p class="text-[#23d0d0] text-base font-semibold {% if doctor.get_doctor_rating_percentage > 80 %}text-green-600{% elif doctor.get_doctor_rating_percentage > 50 %}text-yellow-600{% else %}text-red-600{% endif %}">{{doctor.get_doctor_rating_percentage}}%</p>
    </div>
    {% if doctor.is_available_today %}
      <p class="font-semibold group-hover:text-white"><span class="inline-flex items-center gap-2 text-green-600"><span class="inline-flex items-center justify-center w-[8px] h-[8px] bg-green-600 rounded-full relative"><span class="absolute inline-block size-3 bg-green-600 rounded-full animate-ping"></span></span>Available Today</span></p>
    {% else %}
      <a href="/doctor/profile/view/{{doctor.slug}}">
        <div>
          <p class="text-[#8ca5c9] text-sm font-medium cursor-pointer">
            Find another slot
          </p>
        </div>
      </a>
    {% endif %}
  </div> -->
</div>