

<div class="bg-[#21262D] relative w-full h-[600px] rounded-3xl mt-8 flex items-center justify-center hidden">
      <p class="text-white font-medium text-3xl absolute top-10 left-10">Get Registerd</p>
      <div class="flex items-start gap-11 relative ">
            <div class="bg-[#42474D] relative p-4 rounded-xl flex-1 flex items-center justify-between gap-7 md:min-w-[400px] w-full">
                  <div class="absolute top-1/2 right-0 z-[23] transform translate-x-[90%] -translate-y-[50%] ">
                        <svg width="54" height="10" viewBox="0 0 54 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M4 5L48 5" stroke="white" stroke-width="2"/>
                              <circle cx="5" cy="5" r="5" fill="#747678" fill-opacity="0.5"/>
                              <circle cx="5" cy="5" r="3.75" fill="#747678"/>
                              <circle cx="49" cy="5" r="5" fill="#747678" fill-opacity="0.5"/>
                              <circle cx="49" cy="5" r="3.75" fill="#747678"/>
                        </svg>
                  </div>
                  <div class="flex items-center gap-2 ">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="12.5" cy="12.5" r="12.5" fill="#24D0D0"/>
                              <path d="M8 12.619L11.1667 15.7857L17.5 9" fill="#24D0D0"/>
                              <path d="M8 12.619L11.1667 15.7857L17.5 9" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <p class=" whitespace-nowrap text-white font-semibold">Single Account</p>
                  </div>
                  <a href="{% if request.user.is_authenticated %}#{% else %}{% url 'RegisterPage' %}{% endif %}" class="bg-[#21262D] py-2 px-3  rounded-lg border border-[#CCBBBB] cursor-pointer">
                        <!-- <p class="text-[#CCBBBB] whitespace-nowrap text-sm">Register Now</p> -->
                        <p class="text-[#CCBBBB] whitespace-nowrap text-sm">{% if request.user.is_authenticated %}{{request.user.first_name}} {{request.user.last_name}}{% else %}Register Now{% endif %}</p>
                  </a>
            </div>
            <div class="flex-1 bg-[#42474D] p-6 rounded-xl relative ">
                  <div class="absolute bg-[#42474D] py-4 px-8 rounded-lg  top-[-40px] left-0">
                        <p class="text-white whitespace-nowrap ">Register As</p>
                  </div>
                  <div class="flex flex-col gap-3 ">
                        <div class="flex-1 flex items-center justify-between gap-20 mb-4">
                              <div class="flex items-center gap-2 ">
                                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <circle cx="12.5" cy="12.5" r="12.5" fill="#24D0D0"/>
                                          <path d="M8 12.619L11.1667 15.7857L17.5 9" fill="#24D0D0"/>
                                          <path d="M8 12.619L11.1667 15.7857L17.5 9" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <p class=" whitespace-nowrap font-[400] text-gray-200">Register As <span class="font-semibold text-white">Doctor</span></p>
                              </div>
                              <a href="{% url 'CreateNewBusinessProfileRedirection' %}" class="bg-[#21262D] py-2 px-3  rounded-lg border border-[#CCBBBB] cursor-pointer">
                                    <p class="text-[#CCBBBB] whitespace-nowrap text-sm">Let’s Start</p>
                              </a>
                        </div>
                  </div>
                  <div class="flex-1 flex items-center justify-between gap-20 mb-4">
                        <div class="flex items-center gap-2 ">
                              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12.5" cy="12.5" r="12.5" fill="#24D0D0"/>
                                    <path d="M8 12.619L11.1667 15.7857L17.5 9" fill="#24D0D0"/>
                                    <path d="M8 12.619L11.1667 15.7857L17.5 9" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                              <p class=" whitespace-nowrap font-[400] text-gray-200">Register As <span class="font-semibold text-white">Hospital</span></p>
                        </div>
                        <a href="{% url 'CreateNewBusinessProfileRedirection' %}" class="bg-[#21262D] py-2 px-3  rounded-lg border border-[#CCBBBB] cursor-pointer">
                              <p class="text-[#CCBBBB] whitespace-nowrap text-sm">Health Connects</p>
                        </a>
                  </div>
                  <div class="flex-1 flex items-center justify-between gap-20">
                        <div class="flex items-center gap-2">
                              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12.5" cy="12.5" r="12.5" fill="#24D0D0"/>
                                    <path d="M8 12.619L11.1667 15.7857L17.5 9" fill="#24D0D0"/>
                                    <path d="M8 12.619L11.1667 15.7857L17.5 9" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                              <p class=" whitespace-nowrap font-[400] text-gray-200">Register As <span class="font-semibold text-white">Pharmacy</span></p>
                        </div>
                        <a href="{% url 'CreateNewBusinessProfileRedirection' %}" class="bg-[#21262D] py-2 px-3  rounded-lg border border-[#CCBBBB] cursor-pointer">
                              <p class="text-[#CCBBBB] whitespace-nowrap text-sm">Embrace Growth</p>
                        </a>
                  </div>
            </div>
      </div>
</div>