<div class="flex-1 border rounded-xl !max-w-[350px] !sm:max-w-[385px] sm:pt-4">
      <div class="p-4">
            <div class="flex items-center gap-2">
                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.40909 13.9091V9.27273H11.5909V13.9091H13.9091V1.54545H3.09091V13.9091H5.40909ZM6.95455 13.9091H10.0455V10.8182H6.95455V13.9091ZM15.4545 13.9091H17V15.4545H0V13.9091H1.54545V0.772727C1.54545 0.567787 1.62687 0.371241 1.77178 0.226327C1.9167 0.0814121 2.11324 0 2.31818 0H14.6818C14.8868 0 15.0833 0.0814121 15.2282 0.226327C15.3731 0.371241 15.4545 0.567787 15.4545 0.772727V13.9091ZM7.72727 4.63636V3.09091H9.27273V4.63636H10.8182V6.18182H9.27273V7.72727H7.72727V6.18182H6.18182V4.63636H7.72727Z"
                              fill="#656565" />
                  </svg>
                  <p class="text-[#656565] text-[17px] sm:text-xl font-[600]">National hospital Dha Islamabad</p>
            </div>
            <div class="flex items-center justify-between">
                  <div>
                        <p class="text-[#24D0D0] font-[400] leading-5 sm:leading-5 text-sm sm:text-lg">“Antenatal Care”, “Contraception”, <br> “Endometriosis”</p>
                  </div>
                  <div class="flex flex-col items-end">
                        <p class="text-[#02565B] text-[16px] sm:text-[18px] leading-4 sm:leading-5">Flat</p>
                        <div class="flex items-center leading-6">
                              <span class="text-[#000000] text-[28px] sm:text-[40px] font-[800]">20</span>
                              <span class="text-[#4E4E4E] text-[20px] sm:text-[26px] font-[600]">%</span>
                        </div>
                        <div class="text-[#4E4E4E] text-sm sm:text-[18px] leading-4">OFF</div>
                        <div class="text-[#000000] flex items-center text-[12px] sm:text-[13px] gap-[3px] leading-3">
                              PKR <span class="text-[#0166FF] text-sm sm:text-sm font-[600]">3000</span>
                        </div>
                  </div>
            </div>
      </div>
      <hr>
      <div class="px-4 py-[14px] sm:py-4 flex items-center justify-between">
            <p class="text-[#656565] font-medium">Gynecologist</p>
            <div class="flex items-center gap-2">
                  <p class="text-[#24D0D0] font-[600]">Book Appointment</p>
                  <svg width="6" height="9" viewBox="0 0 6 9" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.18359 1.1072C0.972648 1.27596 0.938447 1.58376 1.1072 1.7947L3.47144 4.75L1.1072 7.7053C0.938447 7.91624 0.972648 8.22405 1.18359 8.3928C1.39453 8.56155 1.70234 8.52735 1.87109 8.31641L4.47977 5.05556C4.62268 4.87692 4.62268 4.62308 4.47977 4.44444L1.87109 1.18359C1.70234 0.972648 1.39453 0.938447 1.18359 1.1072Z"
                              fill="#24D0D0" stroke="#24D0D0" stroke-linecap="round"
                              stroke-linejoin="round" />
                  </svg>


            </div>
      </div>
</div>