{% extends 'Components/Base.html' %}
{% load static %}
{% block title %}Comprehensive Doctor Specialties Directory: Find the Right Expert for Your Healthcare Needs{% endblock title %}


{% block baseBody %}
      <div class="py-6 sm:py-10">
            <div class="max-w-[800px] mx-auto flex flex-col gap-2">
            <h3 class="text-center text-[#557DE5] text-[22px] sm:leading-9 md:leading-10 sm:text-[28px] md:text-4xl font-semibold ">Discover a Diverse Range of Doctor Specialties to Meet Your Unique Healthcare Requirements.</h3>
            <p class="text-center text-[#797979] text-sm sm:text-[16px] md:text-[18px] lg:text-xl font-light">From Cardiology to Dermatology, Neurology to Pediatrics - Uncover a Wide Array of Doctor Specialties for Comprehensive Healthcare.</p>
            </div>
                  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-3 !mt-8 speciality-cards-main-TC max-w-[1500px] mx-auto mt-4 px-4 md:px-5">
            {% for speciality in specialities %}
                  {% include 'Components/Home/SpecialityCard.html' with data=speciality is_this_speciality_card='true' %}
            {% endfor %}
      </div>
      </div>
{% endblock baseBody %}
