

.tc-custom-scroll::-webkit-scrollbar{
    width: 8px;
}
.tc-custom-scroll::-webkit-scrollbar-track{
    /* background-color: gray; */
    background-color: var(--black);
}
.tc-custom-scroll::-webkit-scrollbar-thumb{
    border-radius: 14px;
    background-color: #24D0D0;
    background-clip: border-box;
}


input[type='checkbox']{
    accent-color: #24D0D0 !important;
}

.flex-0{
    flex: 0 !important;
}

.tc-loader{
    position: fixed;
    top: 0;
    z-index: 1000 !important;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0A1C4B;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tc-loader .tc-loader-spinner-outer{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.align-items{
    align-items: center;
}
.justify{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}

.blue{
    color:rgba(10, 28, 75, 1);
}
.px17{
    font-size: 17px;
}


.max-w-598px{
    max-width: 598px;
}

.w-full{
    width: 100%;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.bg-white{
    background-color: white;
}

.relative {
    position: relative;
}


.ml-5px{
    margin-left: 5px;
}


.text-tc-blue{
    color: #557DE5;
}

.cursor-pointer{
    cursor: pointer;
}

/*  */
/*  */
/*  */
/*  */

.Chinook-img{
    background: url('https://source.unsplash.com/random/400×400/?doctor');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}


.tc-border-1px{
    border: 1px solid #A9B8CB;
}

.input-tc-form-field:hover{
    border-color: #6AA7BF;
}


.input-tc-form-field:focus,
.input-tc-form-field:not(:placeholder-shown){
    border-color: #24D0D0;
}
/* #24D0D0 */

.input-tc-form-field:hover ~ .input-field-icon-seperator{
    background-color: #6AA7BF;
}
.input-tc-form-field:focus ~ .input-field-icon-seperator,
.input-tc-form-field:not(:placeholder-shown) ~ .input-field-icon-seperator{
    background-color: #24D0D0;
}
.input-tc-form-field:focus ~ .input-tc-field-svg-icon path,
.input-tc-form-field:not(:placeholder-shown) ~ .input-tc-field-svg-icon path{
    fill: #24D0D0;
}
.input-tc-form-field:focus ~ .input-tc-field-label,
.input-tc-form-field:not(:placeholder-shown) ~ .input-tc-field-label{
    color: #24D0D0 ;
    top: 0;
    font-size: 14px;
}


.tc-shadow{
    box-shadow: 0px 0px 52px #e8e8e8ce;
}

.form-field{
    margin-bottom: 20px;
}


.form-field .form-input-label{
    color: #6d8cba;
    margin-bottom: 6px;
    display: block;
    font-size: 14px;
}

.form-field .dropdown-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #23d0d050;
    border-radius: 8px;
    padding: 16px 20px;
    outline: none;
    font-size: 15px;
    color: #6c747e;
    border: 1.4px solid #23d0d010;
    position: relative;
}

.form-field .dropdown-field input{
    background-color: transparent;
    flex: 1;
    outline: none;
    border: 0;
    font-size: 15px;
    color: #6c747e;
}

.form-field .dropdown-field .dropwdown-arrow{
    margin-left: 5px;
    transform: rotate(180deg);
    transition: all 300ms;
}

.form-field .dropdown-field input:focus ~ .dropwdown-arrow{
    transform: rotate(0deg);

}


.form-field .dropdown-data{
    position: absolute;
    width: 100%;
    padding: 10px;
    border: 1px solid #e6ecf6;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateY(10px);
    border-radius: 10px;
    background-color: white;
    z-index: 10;
}
.form-field .dropdown-data .dropdown-items{
    width: 100%;
    border-radius: 7px;
    border: 1px solid transparent;
    transition: all 300ms;
    cursor: pointer;
    color: black;
}
.form-field .dropdown-data .dropdown-search-field{
    margin-bottom: 10px;
    border: 1px solid #e6ecf6;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.form-field .dropdown-data .dropdown-search-field input{
    flex: 1;
    margin-left: 10px;
    outline: none;
}

.form-field .dropdown-data .dropdown-items:not(:last-child){
    margin-bottom: 5px;
}

.form-field .dropdown-data .dropdown-items:hover{
    border-color: #23d0d0;
    background-color: #23d0d010;
}

.form-field .form-input{
    display: block ;
    width: 100%;
    background-color: #23d0d010;
    border-radius: 8px;
    padding: 16px 20px;
    outline: none;
    font-size: 15px;
    color: #3a3e42;
    border: 1.4px solid #23d0d010;
    letter-spacing: 2px;
}
.form-field .form-input::placeholder{
    letter-spacing: 0px;
}


.form-field .error[error-border-element]{
    border: 1.4px solid #23d0d010;
}

.form-field .form-input.error,
.form-field .error[error-border-element]
{
    border-radius: 8px;
    color: #6c747e;
    border-color: #f25b52;
    background-color: #f25a5220;
    color: #d64139;
}

.form-field .phone-number-field-outer{
    border-radius: 8px;
    color: #6c747e;
    background-color: #23d0d010;
    display: flex;
    padding: 16px 20px;
    position: relative;
}
.form-field .phone-number-field-outer .dial-code-field-outer{
    display: flex;
    align-items: center;
    gap: 5px;
}
.form-field .phone-number-field-outer:focus-within{
    border-color: #23d0d0;
}

.form-field .phone-number-field-outer .dial-code-field-outer .arrow{
    transform: rotate(180deg);
}
.form-field .phone-number-field-outer .number-field{
    letter-spacing: 2px;
    margin-left: 10px;
}
.form-field .phone-number-field-outer .number-field::placeholder{
    letter-spacing: 0px;
}

.form-field input{
    outline: none;
    flex: 1;
    background-color: transparent;
}

.form-field input::placeholder,
.dummy-placeholder,
.dropdown-not-item-found{
    color: #9ab2d2;
    font-size: 15px;
}

.form-field .error-message{
    font-size: 12px;
    text-align: right;
    margin-top: 5px;
    color: #d64139;
}

.form-button button{
    color: white;
    background-color: #23d0d0;
    text-align: center;
    padding: 18px;
    display: block;
    width: 100%;
    border: 0;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.form-button.icon-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-button.icon-btn button .icon{
    margin-left: 5px;
}

.rounded-10px{
    border-radius: 10px;
}

.dropdown-not-item-found{
    display: none;
}

.dropdown-data:not(:has(.dropdown-items:not(.hidden))) .dropdown-not-item-found{
    display: flex;

}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    display: none !important;
}


.line-clamp-1{
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
}
.line-clamp-2{
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
}
.line-clamp-3{
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 3 !important;
}
.line-clamp-4{
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 4 !important;
}
.line-clamp-5{
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 5 !important;
}

.single-speciality-detail-page-svg-parent svg{
    width: 80px;
    height: 80px;
}
.single-speciality-detail-page-svg-parent svg path{
    fill: white;
}

.rating_star_svg path{
    fill : #FEB546
}
.rating_star_svg:hover ~ .rating_star_svg path{
    fill : #A7A7A7
}


















/*  */
/* Real Utlity Classes */
/*  */


.boxshadow{
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.25);
}

.second_shadow{
    box-shadow: 0px 15px 20px rgba(172, 170, 170, 0.822);
}


.gradient_text{
    /* background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44) !important; */
    /* background: linear-gradient(to right, #30CFD0 0%, #330867 100%); */
    /* background: linear-gradient(35deg, #FFF800, #FF1361, #44107A, #231557); */

    /* background: linear-gradient(to bottom right, #EE0979, #3926AD); */
    background: linear-gradient(123deg, #EE0979, #FF6A00);
    /* background: linear-gradient(123deg, #D4FC79, #96E6A1); */
    /* background: linear-gradient(to right, #3926AD, #C367D6); */

    font-family: "Coiny", system-ui;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.gradient_button{
    /* background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44) !important; */
    /* background: linear-gradient(to right, #30CFD0 0%, #330867 100%); */
    /* background: linear-gradient(35deg, #FFF800, #FF1361, #44107A, #231557); */

    /* background: linear-gradient(to right, #EE0979, #FF6A00); */
    /* background: linear-gradient(to right, #3926AD, #C367D6); */

    /* background: linear-gradient(to bottom right, #EE0979, #FF6A00); */
    background: linear-gradient(to top right, #1f6fbe, #01b93b);
    color: white !important;
    /*     -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important; */
}