
input[type='checkbox']{
    accent-color: #24D0D0 !important;
}

.flex{
    display: flex;
}
.align-items{
    align-items: center;
}
.justify{
    justify-content: center;
}

.blue{
    color:rgba(10, 28, 75, 1);
}
.px17{
    font-size: 17px;
}


.max-w-598px{
    max-width: 598px;
}

.w-full{
    width: 100%;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.bg-white{
    background-color: white;
}



/*  */
/*  */
/*  */
/*  */
/*  */

.Chinook-img{
    background: url('https://source.unsplash.com/random/400×400/?doctor');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}



.input-tc-form-field:hover{
    border-color: #6AA7BF;
}


.input-tc-form-field:focus,
.input-tc-form-field:not(:placeholder-shown){
    border-color: #24D0D0;
}
/* #24D0D0 */

.input-tc-form-field:hover ~ .input-field-icon-seperator{
    background-color: #6AA7BF;
}
.input-tc-form-field:focus ~ .input-field-icon-seperator,
.input-tc-form-field:not(:placeholder-shown) ~ .input-field-icon-seperator{
    background-color: #24D0D0;
}
.input-tc-form-field:focus ~ .input-tc-field-svg-icon path,
.input-tc-form-field:not(:placeholder-shown) ~ .input-tc-field-svg-icon path{
    fill: #24D0D0;
}
.input-tc-form-field:focus ~ .input-tc-field-label,
.input-tc-form-field:not(:placeholder-shown) ~ .input-tc-field-label{
    color: #24D0D0 ;
    top: 0;
    font-size: 14px;
}
