{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/images/TraumaCareIcon.png' %}" type="image/x-icon">
    
    
    <meta name="keywords" content="traumacare, traumacare.pk, health, healthcare, online healthcare application, trauacare health, emergency, health wire, sehat, medicine, dawai, health, order medicine online, order medicine, traumacare, order medicine on traumacare, order medicine online on traumacare, traumacare pk, pakistan's number 1 health care application, pakistans number 1 traumacare application, pak traumacare, traumapak" />


    <title>{% block title %}{% endblock title %} - TraumaCare</title>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/UtlityClasses/utility.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/UtlityClasses/Notifier.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

    {% block mainBaseCSS %}
    {% endblock mainBaseCSS %}

</head>
<body>
    {% include 'Components/Loader.html' %}

    <div class="main-tc-notifiers" main-tc-notifiers>
        {% for msg in messages %}
            {% include 'Components/Notifier/Toaster.html' with text=msg type=msg.tags %}
        {% endfor %}
    </div>

    {% block mainBaseBody %}

    
    {% endblock mainBaseBody %}



    <script src="{% static 'assets/js/global_script.js' %}?version=1"></script>
    <script src="{% static 'assets/js/Notifier.js' %}?version=1"></script>
    <script src="{% static 'assets/tailwind/tailwind.js' %}?version=1"></script>

    {% block main_base_script %}
    {% endblock main_base_script %}

    
</body>
</html>
