
{% extends 'Components/Base.html' %}
{% load static %}
{% block title %}Dr. {{doctor.name}} - {{doctor.heading}} - Profile View{% endblock title %}
{% block meta_description %}Dr. {{doctor.name}} - {{doctor.heading}} - {{doctor.desc}}{% endblock meta_description %}

{% block BaseCSS %}

    <link rel="stylesheet" href="{% static 'assets/css/Doctor-View-profile.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <style>
      .ask-questions-main:hover .ask-questions-main-svg svg{
            transform: rotate(180deg);
            transition: all 0.4s !important;
      }
      @media (max-width:371px) {
            .Dermatologist-main-TC{
                  justify-content: center;
            }
            .Dermatologist-main-TCp1{
                  text-align: center;
            }
      }
      @media (max-width:1024px){
            .education-cards{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
            }
      }
      .education-cards-main{
            flex-wrap: wrap;
            justify-content: center;
      }
      @media (max-width:500px){
            .ask-questions-main{
                  padding-top: 9px !important;
                  padding-bottom: 9px !important;
            }
            .ask-questions-main-image{
                  height: 28px !important;
                  width: 28px !important;
            }
            .ask-questions-main-text{
                  font-size: 13px;
            }
            .ask-questions-main-svg svg{
                  height: 10px;
                  width: 10px;
            }
            .ask-questions-main-text-1{
                  text-align: center;
                  font-size: 13px !important;
                  line-height: 16px !important;
            }
            .position-text-main-TC{
                  padding-top: 68px !important;
            }
      }
      @media (max-width:767px){
            .doctor-main-heading-TC{
                  display: flex;
                  align-items: center;
                  justify-content: center;
            }
      }

      .dr-appointment-slot-card-input:checked + label{
            border-color: #0A1C4B ;
            background-color: #0A1C4B;
            color: white;
      }
      .slot-time-interval-radio:checked + label{
            border-color: #0A1C4B ;
            background-color: #0A1C4B;
            color: white;
      }
      html {
            --progress: {{rating_percentage}};
      }
      .circular-progress {
            --size: 250px;
            --half-size: calc(var(--size) / 2);
            --stroke-width: 5px;
            --radius: calc((var(--size) - var(--stroke-width)) / 2);
            --circumference: calc(var(--radius) * pi * 2);
            --dash: calc((var(--progress) * var(--circumference)) / 100);
      }

      .circular-progress circle {
            cx: var(--half-size);
            cy: var(--half-size);
            r: var(--radius);
            stroke-width: var(--stroke-width);
            fill: none;
            stroke-linecap: round;
      }

      .circular-progress circle.fg {
            transform: rotate(-90deg);
            transform-origin: var(--half-size) var(--half-size);
            stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
            transition: stroke-dasharray 0.3s linear 0s;
      }
    </style>

{% endblock BaseCSS %}

{% block baseBody %}
<main class="px-4 sm:px-6 md:px-8 py-7">
      <section class="max-w-[1500px] mx-auto">
            <div class="flex gap-4 flex-col lg:flex-row">
                  <div class="flex-[2] flex flex-col">
                        <div class="bg-white rounded-2xl px-5 py-4 border border-[#CACBE6]">
                              <div class="flex gap-7 flex-col md:flex-row">
                                    <div class="space-y-6">
                                          <div class="p-1 rounded-full max-w-max mx-auto {% if rating_percentage > 80 %}bg-green-600{% elif rating_percentage < 50 %}bg-red-600{% else %}bg-[#F4C004]{% endif %}">
                                                <div class="size-44 rounded-full relative" id="userProfileImage" style="background: url({{doctor.profile_image}}); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                                          </div>
                                          <!-- <svg width="198" height="198" viewBox="0 0 250 250" class="circular-progress absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 ">
                                                <circle class="fg {% if rating_percentage > 80 %}stroke-red-600{% elif rating_percentage < 50 %}stroke-red-600{% else %}stroke-[#F4C004]{% endif %}"></circle>
                                          </svg> -->
                                          <div class="flex items-center justify-center">
                                                <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor"><g id="thumbnail-svg">
                                                      <path class="fill-gray-800" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></g>
                                                </svg>
                                                <p class="text-center text-[#151E2C] text-md outfit-font">{{rating_percentage}}%</p>
                                          </div>
                                    </div>
                                    <div class="flex-1">
                                          <div class="flex-1 flex items-center md:items-start justify-between flex-col md:flex-row gap-3 md:gap-6">
                                                <div class="max-w-[500px] space-y-1">
                                                      <div class="flex items-center gap-2">
                                                            <h1 class="text-2xl font-semibold text-[#151E2C] outfit-font line-clamp-1">Dr. {{doctor.name}}</h1>
                                                            {% if doctor.is_approved %}
                                                                  <div class="size-5 rounded-full relative">
                                                                        <svg class="h-full w-full fill-[#0866ff]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M211 7.3C205 1 196-1.4 187.6 .8s-14.9 8.9-17.1 17.3L154.7 80.6l-62-17.5c-8.4-2.4-17.4 0-23.5 6.1s-8.5 15.1-6.1 23.5l17.5 62L18.1 170.6c-8.4 2.1-15 8.7-17.3 17.1S1 205 7.3 211l46.2 45L7.3 301C1 307-1.4 316 .8 324.4s8.9 14.9 17.3 17.1l62.5 15.8-17.5 62c-2.4 8.4 0 17.4 6.1 23.5s15.1 8.5 23.5 6.1l62-17.5 15.8 62.5c2.1 8.4 8.7 15 17.1 17.3s17.3-.2 23.4-6.4l45-46.2 45 46.2c6.1 6.2 15 8.7 23.4 6.4s14.9-8.9 17.1-17.3l15.8-62.5 62 17.5c8.4 2.4 17.4 0 23.5-6.1s8.5-15.1 6.1-23.5l-17.5-62 62.5-15.8c8.4-2.1 15-8.7 17.3-17.1s-.2-17.4-6.4-23.4l-46.2-45 46.2-45c6.2-6.1 8.7-15 6.4-23.4s-8.9-14.9-17.3-17.1l-62.5-15.8 17.5-62c2.4-8.4 0-17.4-6.1-23.5s-15.1-8.5-23.5-6.1l-62 17.5L341.4 18.1c-2.1-8.4-8.7-15-17.1-17.3S307 1 301 7.3L256 53.5 211 7.3z"/></svg>
                                                                        <span class="absolute h-fulll w-full inset-0 flex items-center justify-center">
                                                                              <svg class="size-2.5 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                                                        </span>
                                                                  </div>
                                                            {% endif %}
                                                      </div>
                                                      <p class="text-[#111111] text-sm font-medium md:text-start text-center line-clamp-2">{{doctor.heading}}</p>
                                                      <div class="flex items-center justify-center md:justify-start gap-4">
                                                            <p class="text-green-600">{% if doctor.years_of_experience %}<span class="underline"><span class="text-lg font-semibold">{{doctor.years_of_experience}} </span> years of Experience</span>{% else %}Experience Less than a year{% endif %}</p>
                                                      </div>
                                                </div>
                                                <div>
                                                      <a href="{% url 'BookAppointmentPage' %}?doctor={{doctor.slug}}&mode=Online" class="text-sm  text-center block px-9 py-2 rounded-md bg-[#05d57c] text-white outfit-font whitespace-nowrap">Consult Online</a>
                                                      <a href="{% url 'BookAppointmentPage' %}?doctor={{doctor.slug}}" class="text-sm  text-center block px-9 mt-2 py-2 rounded-md bg-[#0555e9] text-white outfit-font whitespace-nowrap">Visit in Clinic</a>
                                                </div>
                                          </div>
                                          <p class="!mt-5 text-[#3C3C3C] text-sm line-clamp-4 text-center outfit-font md:text-start">{{doctor.desc|safe}}</p>
                                    </div>
                              </div>
                        </div>
                        {% if lowest_rate_suggested|length > 0 %}
                              <div class="py-5 space-y-4">
                                    <p class="text-xl font-medium text-[#151E2C] Private outfit-font">Top Suggested at lowest Price</p>
                                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 overflow-auto">
                                          {% for sug_doctor in lowest_rate_suggested %}
                                                <a href="{% url 'DoctorProfilePage' sug_doctor.slug %}" class="border border-[#CACBE6] rounded-md flex min-w-[200px] max-w-[700px] w-full gap-2 overflow-hidden">
                                                      <div class="bg-center w-[86px] bg-cover bg-no-repeat" style="background-image: url({{sug_doctor.profile_image}});"></div>
                                                      <div class="py-2 pr-3 flex-1">
                                                            <h3 class="text-md font-medium text-[#151E2C] outfit-font line-clamp-1">Dr. {{sug_doctor.name}}</h3>
                                                            <p class="text-[#111111] text-xs outfit-font line-clamp-1">{{sug_doctor.heading|truncatechars:30}}</p>
                                                            <p class="text-[#05D57C] text-[23px] outfit-font font-semibold italic flex items-center gap-1">{{sug_doctor.fee_range.0}} <span class="font-medium text-[#151E2C] text-xs">PKR</span></p>
                                                      </div>
                                                </a>
                                          {% endfor %}
                                    </div>
                              </div>
                        {% endif %}
      
                        {% if online_availability|length > 0 %}
                              <div id='AvailableForOnlineVideoConsultation' class="flex flex-col gap-3">
                                    <p class="text-2xl font-semibold text-[#000] Private">In Video Call</p>
                                    <div>
                                          {% for date, online_ava in online_availability.items %}
                                                <form action="{% url 'BookAppointment_DoctorPage' %}" method="get" class="border border-[#CACBE6] p-4 mb-4 rounded-2xl">
                                                      {% csrf_token %}
                                                      <input type="text" class="hidden" required value="{{doctor.id}}" name="doctor">
                                                      <div class="">
                                                            <input type="text" class="hidden" required name="selected_date" value="{{online_ava.day_date}}">
                                                            <div class="flex items-center justify-between mb-3">
                                                                  <p class="font-semibold group-hover:text-white"><span class="inline-flex items-center gap-2 outfit-font">{{online_ava.label}}</span></p>
                                                                  <a href="{% url 'BookAppointmentPage' %}?doctor={{doctor.slug}}&mode=Online" class="text-sm text-[#0755E9] underline">Other Time?</a>
                                                            </div>
                                                            <div class="grid gap-4 {% if online_ava.slots|length > 1 %}grid-cols-2{% else %}grid-cols-1{% endif %}">
                                                                  {% for slot in online_ava.slots %}
                                                                        {% with slot_intervals=slot.model_slots_intervals%}
                                                                              {% if slot_intervals|length > 0 %}
                                                                                    {% include 'Components/Doctor/Cards/viewProfileCardTiming_Online.html' with day_date=date slot_date=online_ava.slot_date slot=slot price=slot.final_price %}
                                                                              {% endif %}
                                                                        {% endwith %}
                                                                  {% endfor %}
                                                            </div>
                                                      </div>
                                                      <button class="block w-full font-medium text-white rounded-md bg-gradient-to-r from-[#0755E9] to-[#05DC75] px-5 py-3 text-md mt-4 block">
                                                            <p class="text-center">Book an appointment instantly</p>
                                                      </button>
                                                </form>
                                          {% endfor %}
                                    </div>
                              </div>
                        {% endif %}
                        <div class="mb-4">
                              <div class="flex items-center my-3 justify-between">
                                    <p class="text-xl font-medium text-[#151E2C] Private outfit-font">What people think about <i>"{{doctor.name}}"</i></p>
                                    {% if doctor_reviews|length > 2 %}
                                          <p class="text-[#24D0D0] underline">View All Reviews</p>
                                    {% endif %}
                              </div>
                              <div class="flex items-center gap-4">
                                    {% if doctor_reviews|length == 0 %}
                                          <div class="border border-[#CACBE6] px-10 py-16 flex-1 rounded-2xl space-y-1.5">
                                                <p class="text-xl font-semibold text-center text-[#151E2C]">No Reviews yet</p>
                                                <span class="block text-center text-sm text-[#111111]">Be the first to provide a review. <a href="#" class="text-xs outfit-font text-[#0555E9]">Book Appointment</a></span>
                                          </div>
                                    {% endif %}
                                    {% for review in doctor_reviews|slice:":2" %}
                                          <div class="border p-6 rounded-2xl">
                                                <div class="flex items-center gap-[1px] mt-[12px]">
                                                      <svg width="11" height="19" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6.00197 13.2145C5.46838 16.1492 4.58375 18.2555 3.87465 19.5543C3.60083 20.0668 4.1625 20.6285 4.66098 20.3407C10.5796 16.8934 13.1773 11.8595 13.4932 7.82948C13.774 4.34714 11.401 0.766501 7.7993 0.113561C4.20463 -0.5464 0.757389 1.84069 0.10445 5.44239C-0.576573 9.21259 2.08433 12.8354 6.00197 13.2145Z" fill="#24D0D0"/>
                                                      </svg>   
                                                      <svg width="11" height="19" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6.00197 13.2145C5.46838 16.1492 4.58375 18.2555 3.87465 19.5543C3.60083 20.0668 4.1625 20.6285 4.66098 20.3407C10.5796 16.8934 13.1773 11.8595 13.4932 7.82948C13.774 4.34714 11.401 0.766501 7.7993 0.113561C4.20463 -0.5464 0.757389 1.84069 0.10445 5.44239C-0.576573 9.21259 2.08433 12.8354 6.00197 13.2145Z" fill="#24D0D0"/>
                                                      </svg>                             
                                                </div>
                                                <div class="flex flex-col gap-2 py-6 pt-[0px] pl-[24px]">
                                                      <p class="text-[#909090]">“{{review.review}}”</p>
                                                      <div class="flex items-center gap-2">
                                                            <div>
                                                            <p class="font-bold text-[#24D0D0]">{{review.user.full_name}}</p>
                                                            <div class="flex items-center gap-1">
                                                                  {% for num in reviews_count %}
                                                                        {% if num > review.rating %}
                                                                              <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                    <path opacity="0.4" d="M4.10353 0.520123C4.43272 -0.173373 5.38386 -0.173375 5.71305 0.520122L6.28197 1.71866C6.4127 1.99405 6.66538 2.18493 6.95768 2.22909L8.22984 2.42128C8.96593 2.53249 9.25985 3.47299 8.72721 4.01281L7.80667 4.94574C7.59515 5.1601 7.49864 5.46895 7.54857 5.77163L7.76588 7.08895C7.89162 7.85118 7.12213 8.43244 6.46375 8.07257L5.3259 7.45061C5.06446 7.3077 4.75212 7.3077 4.49068 7.45061L3.35283 8.07257C2.69445 8.43244 1.92497 7.85118 2.0507 7.08895L2.26801 5.77163C2.31795 5.46895 2.22143 5.1601 2.00992 4.94574L1.08938 4.01281C0.556737 3.473 0.850653 2.53249 1.58674 2.42128L2.8589 2.22909C3.1512 2.18493 3.40389 1.99405 3.53461 1.71866L4.10353 0.520123Z" fill="#F4C004"/>
                                                                              </svg>
                                                                        {% else %}
                                                                              <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                    <path d="M3.28615 0.520123C3.61534 -0.173374 4.56648 -0.173375 4.89567 0.520122L5.46459 1.71866C5.59531 1.99405 5.848 2.18493 6.1403 2.22909L7.41246 2.42128C8.14855 2.53249 8.44246 3.47299 7.90982 4.01281L6.98928 4.94574C6.77777 5.1601 6.68125 5.46895 6.73119 5.77163L6.9485 7.08895C7.07424 7.85118 6.30475 8.43244 5.64637 8.07257L4.50852 7.45061C4.24708 7.3077 3.93474 7.3077 3.6733 7.45061L2.53545 8.07257C1.87707 8.43244 1.10758 7.85118 1.23332 7.08895L1.45063 5.77163C1.50056 5.46895 1.40405 5.1601 1.19253 4.94574L0.271994 4.01281C-0.260646 3.473 0.0332706 2.53249 0.769361 2.42128L2.04152 2.22909C2.33382 2.18493 2.5865 1.99405 2.71723 1.71866L3.28615 0.520123Z" fill="#F4C004"/>
                                                                              </svg>
                                                                        {% endif %}
                                                                  {% endfor %}
                                                            </div>
                                                      </div>
                                                      </div>
                                                </div>
                                          </div>
                                    {% endfor %}
                              </div>
                        </div>
                        <div class="rounded-xl border border-[#CACBE6] flex items-start py-2 px-5 sm:px-6 sm:py-4">
                              <div class="flex-1 space-y-5">
                                    <h4 class="text-xl font-medium text-[#151E2C] outfit-font">Education</h4>
                                    <ul>
                                          {% if educations|length == 0 %}
                                                <p class="text-sm text-[#111111]">No Education</p>
                                          {% endif %}
                                          {% for education in educations %}
                                                <li style="list-style: disc;" class="text-sm text-[#111111]">{{education.institute}} ({{education.degree_type}})</li>
                                          {% endfor %}
                                    </ul>
                              </div>
                              <div class="flex-1 space-y-5">
                                    <h4 class="text-xl font-medium text-[#151E2C] outfit-font">Experience</h4>
                                    <ul>
                                          {% if experiences|length == 0 %}
                                                <p class="text-sm text-[#111111]">No Education</p>
                                          {% endif %}
                                          {% for experience in experiences %}
                                                <li style="list-style: disc;" class="text-sm text-[#111111]">{{experience.speciality}}, {{experience.practice_institute}}</li>
                                          {% endfor %}
                                    </ul>
                              </div>
                        </div>
                        <div class="border border-[#CACBE6] rounded-xl p-4 sm:p-6 mt-4">
                              <p class="text-xl font-medium text-[#151E2C] outfit-font lg:text-start text-center">Frequently Asked Questions</p>
                              <div class="flex  flex-col  gap-[14px] flex-1 mt-10">
                                    {% for query in queries %}
                                          <div class="flex flex-col pt-[80px] rounded-t-3xl rounded-xl relative pb-[26px] tc-shadow position-text-main-TC">
                                                <div class="ask-questions-main rounded-[50px] top-[0%] absolute left-[0] right-[0] px-4 py-[9px] cursor-pointer tc-shadow gap-10  flex items-center justify-between">
                                                      <div class="flex items-center gap-3">
                                                            <img class="ask-questions-main-image h-[40px] w-[40px]" src="{% static 'assets/Images/Ellipse 527.png' %}" alt="">
                                                            <p class="ask-questions-main-text text-[#939393] line-clamp-1">{{query.question}}</p>                                    
                                                      </div>
                                                      <div class="ask-questions-main-svg">
                                                            <svg class="cursor-pointer" width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                  <path d="M7 0L13.0622 7H0.937822L7 0Z" fill="#557DE5"/>
                                                            </svg>
                                                      </div>
                                                </div>
                                                <p class="text-[#9A9A9A] text-sm px-4 leading-5 line-clamp-3 ask-questions-main-text-1">{{query.answer}}</p>
                                          </div>
                                    {% endfor %}
                              </div>
                              <div class="mt-7">
                                    <p class="text-lg font-medium text-[#151E2C] outfit-font">Ask Question</p>
                                    <form class="space-y-3" action="{% url 'DoctorAskQuestionHandler' doctor.id %}" method="post">
                                          {% csrf_token %}
                                          <input type="text" name="question" class="w-full px-4 py-2 rounded-lg border outline-none border-[#CACBE6]" placeholder="Write question here">
                                          <div class="flex items-center justify-end">
                                                <button class="font-medium text-white rounded-md bg-gradient-to-r from-[#0755E9] to-[#05DC75] px-7 py-2 text-md">Ask</button>
                                          </div>
                                    </form>
                              </div>
                        </div>
                  </div>
                  <div class="flex-1 flex flex-col gap-3">
                        <p class="text-xl font-medium text-[#151E2C] Private Clinics-heading outfit-font">Doctor's Chambers</p>
                        {% if practicing_locations|length == 0 %}
                              <div class="mb-4 rounded-md py-5">
                                    <p class="px-10 text-center text-[#111111] text-sm">The doctor is not affiliated with any hospital and does not have a private clinic.</p>
                              </div>
                        {% endif %}
                        {% for clinic in practicing_locations %}
                              <form action="{% url 'BookAppointment_DoctorPage' %}" method="get" class="border border-[#CACBE6] p-4 rounded-2xl">
                                    {% csrf_token %}
                                    <input type="text" required class="hidden" value="{{doctor.id}}" name="doctor">
                                    <div class="flex-1 flex items-center justify-between">
                                          <div class="flex gap-3 items-start">
                                                <a href="{% url 'ViewHospitalProfile' clinic.hospital.slug %}" class="w-[70px] h-[70px] rounded-full bg-center bg-no-repeat bg-cover" style="background-image: url('{{clinic.hospital.profile_image.file.url}}');"></a>
                                                <div class="flex-1 space-y-0.5">
                                                      <div class="flex items-center justify-between">
                                                            <a class="text-[#151E2C] line-clamp-1 font-medium outfit-font" href="{% url 'ViewHospitalProfile' clinic.hospital.slug %}">{{clinic.hospital.name}}</a>
                                                            <span class='text-xs outfit-font text-[#0555E9] flex gap-1'>
                                                                  <span class="whitespace-nowrap" ShowDistance='{{clinic.location.lat}},{{clinic.location.lng}}' ></span>
                                                            </span>
                                                      </div>
                                                      <p class="line-clamp-2 text-[#111111] text-xs">{{clinic.location.street_address}}</p>
                                                </div>
                                          </div>
                                          {% if clinic.highest_discount_day and clinic.highest_discount_day.discount > 0 %}
                                                {% include 'Components/PercentageOff.html' with percentage=clinic.highest_discount_day.discount day=clinic.highest_discount_day.day_abbr %}
                                          {% endif %}
                                    </div>
                                    <div class="mt-[16px]">
                                          {% with next_available=clinic.next_availability %}
                                                <input type="text" class="hidden" name="selected_date" required value="{{next_available.day_date}}">
                                                <input type="text" class="hidden" name="doct_hospital" required value="{{clinic.id}}">
                                                <div class="flex items-center justify-between">
                                                      <p class="font-semibold group-hover:text-white mb-2"><span class="inline-flex items-center gap-2 outfit-font">{{next_available.label}}</span></p>
                                                      <a href="{% url 'BookAppointmentPage' %}?doctor={{doctor.slug}}&hospital={{clinic.id}}" class="text-xs outfit-font text-[#0555E9] underline">Other Time?</a>
                                                </div>
                                                <div class="">
                                                      {% for slot in next_available.slots %}
                                                            {% with slot_intervals=slot.model_slots_intervals %}
                                                                  {% if slot_intervals|length > 0 %}
                                                                        {% include 'Components/Doctor/Cards/viewProfileCardTiming.html' with clinic=clinic clinic_id=clinic.id day_date=next_available.day_date slot_date=next_available.slot_date slot=slot price=slot.final_price %}
                                                                  {% endif %}
                                                            {% endwith %}
                                                      {% endfor %}
                                                </div>
                                          {% endwith %}
                                    </div>
                                    <button class="font-medium text-white rounded-md bg-gradient-to-r from-[#0755E9] to-[#05DC75] px-5 py-3 text-md block w-full block">
                                          <p class="text-center">Book an appointment instantly</p>
                                    </button>
                              </form>
                        {% endfor %}
                        <script>
                              let intervals = document.querySelectorAll('.slot-time-interval-radio')
                              let slots = document.querySelectorAll('.singleSlotCard input.dr-appointment-slot-card-input')
                              slots.forEach((slot) => {
                                    slot.addEventListener('change', (e) => {
                                          let input = e.target
                                          let slot_card = input.closest('.singleSlotCard')
                                          let slot_input = slot_card.querySelector('input[name="selected_time"]')
                                          slot_input.checked = true
                                    })
                              })
      
                              intervals.forEach((interval, index) => {
                                    if (index == 0) {
                                          interval.checked = true
                                          let slot_card = interval.closest('.singleSlotCard')
                                          let slot_input = slot_card.querySelector('input.dr-appointment-slot-card-input')
                                          slot_input.checked = true
                                    }
                                    interval.addEventListener('change', (e) => {
                                          let input = e.target
                                          let slot_card = input.closest('.singleSlotCard')
                                          let slot_input = slot_card.querySelector('input.dr-appointment-slot-card-input')
                                          console.log(slot_input)
                                          slot_input.checked = true
                                    })
                              })
                        </script>
                        <div class="sticky top-[100px] bg-white rounded-xl px-4 py-8 flex flex-col items-center border border-[#CACBE6] space-y-4">
                              {% include 'Components/SVG/doctorAppointmentMainSvg.html' %}
                              <p class="text-xl font-medium text-[#151E2C] Private outfit-font text-center">Book an Appointment</p>     
                              <p class="text-center text-sm text-[#111111]">Discover the best doctor, clinic & hospital in city nearest to you, Discover the best doctor, clinic & hospital in city nearest to  you, clinic & hospital in city nearest to you.</p>
                              <div class="flex items-center gap-2 flex-wrap justify-center !mt-6">
                                    <a href="{% url 'BookAppointmentPage' %}?doctor={{doctor.slug}}&mode=Online" class="block font-medium text-white rounded-md bg-[#05d57c] px-6 py-2.5 text-md cursor-pointer">
                                          <p class="whitespace-nowrap">Consult Online</p>
                                    </a>
                                    <a href="{% url 'BookAppointmentPage' %}?doctor={{doctor.slug}}" class="block font-medium text-white rounded-md bg-[#0555e9] px-6 py-2.5 text-md cursor-pointer">
                                          <p class="whitespace-nowrap ">Book Appointment</p>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="mt-7">
                  <p class="text-xl font-medium text-[#151E2C] Private outfit-font">Other Suggested</p>
                  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 md:gap-5 mt-4">
                        {% for suggested_doctor in suggested %}
                              {% include 'Components/Home/DoctorCard.html' with doctor=suggested_doctor %}
                        {% endfor %}
                  </div>
            </div>
      </section>
</main>
{% endblock baseBody %}
