<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
      margin: 0px;
      font-family: sans-serif;
      margin-top: 50px;
      background-color: #F2F2F2;
    "
  >
    <div>
      <div
        style="
          padding: 20px;
          border-radius: 20px;
          border : 1px solid #D9D9D9;
          background-color: #fff;
        "
      >
        <div
          style="display: flex; align-items: center; justify-content: center"
        >
          <img src="http://traumacare.redexpo.co.uk/media/random_files/images/Frame.png" alt="" />
        </div>
        <h3 style="text-align: center; color: #0A1C4B;">Verification code</h3>
        <div>
          <p style="color: #0A1C4B;">Hi Huzaifa,</p>
          <p style="color: #0A1C4B;">
            We received a request to get OTP through your email <br />
            address
            <span style="color: aqua ; cursor: pointer;"> Huzaifaofficial@gmail.com</span> your
            verification <br />
            code is here:
          </p>
          <div style="display: flex; align-items: center ; justify-content: center; background-color: #1c172a1a; padding:18px 5px;  border-radius: 15px;" >
                  <h3 style="margin:0; font-size : 24px; color: #0A1C4B; ">8</h3>
                  <h3 style="margin:0; font-size : 24px; color: #0A1C4B; margin-left: 5px;">2</h3>
                  <h3 style="margin:0; font-size : 24px; color: #0A1C4B; margin-left: 5px;">3</h3>
                  <h3 style="margin:0; font-size : 24px; color: #0A1C4B; margin-left: 5px;">4</h3>
                  <h3 style="margin:0; font-size : 24px; color: #0A1C4B; margin-left: 5px ">5</h3>
                  <h3 style="margin:0; font-size : 24px; color: #0A1C4B; margin-left: 5px">9</h3>
          </div>
          <p style="color: #0A1C4B;">If you did not request for this code, Please secure your  <br>
            account by changing your password.  <span style="font-weight: bold;">Do not forward </span>  <br>
            <span  style="font-weight: bold;">or give this code to anyone.  </span> 
            </p>
            <h3 style="font-size: 16px; font-weight: 500; color: #0A1C4B;">Thanks,</h3>
            <h3  style="font-size: 16px; font-weight: 500; color: #0A1C4B;">TraumaCare Team</h3>
            <hr>
            <h3 style="font-size: 16px; font-weight: bold; color: #0A1C4B; text-align: center;">OR</h3>
            <div style="background-color: #0A1C4B;   padding: 10px ; display: flex ; align-items: center ; cursor: pointer;  border-radius: 14px; justify-content: center;">
                  <h3 style="font-size: 16px; font-weight: 500; color:white; font-size: 14px; " >Verify your Email</h3>
            </div>
        </div>
      </div>
      <div style="display: flex ; align-items: center; justify-content: center; margin-top: 20px;">
            <img src="http://traumacare.redexpo.co.uk/media/random_files/images/Group_2627.png" alt="">
            <img src="http://traumacare.redexpo.co.uk/media/random_files/images/Group_2628.png" alt="" style="margin-left: 30px; cursor: pointer;">
          <img src="http://traumacare.redexpo.co.uk/media/random_files/images/Group_2629.png" alt="" style="margin-left: 30px; cursor: pointer;">
            <img src="http://traumacare.redexpo.co.uk/media/random_files/images/Group_2630.png" alt=""  style="margin-left: 30px; cursor: pointer;">
      </div>
    </div>
  </body>
</html>