<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
      margin: 0px;
      font-family: sans-serif;
      margin-top: 50px;
      background-color: #F2F2F2;
    "
  >
    <div 
    style="margin-left: auto;margin-right: auto; margin-top: 50px; margin-bottom: 50px; width: 100%;max-width: 400px;"
    >
      <div
        style="
            width: 100%;
            max-width: 400px;
            padding: 20px;
            border-radius: 20px;
            border : 1px solid #D9D9D9;
            background-color: #fff;
            margin-left: auto;
            margin-right: auto;
        "
      >
        <div
          style="display: flex; align-items: center; justify-content: center"
        >
          <img src="http://traumacare.redexpo.co.uk/media/random_files/images/Frame.png" alt="" style="display: block; margin-left: auto; margin-right: auto;" />
        </div>
        <h3 style="text-align: center; color: #0A1C4B; font-size: 26px;">Verification code</h3>
        <div>
          <p style="color: #0A1C4B;">Hi Huzaifa,</p>
          <p style="color: #0A1C4B;">
            We received a request to get OTP through your email address
            <span style="color: aqua ; cursor: pointer;"> Huzaifaofficial@gmail.com</span> your verification code is here:
          </p>
          <div style="display: flex; align-items: center ; justify-content: center; background-color: #1c172a1a; padding:18px 5px;  border-radius: 15px;" >
                <h3 style="margin:0; font-size : 24px; color: #0A1C4B; margin-left: auto; letter-spacing: 7px;text-align: center; margin-right: auto;">442332</h3>
          </div>
          <p style="color: #0A1C4B;">If you did not request for this code, Please secure your account by changing your password.  <span style="font-weight: bold;">Do not forward </span><span  style="font-weight: bold;">or give this code to anyone.  </span> 
            </p>
            <h3 style="font-size: 16px; font-weight: 500; color: #0A1C4B; margin: 0;">Thanks,</h3>
            <h3  style="font-size: 16px; font-weight: 500; color: #0A1C4B; margin: 0;">TraumaCare Team</h3>
            <hr>
            <span style="font-size: 16px; color: #0A1C4B; text-align: center; display: block; margin-right: auto; margin-left: auto; margin: 20px 0;">OR</span>
            <a href="#" target="_blank" style="background-color: #0A1C4B;   padding: 10px ; display: flex ; align-items: center ; cursor: pointer;  border-radius: 14px; justify-content: center;">
                <h3 style="font-size: 16px; font-weight: 500; color:white; font-size: 14px; margin-right: auto; margin-left: auto;" >Verify your Email</h3>
            </a>
        </div>
      </div>
      <div style="display:flex; align-items:'center'; justify-content: 'center'; margin-top: 20px;width: max-content;margin-left: auto; margin-right: auto;">
            <img src="http://traumacare.redexpo.co.uk/media/random_files/images/Group_2627.png" alt="">
            <img src="http://traumacare.redexpo.co.uk/media/random_files/images/Group_2628.png" alt="" style="margin-left: 30px; cursor: pointer;">
          <img src="http://traumacare.redexpo.co.uk/media/random_files/images/Group_2629.png" alt="" style="margin-left: 30px; cursor: pointer;">
            <img src="http://traumacare.redexpo.co.uk/media/random_files/images/Group_2630.png" alt=""  style="margin-left: 30px; cursor: pointer;">
      </div>
    </div>
  </body>
</html>