<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
      margin: 0px;
      font-family: sans-serif;
      margin-top: 50px;
      background-color: #F2F2F2;
    "
  >
    <div>
      <div
        style="
          /* box-shadow: 10px 30px 30px 20px rgba(192, 188, 188, 0.589); */
          padding: 20px;
          border-radius: 20px;
          border : 1px solid #D9D9D9;
          background-color: #fff;
        "
      >
        <div
          style="display: flex; align-items: center; justify-content: center"
        >
          <img src="https://drive.google.com/file/d/1sqC53Plnk5aentYwTtWUgP5urfOuuwkR/view?usp=sharing" alt="" />
        </div>
        <h3 style="text-align: center; color: #0A1C4B;">Welcome to TraumaCare</h3>
        <div>
          <p style="color: #0A1C4B;">Dear huzaifa,</p>
          <h4 style="color: #0A1C4B ; font-size: 15px; font-weight: 500; ">Greetings and thank you for reaching out to us! We <br>
             are delighted to hear from you and are committed to <br>
             providing you with the best possible service.
              <br><br>     
            As a healthcare web provider, we are dedicated to <br> ensuring that our users have access to reliable and <br> accurate information about their health and wellness. <br> Our platform offers a range of resources and tools to <br> help you make informed decisions about your <br> healthcare needs. <br>
            <br><br>
            Thank you again for your interest in our healthcare web, <br> <span style="font-weight: bolder;">we look forward to hearing from you soon.</span> 
             </h4>
        </div>
      </div>
      <div style="display: flex ; align-items: center; justify-content: center; margin-top: 20px;">
            <img src="./images/Group 2627.png" alt="">
            <img src="./images/Group 2628.png" alt="" style="margin-left: 30px; cursor: pointer;">
          <img src="./images/Group 2629.png" alt="" style="margin-left: 30px; cursor: pointer;">
            <img src="./images/Group 2630.png" alt=""  style="margin-left: 30px; cursor: pointer;">
      </div>
    </div>
  </body>
</html>