<div class="swiper doctors__slider relative !mt-12 flex items-center gap-3">
    <div class="swiper-wrapper">
        {% for doctor in doctors %}
            <div class="swiper-slide">
                {% include 'Components/Home/DoctorCard.html' with doctor=doctor %}
            </div>
        {% endfor %}
    </div>

    <button class="doctors__slider__left__nav absolute left-[30px] z-10 flex items-center justify-center size-9 bg-gradient-to-r from-[#518BE1] to-[#05DC75] p-1 rounded-full">
        <svg class="h-full w-full" viewBox="0 0 15 30" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.8416 7.97803L10.5477 6.70916L3.62991 13.7543C3.51839 13.8672 3.4303 14.001 3.3707 14.1481C3.31111 14.2951 3.28119 14.4525 3.28266 14.6112C3.28413 14.7699 3.31697 14.9267 3.37929 15.0727C3.44161 15.2186 3.53217 15.3508 3.64577 15.4616L10.6933 22.3806L11.9622 21.0879L5.34757 14.5938L11.8416 7.97803Z" fill="white"/>
        </svg>
    </button>
    <button class="doctors__slider__right__nav absolute right-[30px] z-10 flex items-center justify-center size-9 bg-gradient-to-r from-[#518BE1] to-[#05DC75] p-1 rounded-full">
        <svg class="h-full w-full" viewBox="0 0 15 30" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.15815 7.97803L4.45204 6.70916L11.3699 13.7543C11.4814 13.8672 11.5695 14.001 11.6291 14.1481C11.6886 14.2951 11.7186 14.4525 11.7171 14.6112C11.7156 14.7699 11.6828 14.9267 11.6205 15.0727C11.5581 15.2186 11.4676 15.3508 11.354 15.4616L4.30645 22.3806L3.03757 21.0879L9.65219 14.5938L3.15815 7.97803Z" fill="white"/>
        </svg>
    </button>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const swiper = new Swiper(".doctors__slider", {
            slidesPerView: 3,
            spaceBetween: 10,
            navigation: {
                nextEl: ".doctors__slider__right__nav",
                prevEl: ".doctors__slider__left__nav",
            },
            breakpoints: {
                320: {
                    slidesPerView: 1,
                },
                650: {
                    slidesPerView: 2,
                },
                800: {
                    slidesPerView: 3,
                },
                768: {
                    slidesPerView: 3,
                },
                1024: {
                    slidesPerView: 3,
                },
                1250: {
                    slidesPerView: 3,
                },
                1500: {
                    slidesPerView: 3,
                },
                1600: {
                    slidesPerView: 4,
                },
            },
            on: {
                slideChange: function () {
                    updateNavButtonsVisibility(this);
                },
                init: function () {
                    updateNavButtonsVisibility(this);
                },
            },
        });

        function updateNavButtonsVisibility(swiper) {
            const prevButton = document.querySelector(".doctors__slider__left__nav");
            const nextButton = document.querySelector(".doctors__slider__right__nav");

            if (swiper.isBeginning) {
                prevButton.style.display = "none";
            } else {
                prevButton.style.display = "flex";
            }

            if (swiper.isEnd) {
                nextButton.style.display = "none";
            } else {
                nextButton.style.display = "flex";
            }
        }
    });
</script>
